# Table of Contents
[1. Model Preparation](#1.-Model-Preperation)
<br>
* [1.1 Reviewing, Splitting data set](#1.1-Reviewing,-splitting-dataset-into-7:3-for-training-and-testing.)
* [1.2 Plotting features against target feature](#1.2-Plot-to-compare-all-features-to-target-feature-to-help-make-decisions-to-keep-for-the-models.)
    * [1.2.1 Plotting datetime feature against target feature](#Plotting-datetime-feature-against-target-feature)
    * [1.2.2 Plotting numerical features against target feature](#Plotting-numerical-features-against-target-feature)
    * [1.2.3 Plotting categorical features against target feature](#Plotting-categorical-features-against-target-feature)
* [1.3. Summary of all features](#1.3.-Summary-of-all-features)
    * [1.3.1 Numerical Features](#Numerical-Features)
    * [1.3.1 Cateogrical Features](#Categorical-Features)
* [2. Linear Regression](#2.-Linear-Regression)
* [3. Route model and taking the proportion of the prediction to calculate a journey time for the user](#3.-Route-model-and-taking-the-proportion-of-the-prediction-to-calculate-a-journey-time-for-the-user.)
    * [3.1 Calculating the proportion of each stop from the overall trip](#3.1-Calculating-the-proportion-of-each-stop-from-the-overall-trip.)
* [4. Random Forest & Decision Trees](#4.-Random-Forest-&-Decision-Trees)
* [5. Stop pair model](#5.-Stop-pair-model)
    * [5.1 First version of paired stop approach](#5.1-First-version-of-paired-stop-approach)
    * [5.2.1 Setting up for 46a stop pair models using first approach](#5.2.1-Setting-up-for-46a-stop-pair-models-using-first-approach)
    * [5.3 Stop pair based on entire leavetimes](#5.3-Stop-pair-based-on-entire-leavetimes)

Establishing a connection with sqlite database

In [ ]:
# import boto3
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import sqlite3
import pickle

# from sagemaker import get_execution_role
from patsy import dmatrices
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from math import log
from statistics import stdev
from statistics import mode


# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Connecting to s3
# role = get_execution_role()
# bucket='sagemaker-studio-520298385440-7in8n1t299'
# data_key = 'route_46a.feather'
# data_location = 's3://{}/{}'.format(bucket, data_key)

In [ ]:
# def function to create connection to db
def create_connection(db_file):
    """
    create a database connection to the SQLite database specified by db_file
    :param df_file: database file
    :return: Connection object or None
    """
    conn = None
    try: 
        conn = sqlite3.connect(db_file)
        return conn
    except 'Error' as e:
        print(e)
        
    return conn

In [ ]:
# create connection to db
db_file = "C:/Users/fayea/UCD/ResearchPracticum/Data-Analytics-CityRoute/dublinbus.db"
conn = create_connection(db_file)

In [ ]:
# initialise query
query = """
SELECT leavetimes.*, weather.*
FROM leavetimes, weather
WHERE TRIPID in  
    (SELECT TRIPID
    FROM trips
    WHERE LINEID = '46A' AND DIRECTION = '1')
AND leavetimes.DAYOFSERVICE = weather.dt;
"""

In [ ]:
# execute query and read into dataframe
query_df = pd.read_sql(query, conn)

# 1. Model Preperation

In [ ]:
# Loading file
df = query_df

## 1.1 Reviewing, splitting dataset into 7:3 for training and testing.

In [ ]:
df.head(5)

In [ ]:
df.tail(5)

In [ ]:
# Missing values
df.isnull().sum()

In [ ]:
# Unique types for each feature
df.nunique()

In [ ]:
# Datatypes and convert
df.dtypes

In [ ]:
# Rows and columns
df.shape

**Review so far:**
<br>
There are no more missing values and the constant columns have been removed.
* Remove index, index, dt.
* Investigate level_0.
* Convert the following to categorical: DAYOFWEEK, MONTHOFSERVICE, PROGRNUMBER, STOPPOINTID, VEHICLEID, IS_HOLIDAY, IS_WEEKDAY, TRIPID, weather_id, weather_main, weather_description
* We have data for most of the days of the year and for each month.

In [ ]:
df = df.drop(['index', 'level_0', 'dt'], axis=1)

In [ ]:
# Sorting by trip then dayofservice
df = df.sort_values(by=['TRIPID', 'DAYOFSERVICE', 'PROGRNUMBER'])

In [ ]:
# Creating features
categorical_features = ['DAYOFWEEK', 'MONTHOFSERVICE', 'PROGRNUMBER', 'STOPPOINTID', 'PREVIOUS_STOPPOINTID',
                       'IS_HOLIDAY', 'IS_WEEKDAY', 'TRIPID', 'VEHICLEID', 'weather_id', 'weather_main', 'weather_description']

datetime_features = ['DAYOFSERVICE']

numerical_features = ['PLANNEDTIME_ARR', 'ACTUALTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_DEP',
                     'DWELLTIME', 'PLANNEDTIME_TRAVEL', 'temp', 'pressure', 'humidity', 'wind_speed', 'wind_deg', 'rain_1h', 'clouds_all']

target_feat = 'ACTUALTIME_TRAVEL'

In [ ]:
# Converting object to categorical
for column in categorical_features:
    df[column] = df[column].astype('category')
    
# Converting dayofservice to datetime
df['DAYOFSERVICE'] = pd.to_datetime(df['DAYOFSERVICE'])

In [ ]:
# Replacing PROGRNUMBER equal to 1 of ACTUALTIME_TRAVEL with 0
df.loc[df['PROGRNUMBER'] == '1', 'ACTUALTIME_TRAVEL'] = 0
df.loc[df['PROGRNUMBER'] == '1', 'PLANNEDTIME_TRAVEL'] = 0

In [ ]:
df.loc[df['PLANNEDTIME_TRAVEL'] < 0, 'PLANNEDTIME_TRAVEL'] = 0
df.loc[df['ACTUALTIME_TRAVEL'] < 0, 'ACTUALTIME_TRAVEL'] = 0

In [ ]:
# Making new feature for previous stoppointid and let those with PROGRNUMBER = 1 to 0
# df['PREVIOUS_STOPPOINTID'] = df['STOPPOINTID'].shift()
# first_stop = {'0':'0'}
# df['PREVIOUS_STOPPOINTID'] = df['PREVIOUS_STOPPOINTID'].cat.add_categories(first_stop)
# df.loc[df['PROGRNUMBER'] == '1', 'PREVIOUS_STOPPOINTID'] = '0'

<br><br>
Setting the target feature as _y and x_ as the remaining features in the dataframe. 
<br><br>

In [ ]:
df.set_index(np.random.permutation(df.index))
# sort the resulting random index
df.sort_index(inplace=True)
df.head(5)

In [ ]:
# Creating y and x axis
target_feature = df['ACTUALTIME_TRAVEL']
y = pd.DataFrame(target_feature)
X = df.drop(['ACTUALTIME_TRAVEL'], axis=1)

# Splitting dataset for train and testing data by 70/30
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

# Printing shape of the new split data
print("The original range is: ",df.shape[0])
print("The training range (70%):\t rows 0 to", round(X_train.shape[0]))
print("The test range (30%): \t rows", round(X_train.shape[0]), "to", round(X_train.shape[0]) + X_test.shape[0])

In [ ]:
X_train.head(5)

## 1.2 Plot to compare all features to target feature to help make decisions to keep for the models.

#### Plotting datetime feature against target feature

In [ ]:
# Plot datetime feature against target feature
X_train.DAYOFSERVICE = pd.to_numeric(X_train.DAYOFSERVICE)
df_temp = pd.concat([X_train['DAYOFSERVICE'], y_train], axis=1)
correlation_dt = df_temp[['DAYOFSERVICE', 'ACTUALTIME_TRAVEL']].corr(method='pearson')
correlation_dt

In [ ]:
fig = plt.figure()
ax = fig.add_subplot
df_temp.plot(kind='scatter', x='DAYOFSERVICE', y='ACTUALTIME_TRAVEL', label = "%.3f" % df_temp[['ACTUALTIME_TRAVEL', 'DAYOFSERVICE']].corr().to_numpy()[0,1], figsize=(15, 8))

#### Plotting numerical features against target feature

In [ ]:
for column in numerical_features:
    df_temp = pd.concat([X_train[column], y_train], axis=1)
    correlation_dt = df_temp[[column, 'ACTUALTIME_TRAVEL']].corr(method='pearson')
    print('\n',correlation_dt)

Using pearson correlation, we see that the correlation between

In [ ]:
for column in numerical_features:
    df_temp = pd.concat([X_train[column], y_train], axis=1)
    correlation_dt = df_temp[[column, 'ACTUALTIME_TRAVEL']].corr(method='spearman')
    print('\n',correlation_dt)

In [ ]:
for column in numerical_features:
    df_temp = pd.concat([X_train[column], y_train], axis=1)
    fig = plt.figure()
    ax = fig.add_subplot
    df_temp.plot(kind='scatter', x=column, y='ACTUALTIME_TRAVEL', label = "%.3f" % df_temp[['ACTUALTIME_TRAVEL', column]].corr(method='pearson').to_numpy()[0,1], figsize=(12, 8))

In [ ]:
for column in numerical_features:
    df_temp = pd.concat([X_train[column], y_train], axis=1)
    fig = plt.figure()
    ax = fig.add_subplot
    df_temp.plot(kind='scatter', x=column, y='ACTUALTIME_TRAVEL', label = "%.3f" % df_temp[['ACTUALTIME_TRAVEL', column]].corr(method='spearman').to_numpy()[0,1], figsize=(12, 8))

In [ ]:
df_numeric = df[numerical_features]
for feature in df_numeric:
    df_numeric[feature] = np.log(df_numeric[feature])
df_numeric['ACTUALTIME_TRAVEL'] = np.log(df['ACTUALTIME_TRAVEL'])

In [ ]:
# Creating y and x axis
target_feature_numeric = df_numeric['ACTUALTIME_TRAVEL']
y_numeric = pd.DataFrame(target_feature_numeric)
X_numeric = df_numeric.drop(['ACTUALTIME_TRAVEL'], axis=1)

# Splitting dataset for train and testing data by 70/30
X_train_numeric, X_test_numeric, y_train_numeric, y_test_numeric = train_test_split(X_numeric, y_numeric, test_size=0.3, random_state=1)

# Printing shape of the new split data
print("The original range is: ",df.shape[0])
print("The training range (70%):\t rows 0 to", round(X_train_numeric.shape[0]))
print("The test range (30%): \t rows", round(X_train_numeric.shape[0]), "to", round(X_train_numeric.shape[0]) + X_test_numeric.shape[0])

for column in numerical_features:
    df_temp = pd.concat([X_train_numeric[column], y_train_numeric], axis=1)
    fig = plt.figure()
    ax = fig.add_subplot
    df_temp.plot(kind='scatter', x=column, y='ACTUALTIME_TRAVEL', label = "%.3f" % df_temp[['ACTUALTIME_TRAVEL', column]].corr(method='spearman').to_numpy()[0,1], figsize=(12, 8))

#### Plotting categorical features against target feature

In [ ]:
year_features = ['DAYOFWEEK', 'IS_HOLIDAY', 'IS_WEEKDAY', 'MONTHOFSERVICE', 'weather_id', 'weather_main', 'weather_description']

for feature in year_features:
    print(feature)
    df_temp = pd.concat([X_train, y_train], axis=1)
    unique = df_temp[feature].unique()
    list_average = []
    
    for value in unique:
        list_values = df_temp[df_temp[feature]== value]['ACTUALTIME_TRAVEL'].tolist()
        length_list = len(list_values)
        average =  sum(list_values)/length_list
        list_average += [average]
#         print(f'Sum of values / list of values: \n {sum(list_values)} / {length_list}')
#         print(f'Average ACTUALTIME_TRAVEL: {average}, \n')
        
    # taken from https://pythonspot.com/matplotlib-bar-chart/
    y_pos = np.arange(len(unique))
    plt.bar(y_pos, list_average, align='center')
    plt.xticks(y_pos, unique)
    plt.ylabel('Usage')
    plt.title(feature)
    plt.xticks(rotation=90)

    plt.show()

I think there is some outliers in ACTUALTME_TRAVEL. The averages are all in negatives which suggests that the travel times. Would that be an outlier if the negative values are very great? 
<br><br>
**DAYOFWEEK:**
The lowest average is Sunday and the busiest is Monday. So it does make a difference.
<br><br>
**IS_WEEKDAY:**
The same comment that there is a difference in average times.
<br><br>
**MONTHOFSERVICE:**
Interestingly enough, they have difference averages depending on each month with August being the least busiest and April being the busiest. It must have something to do with the weather maybe?

In [ ]:
# Average time for each vehicle id
df_temp = pd.concat([X_train, y_train], axis=1)
vehicleid = df_temp['VEHICLEID'].unique().tolist()
for id_ in vehicleid:
    print(f'VEHICLEID: {id_}')
    list_values = df_temp[df_temp['VEHICLEID']== id_]['ACTUALTIME_TRAVEL'].tolist()
    length_list = len(list_values)
    average =  sum(list_values)/length_list
    print(f'Average ACTUALTIME_TRAVEL: {average} \n')

In [ ]:
# Making dummy variables for categorical 
cat = ['DAYOFWEEK', 'MONTHOFSERVICE', 'PROGRNUMBER', 'STOPPOINTID', 'IS_HOLIDAY', 'IS_WEEKDAY', 'weather_id', 'weather_main', 'weather_description']
df_temp = pd.concat([X_train, y_train], axis=1)
df_copy = df_temp.copy()
df_copy = df_copy[cat]
df_copy = pd.get_dummies(df_copy)
df_copy = pd.concat([df_copy, y_train], axis=1)

categorical_corr = df_copy.corr()['ACTUALTIME_TRAVEL'][:]

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(categorical_corr)

In [ ]:
categorical_list = categorical_corr[categorical_corr > 0.04].index.tolist()
categorical_list.remove('ACTUALTIME_TRAVEL')

In [ ]:
categorical_list

## 1.3. Summary of all features
<br><br>
#### Numerical Features
<br><br>

**DayOfService:**
* The correlation to the target feature is very low of 0.03806.
* Don't see it being a useful feature for the target feature. 
* Plot represents a straight line, which suggests little to no correlation.
* Conclusion: dropped because of the low correlation score. 

**PlannedTime_Arr:**
* There is very low correlation against the target feature though it gets better using spearman correlation.
* After logging the data, the correlation plot did not make a huge difference when using the spearman method to plot it for the second time. 
* Pearson and spearman plot pre log suggests little correlation as it is a continuous straight line. However, this shouldn't mean it should be dropped.
* When most values in the target feature fell less than 10, we see that the plannedtime arrival values increasing, it didn't change much. This would be due to the fact that the target feature is the difference between times so it would make sense that the relationship is poor.
* After logging the data, the plot is more spread out instead of a straight line, but the correlation score still shows a similar low score with a .02 difference using the spearman method. 
* Conclusion: However, this will be dropped.

**ActualTime_Arr:**
* Compared to Planned time arrival feature, the pearson correlation score is poorer but the spearman scores are more similar pre log. 
* It is similar to planned time arrival in that the plot represents a straight line, that suggests a poor relationship with the target feature. 
* After logging the data, it is found that the plot is more spread out. The score using spearman is not much different pre logging the data. 
* However, it would be unwise to drop this feature as it I feel it would serve good purpose for the target feature for predicting the prediction time for the next stop. 
* Conclusion: this will be dropped.

**PlannedTime_Dep:**
* Planned time departure has little correlation with the target feature after looking at spearman and pearsons. 
* It doesn't have a linear relationship and the straight line on the plot of both methods proves this.
* However, when plotted using the logged values we see that the correlation score hasn't changed but the data is more spread out. 
* This doesn't change the relationship much, however. 
* Even so, this will be kept as I feel it would help the predictions. Having the planned time departures would help skew a better result because it would relatively be close to the actual time departure even though it is just an estimate.
* Conclusion: this will be dropped 

**ActualTime_Dep:**
* Actual time departure is again, more or less the same. It represents the departure for these times at a particular stop to go to the next stop. It is strange that the correlation is so low even after logging the data but it would make sense as you wouldn't expect there to be a linear relationship.
* The plot is similar to the rest of the previous features mentioned so far. 
* However, it will still be kept because I feel it would still be a useful feature for predicting a time in seconds. 
* By taking the actual time departure for a particular stop it may help.
* Conclusion: this will be dropped.

**Dwell Time:**
* Dwell time has a 0.03 coorelation score with the target feature. It suggests on the graph that the time for dwell time equal to 0 then the more the target feature time increases. It might suggest traffic times where if a bus is full then it might be due to rush hour? busy hours?
* Plotting against the target feature after logging the data gives similar scores using the spearman correlation method. However we see the graph differing from pre log plot. It is more grouped up together compared to the previous graph plot.
* Because the score is more fairer compared to the previous, it will be useful to keep it for the modelling.
* Conclusion: dropped.

**PlannedTime_Travel:**
* When plotting using the pearse correlation method, it gave a correlation of 0.2. This time it is the highest correlation and we see a small linear relationship.
* The time for planned time travel, as it increases, so does the target feature. It gives us an indication of that slight linear relationship.
* Using spearmans to graph the correlation gave us a 0.7 score which is a good indication that the two features has a linear relationship.
* Because of this, this feature will be dropped.

**Temp:**
* Temp  has a negative 0.009 correlation with the target feature and an even poorer linear relationship at -.002.
* This indicates a poor linear/monotonic relationship and it will not serve useful for the model.
* The graph plots does not give anymore useful information that would give further evidence that it should be kept.
* Conclusion: drop.

**Pressure:**
* It also has a negative linear relationship with the target feature.
* When looking at the graph plots for both spearman and pearsons, it does not give any further insights.
* For this reason, this feature will be dropped.

**Humidity:**
* Humidity does not have a strong relationship with the target feature, be it linear or monotonic.
* The reason being the correlation using both methods fell < 0.00. 
* Unfortunately, the graph does not represent anything useful either.
* When looking at the logged data plots however, there is a slight difference however it is not signficant enough that this feature should still be kept as there is no distinct relationship that we can see.
* Conclusion: drop.

**Windspeed:**
* No linear relationship.
* Indicates a small monotonic relationship.
* This means that as the windspeed value increases, the value of the target feature tends to be higher as well.
* But a spearman correlation of 0.01 is not strong enough of a feature to keep.
* Conclusion: drop

**Wind_Deg:**
* This feature will be dropped immediately as the correalations are both <0.000.

**Rain_1H:**
* It doesn't have a strong linear relationship but it shows spearmans correlation some promising results when the data has been logged.


<br><br>
#### Categorical Features
<br><br>
**DayOfWeek:**
* In the graph we see the actual time travel increasing during weekdays and slowly the travel time is less during weekends. 
* This suggests a relationship between the days of the week and the target feature in which weekdays have a higher tendency for the actualtime travel feature to be higher.
* Conclusion: this will be kept.

**MonthofService:**
* In the graph, we don't really see a connection between each month against the target feature even if it is in order. 
* The overall actual travel time is higher in february before it dips, then rising during winter season.
* The correlation score seems to be poor also for each month. 
* This feature will still be kept. 

**Progrnumber:**
* Most progrnumbers will be dropped as a lot of the correlations are <0.00.
* For this reason, this feature will be dropped.
    
**StoppointID:**
* Similarly to progrnumbers, there are a lot of low correlations falling <0.00.
* Most stoppoint numbers are <0.00 correlation.
* This indicates a very low relationship with the target feature. 
* For this reason, this feature will be dropped, except for those with a correlation > 0.04
    
**Is_Holiday:**
* After analyzing the graph, we see a relationship between the target feature and whether or not the time falls under a holiday date (non-school holiday).
* If it a non holiday, the actual time travel increases. 
* If it is a holiday, the actual time travel decreases. 
* This means that less people are using public transport if it is a holiday date.
* For this reason, this feature will be kept.

**Is_Weekday:**
* Like Is_Holiday, we see a relationship between the target feature and whether or not the time is during a weekday or not. 
* We see a contrast between the two values in which 1, being a weekday, has a higher actual time travel, vice versa.
* For this reason, it is a good indication of a relationship to the target feature.
* Therefore, this feature will be kept. 

**VehicleID:**
* When looking at the different averages, we see that the average differences are not big.
* For this reason, it may be best to drop this feature because it doesn't give any indication it would be a useful feature to help the prediction models.

## 1.4 Cleaning up features

### Setting low correlation features - keep

In [ ]:
# Categorical features
low_corr_categorical = ['DAYOFWEEK', 'MONTHOFSERVICE', 'IS_HOLIDAY', 'IS_WEEKDAY']

### Setting low correlation features - drop

In [ ]:
# Numerical features
low_corr_numerical = ['PLANNEDTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_ARR', 'ACTUALTIME_DEP','PLANNEDTIME_TRAVEL']

low_corr = ['DAYOFSERVICE', 'VEHICLEID', 'TRIPID', 'STOPPOINTID', 'PREVIOUS_STOPPOINTID', 'PROGRNUMBER', 'temp', 'pressure', 'humidity', 
            'wind_speed', 'wind_deg', 'weather_id', 'weather_description', 'clouds_all', 'PREVIOUS_STOPPOINTID', 'PLANNEDTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_ARR', 'ACTUALTIME_DEP',
           'PLANNEDTIME_TRAVEL', 'DWELLTIME']

### Setting high correlation  features

In [ ]:
# Numerical features 
high_corr_numerical = ['DWELLTIME', 'PLANNEDTIME_TRAVEL']

### Dropping features & setting dummy features

In [ ]:
df_copy = df.copy()
df_copy = df_copy.drop(low_corr, 1)
df_copy

In [ ]:
df_copy = pd.get_dummies(df_copy)
df_copy

### Training & Testing data

In [ ]:
# All features
features = df_copy.columns.tolist()
features

In [ ]:
datas = {'ACTUALTIME_TRAVEL': df_copy['ACTUALTIME_TRAVEL']}
y = pd.DataFrame(data=datas)
X = df_copy.drop(['ACTUALTIME_TRAVEL'],1)

In [ ]:
# Splitting the dataset into 2 datasets: 
# Split the dataset into two datasets: 70% training and 30% test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1)

print("The Original range of the dataset: ",df.shape[0])
print("The Training range taken from dataset: (70%): rows 0 to", round(X_train.shape[0]))
print("The Test range taken from dataset: (30%): rows", round(X_train.shape[0]), "to", round(X_train.shape[0]) + X_test.shape[0])

In [ ]:
print("\nDescriptive features in X:\n", X_train.head(5))
print("\nTarget feature in y:\n", y_train.head(5))

In [ ]:
# I will reset the indexes of the training and test splits so we can see the X_train printout
# We will see that they are no longer in order and the next markdown cell I will reset the indexes.
X_train.head(5)

In [ ]:
# Using .reset_index 
# We see that they are in order again. 
X_train.reset_index(drop=True, inplace=True)
y_train.reset_index(drop=True, inplace=True)
X_test.reset_index(drop=True, inplace=True)
y_test.reset_index(drop=True, inplace=True)
X_train.head(10)

***

<br><br>
# 2. Linear Regression

In this section, I will be preparating a linear regression model. I will attempt to see the prediction overall.

## 2.1 Training a linear regression model to predict the target feature.

In [ ]:
linear_reg = LinearRegression().fit(X_train, y_train)

## 2.2 Printing out the coefficients learned by the model and discussing the role in the model.

In [ ]:
print("\nThe features are: \n", X_train.columns)
print("\nThe coefficients are: \n", linear_reg.coef_)
print("\n The intercept is: \n", linear_reg.intercept_)
print("\nFeatures and coefficients: \n", list(zip(X_train.columns, linear_reg.coef_[0])))

## 2.3 Printing the predicted target feature. Printing the predicted class for a few examples. Printing classification evaluation measures computed on the full training set.

In [ ]:
# Calculating the prediction and threshold value. 
linear_predictions_train_data = (linear_reg.predict(X_train))

In [ ]:
print("\nPredictions with multiple linear regression: \n")
actual_vs_predicted_multiplelinreg = pd.concat([y_train, pd.DataFrame(linear_predictions_train_data, columns=['Predicted'])], axis=1)
print(actual_vs_predicted_multiplelinreg.head(50))

In [ ]:
# Printing the a few classification evaluation measures computed on the full training set.
# The following will be printed: accuracy, confusion matrix, precision, recall, f1).
# Some more evaluation metrics.
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(y_train, linear_predictions_train_data)))
print("MSE Score: ", metrics.mean_squared_error(y_train, linear_predictions_train_data))
print("MAE Score: ", metrics.mean_absolute_error(y_train, linear_predictions_train_data))
print("R2 Score: ", metrics.r2_score(y_train, linear_predictions_train_data))

## 2. 4 Evaluating the model using classification evaluation measures on the hold-out (30% examples) test set.

In [ ]:
linear_predictions_testing = (linear_reg.predict(X_test))

print("\nPredictions that has multiple linear regression: \n")
actual_vs_predicted_multiple_linear_reg = pd.concat([y_test, pd.DataFrame(linear_predictions_testing, columns=['Predicted'])], axis=1)
print(actual_vs_predicted_multiple_linear_reg)

In [ ]:
# Printing the a few classification evaluation measures computed on the full training set.
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(y_test, linear_predictions_testing)))
print("MSE Score: ", metrics.mean_squared_error(y_test, linear_predictions_testing))
print("MAE Score: ", metrics.mean_absolute_error(y_test, linear_predictions_testing))
print("R2 Score: ", metrics.r2_score(y_test, linear_predictions_testing))

In [ ]:
# Taking a tripid from 46a and applying a prediction using Linear Regression model.
route_46a = df[(df['TRIPID'] == '8591174') & (df['DAYOFSERVICE']=='2018-12-23')]
route_46a = route_46a.drop(low_corr, 1)
route_46a = pd.get_dummies(route_46a)
actualtimes_46a = pd.DataFrame(route_46a['ACTUALTIME_TRAVEL'])
actualtimes_46a.reset_index(drop=True, inplace=True)
route_46a = route_46a.drop('ACTUALTIME_TRAVEL', 1)

In [ ]:
prediction_46a = linear_reg.predict(route_46a)
prediction_46a[0] = 0.0

In [ ]:
route_46a

In [ ]:
print("\nPredictions with multiple linear regression: \n")
actual_vs_predicted = pd.concat([actualtimes_46a, pd.DataFrame(prediction_46a, columns=['Prediction'])], axis=1, join='outer')
actual_vs_predicted.head(50)

In [ ]:
# Printing evaluation metrics
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(actualtimes_46a, prediction_46a)))
print("MSE Score: ", metrics.mean_squared_error(actualtimes_46a, prediction_46a))
print("MAE Score: ", metrics.mean_absolute_error(actualtimes_46a, prediction_46a))
print("R2 Score: ", metrics.r2_score(actualtimes_46a, prediction_46a))

***

<br><br>

# 3. Route model and taking the proportion of the prediction to calculate a journey time for the user.

## 3.1 Calculating the proportion of each stop from the overall trip.

In [ ]:
def proportion_stops(predictions):
    # Sum from the first stop until each stop
    sum_each_stop = np.zeros(predictions.shape[0], dtype=float)
    proportion_each_stop = np.zeros(predictions.shape[0], dtype=float)
    overall_prediction = np.sum(predictions)
    
    # Adding sum up until current stop and dividing by overall prediction to get proportion of the trip
    for length in range(predictions.shape[0]):
        sum_each_stop = np.append(sum_each_stop, [predictions[length]])
        sum_overall = np.sum(sum_each_stop) / overall_prediction*100
        proportion_each_stop[length] = sum_overall
        
    return proportion_each_stop

## 3.2 Return the progrnumber based off the stoppointid in a route

Finding the most common progrnumber based off the stoppointid. The reason for using to find the most common progrnumber is because it assumes that most route_id for each line would be always complete with the exception of a few trips in which they take a different route and skips some stops as a result.

In [ ]:
# Code taken from https://www.geeksforgeeks.org/python-find-most-frequent-element-in-a-list/

# array only accepts a panda Series or numpy array
def most_common(array):
    List = array.tolist()
    mode_list = mode(List)
    if mode_list == '1':
        return 0
    
    else:
        return(mode(List))

## 3.3 Calculating the journey time from a start to end destination based on user input

Finding the travel time duration based on a stoppointid then getting the progrnumber

In [ ]:
def journey_time(start,end, prediction):
    # Converting into int because the function returns a string
    start_progrnum = int(most_common(df['PROGRNUMBER'][df['STOPPOINTID']==start]))
    end_progrnum = int(most_common(df['PROGRNUMBER'][df['STOPPOINTID']==end]))
    
#     print(start_progrnum)
#     print(end_progrnum)

    proportion_array = proportion_stops(prediction)
    overall_prediction = np.sum(prediction)
    
    # calculating the time difference from start to end destination 
    start_prediction = (proportion_array[start_progrnum]/100) * overall_prediction
    end_prediction = (proportion_array[end_progrnum]/100) * overall_prediction
    
    journeytime = end_prediction - start_prediction
    
    # print(journeytime)
    
    return journeytime

In [ ]:
user_start = '807'
user_end = '812'

journey_time(user_start, user_end, prediction_46a)

***

<br><br>
# 4.  Random Forest & Decision Trees

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rfm = RandomForestRegressor(n_estimators=40, oob_score=True, random_state=1)
rfm.fit(X_train, y_train)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
dtc_4 = DecisionTreeRegressor(max_depth=4, random_state=1)
dtc_4.fit(X_train, y_train)

In [ ]:
importance = pd.DataFrame({'feature': X_train.columns, 'importance': rfm.feature_importances_})
importance.sort_values('importance', ascending=False)

In [ ]:
# Printing the evaluated mode using the hold-out training set
rfm_predictions_train = rfm.predict(X_train)
predicted_death_yn_Yes = pd.DataFrame(rfm_predictions_train, columns=['Predicted'])
actual_vs_predicted_rfm_train = pd.concat([y_train, predicted_death_yn_Yes], axis=1)
actual_vs_predicted_rfm_train.head(20)

In [ ]:
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(y_train, rfm_predictions_train)))
print("MSE Score: ", metrics.mean_squared_error(y_train, rfm_predictions_train))
print("MAE Score: ", metrics.mean_absolute_error(y_train, rfm_predictions_train))
print("R2 Score: ", metrics.r2_score(y_train, rfm_predictions_train))

In [ ]:
# Printing the evaluated mode using the hold-out training set
rfm_predictions_test = rfm.predict(X_test)
predicted_death_yn_test = pd.DataFrame(rfm_predictions_test, columns=['Predicted'])
actual_vs_predicted_rfm_test = pd.concat([y_test, predicted_death_yn_test], axis=1)
actual_vs_predicted_rfm_test.head(20)

In [ ]:
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(y_test, rfm_predictions_test)))
print("MSE Score: ", metrics.mean_squared_error(y_test, rfm_predictions_test))
print("MAE Score: ", metrics.mean_absolute_error(y_test, rfm_predictions_test))
print("R2 Score: ", metrics.r2_score(y_test, rfm_predictions_test))

***

<br><br>
# 5. Stop pair model

## 5.1 First version of paired stop approach
<br><br>
This approach makes a model based on the stopid and its previous stopids

In [ ]:
# Returns a paired list of stops
def paired_stops(df):
    stopid = df['STOPPOINTID'].unique().tolist()
    previous_stopid = []
    for i in stopid:
        prev = df['PREVIOUS_STOPPOINTID'][df['STOPPOINTID']==i]
        # Adds most frequent previous stopid to list
        previous_stopid += [prev.value_counts().idxmax()]
    
    return [stopid, previous_stopid]

In [ ]:
for ids in range(len(paired_stops[0])):
    
    # Making new dataframe
    to_add = df[df['STOPPOINTID']==paired_stops[0][ids]]
    to_add = to_add.append(df[df['PREVIOUS_STOPPOINTID']==paired_stops[1][ids]])
    stops_df = pd.DataFrame(data=to_add)
    
    # Setting target feature
    y = stops_df['ACTUALTIME_TRAVEL']
    
    # Dropping target feature and low corr features
    stops_df = stops_df.drop(low_corr,1)
    stops_df = stops_df.drop('ACTUALTIME_TRAVEL',1)
    stops_df = pd.get_dummies(stops_df)
    
    # Fitting model based on stops
    linear_reg = LinearRegression().fit(stops_df, y)
    
    # Save to pickle file

In [ ]:
pair_stops = paired_stops(df)
to_add = df[df['STOPPOINTID']==pair_stops[0][5]]
to_add = to_add.append(df[df['PREVIOUS_STOPPOINTID']==pair_stops[1][5]])
stops_df = pd.DataFrame(to_add)

 # Setting target feature
y = stops_df['ACTUALTIME_TRAVEL']
    
# Dropping target feature and low corr features
stops_df = stops_df.drop(low_corr,1)
stops_df = stops_df.drop('ACTUALTIME_TRAVEL',1)
stops_df = pd.get_dummies(stops_df)

# Fitting/Training model based on stops
linear_reg_model_ = LinearRegression().fit(stops_df, y)

# Saving to pickle File
with open('model_'+pair_stops[0][5]+'.pkl', 'wb') as handle:
    pickle.dump(linear_reg_model_, handle)

In [ ]:
sampledf = stops_df.iloc[[0]]
sample_prediction = linear_reg_sample.predict(sampledf)

In [ ]:
sample_prediction

In [ ]:
with open('model_'+pair_stops[0][5]+'.pkl', 'rb') as handle:
    model = pickle.load(handle)

In [ ]:
model.predict(sampledf)

## 5.2.1 Setting up for 46a stop pair models using first approach

In [ ]:
# Function to get previous stopid and return a paired list
def pair_stopids(current_stopids):
    previous_stopid = []
    for i in current_stopids:
        prev = df['PREVIOUS_STOPPOINTID'][df['STOPPOINTID']==i]
        # Adds most frequent previous stopid to list
        previous_stopid += [prev.value_counts().idxmax()]
    
    return [current_stopids, previous_stopid]

In [ ]:
# Loading the json file
import json
file = open('routes_and_stops.json',)
routes_stops = json.load(file)

In [ ]:
# Get all stops for 46a going outbound ('1')
list_46a_stops = routes_stops['46A']['outbound']

# Pairing stopids and prev stopids from 46a route
pairing_46a_stopids = pair_stopids(list_46a_stops)
predictions = []

In [ ]:
for ids in range(len(pairing_46a_stopids[0])):
    # Making new dataframe
    to_add = df[df['STOPPOINTID']==pairing_46a_stopids[0][ids]]
    to_add = to_add.append(df[df['PREVIOUS_STOPPOINTID']==pairing_46a_stopids[1][ids]])
    stops_df = pd.DataFrame(data=to_add)
    
    # Setting target feature
    y = stops_df['ACTUALTIME_TRAVEL']
    
    # Dropping target feature and low corr features
    stops_df = stops_df.drop(low_corr,1)
    stops_df = stops_df.drop('ACTUALTIME_TRAVEL',1)
    stops_df = pd.get_dummies(stops_df)
    
    # Fitting model based on stops
    linear_reg_model = LinearRegression().fit(stops_df, y)
    
      # Save to pickle file
#     with open('model_'+pairing_46a_stopids[0][ids]+'.pkl', 'wb') as handle:
#         pickle.dump(linear_reg_model, handle)

     # Predicting data
    with open('stop_'+pair_stops[0][ids]+'.pkl', 'rb') as handle:
        model = pickle.load(handle)
    
    k = model.predict(route_46a.iloc[[index]])
    predictions += [k]

In [ ]:
# Printing evaluation metrics
print("RMSE Score: ", np.sqrt(metrics.mean_squared_error(actualtimes_46a, predictions)))
print("MSE Score: ", metrics.mean_squared_error(actualtimes_46a, predictions))
print("MAE Score: ", metrics.mean_absolute_error(actualtimes_46a, predictions))
print("R2 Score: ", metrics.r2_score(actualtimes_46a, predictions))

<br><br>
##### Conclusion:
Linear regression model is not very good. MSE score is off by more than 1000 seconds. And the R2 score is at a negative value. This means the parameters need to be tuned. Keeping dwelltime might be good.

## 5.3 Stop pair based on entire leavetimes

<br><br>
1) Make a rough query that selects rows that contain a certain stopid and its previous stopid based on the direction.

In [ ]:
# initialise query - for OUTBOUND (WHERE DIRECTION == '1')
# query_stopid = "SELECT leavetimes.*, weather.* FROM leavetimes, weather WHERE leavetimes.STOPPOINTID = " + current_stopid + " AND leavetimes.DAYOFSERVICE = weather.dt"
# query_stopid_df = pd.read_sql(query_previoustop, conn)

<br><br>
2) Make a function that will combine lists in a list together as one list

In [1]:
def combine_listsoflist(to_combine):
    combined = []
    for each_list in to_combine:
        combined += each_list
    return combined

<br><br>
4) Make a function that will get rid of the duplicates in the list

In [2]:
def get_unique(stopids_list):
    return list(set(stopids_list))

<br><br>
5) Make a list to store all stopids for DIRECTION == outbound/1.

In [3]:
# Loading the json file
import json
file = open('routes_and_stops.json',)
routes_stops = json.load(file)

In [4]:
# Looping through every lineid, outbound 
stopids_outbound = []
for i,j in routes_stops.items():
    try:
#         print(i, '\n', routes_stops[i]['outbound'], '\n')
        stopids_outbound += [routes_stops[i]['outbound']]
    except KeyError:
        continue
        
# Calling function to get combined list
combined_stopids_outbound = combine_listsoflist(stopids_outbound)

# Calling function to get unique stopids from combined list
unique_stopids_outbound = get_unique(combined_stopids_outbound)

<br><br>
6) Make a list to store all stopids for DIRECTION ==inbound/2.

In [ ]:
# Looping through every lineid, inbound
stopids_inbound = []
for i,j in routes_stops.items():
    try:
#         print(i, '\n', routes_stops[i]['inbound'], '\n')
        stopids_inbound += [routes_stops[i]['inbound']]
    except KeyError:
        continue
        
# Calling function to get combined list
combined_stopids_inbound = combine_listsoflist(stopids_inbound)

# Calling function to get unique stopids from combined list - using set() to get rid off existing stops from outbound stops
unique_stopids_inbound = list(set(combined_stopids_inbound) - set(combined_stopids_outbound))

<br><br>
7) Query to select all of the previous_stopids based on the current stopid and put it to a list

In [ ]:
# query_previoustop = "SELECT leavetimes.PREVIOUS_STOPPOINTID FROM leavetimes WHERE leavetimes.STOPPOINTID = " + current_stopid 
# query_prevstop_df = pd.read_sql(query_previoustop, conn)

# # Converting into a pandas series then to list
# query_prevstop_series = query_prevstop_df.iloc[0]
# query_prevstop_list = query_prevstop_series.tolist()

<br><br>
8) Query to select the rows based on the previous stopids and append them to the current dataframe of the current stopid

In [5]:
def df_prev_stops(query_prevstop_list):
    query_prevstop_rows = "SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN " + str(query_prevstop_list)
    print(query_prevstop_rows)
    df_prevstop = pd.read_sql(query_prevstop_rows, conn)
    return df_prevstop

In [6]:
def df_prev_stops_one_element(query_prevstop_list):
    query_prevstop_rows = "SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = " + str(query_prevstop_list)
    print(query_prevstop_rows)
    df_prevstop = pd.read_sql(query_prevstop_rows, conn)
    return df_prevstop

<br><br>
9) Adding index on STOPPOINTID and PREVIOUS_STOPPOINTID

In [ ]:
# Adding indexes
# add_index1 = """CREATE INDEX stopid ON leavetimes(STOPPOINTID);"""
# add_index2 = """CREATE INDEX previous_stopid ON leavetimes(PREVIOUS_STOPPOINTID);"""
# conn.execute(add_index1)
# conn.execute(add_index2)

<br><br>
10) Piecing every step together

In [15]:
# Lists all stops done so far. This is for when laptop needs to rest
import os 
arr = os.listdir('C:/Users/fayea/UCD/ResearchPracticum/Data-Analytics-CityRoute/stop_models')
j = []
for i in arr:
    j += i.split('_')

h = []
for i in j:
    h += i.split('.')

g = [str(i) for i in h if i.isdigit()]
unique_stopids_outbound = [x for x in unique_stopids_outbound if x not in g]
len(unique_stopids_outbound)

15

In [ ]:
# previous_stops = {}
# for stopid in unique_stopids_outbound:
#     # Get all previous stopids in list
#     query_previoustop = "SELECT DISTINCT leavetimes.PREVIOUS_STOPPOINTID FROM leavetimes WHERE leavetimes.STOPPOINTID = " + stopid
#     query_prevstop_df = pd.read_sql(query_previoustop, conn)

#     # Converting into a pandas series then to list
#     query_prevstop_series = query_prevstop_df['PREVIOUS_STOPPOINTID'].tolist()
#     query_prevstop_list = [stopid for stopid in query_prevstop_series if stopid != '0']
#     previous_stops[stopid] = query_prevstop_list
#     print('finished')
    
# with open('previous_stops_outbound.json', 'w+') as fp:
#     json.dump(previous_stops, fp)

In [8]:
# import boto3
import pandas as pd
import numpy as np
import sqlite3
import pickle

# from sagemaker import get_execution_role
from sklearn.linear_model import LinearRegression
from math import log
from multiprocessing import Pool


# ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Connecting to s3
# role = get_execution_role()
# bucket='sagemaker-studio-520298385440-7in8n1t299'
# data_key = 'route_46a.feather'
# data_location = 's3://{}/{}'.format(bucket, data_key)

In [9]:
low_corr = ['DAYOFSERVICE', 'VEHICLEID', 'TRIPID', 'STOPPOINTID', 'PREVIOUS_STOPPOINTID', 'PROGRNUMBER', 'temp', 'pressure', 'humidity', 
            'wind_speed', 'wind_deg', 'weather_id', 'weather_description', 'clouds_all', 'PREVIOUS_STOPPOINTID', 'PLANNEDTIME_ARR', 'PLANNEDTIME_DEP', 'ACTUALTIME_ARR', 'ACTUALTIME_DEP',
           'PLANNEDTIME_TRAVEL', 'DWELLTIME']

In [10]:
# def function to create connection to db
def create_connection(db_file):
    """
    create a database connection to the SQLite database specified by db_file
    :param df_file: database file
    :return: Connection object or None
    """
    conn = None
    try: 
        conn = sqlite3.connect(db_file)
        return conn
    except 'Error' as e:
        print(e)
        
    return conn

In [11]:
# create connection to db
db_file = "C:/Users/fayea/UCD/ResearchPracticum/Data-Analytics-CityRoute/dublinbus.db"
conn = create_connection(db_file)

In [14]:
# Outbound
file = open('previous_stops.json',)
previous_stops = json.load(file)

# Query to get all of weather
weather_query = "SELECT weather.* from weather"
weather_df = pd.read_sql(weather_query, conn)
weather_df = weather_df.rename(columns={"dt": "DAYOFSERVICE"})

for current_stopid in unique_stopids_outbound:
    
    query_prevstop_series = previous_stops[current_stopid]
    query_prevstop_list = tuple(query_prevstop_series)
    if len(query_prevstop_list) == 1:
        # Making query to db and make df
        query_stopid = "SELECT leavetimes.* FROM leavetimes WHERE leavetimes.STOPPOINTID = " + current_stopid + "OR leavetimes.PREVIOUS_STOPPOINTID = " + str(query_prevstop_list)
        df = pd.read_sql(query_stopid, conn)
        
        # Append previous stops rows to main df
#         to_add = df_prev_stops_one_element(query_prevstop_series[0])
#         df = pd.concat([df,to_add])
        df = df.merge(weather_df, on='DAYOFSERVICE', how='left')
        
    elif len(query_prevstop_list) == 0:
        continue
        
    else:
        # Making query to db and make df
        query_stopid = "SELECT leavetimes.* FROM leavetimes WHERE leavetimes.STOPPOINTID = " + current_stopid + "OR WHERE leavetimes.PREVIOUS_STOPPOINTID IN " + str(query_prevstop_list)"
        df = pd.read_sql(query_stopid, conn)
        
        # Append previous stops rows to main df
#         to_add = df_prev_stops(query_prevstop_list)
#         df = pd.concat([df,to_add]) 
        df = df.merge(weather_df, on='DAYOFSERVICE', how='left')

    # Drop low correlated features and setting target feature
    df = df.drop(low_corr, 1)
    tf = df['ACTUALTIME_TRAVEL']
    df = df.drop('ACTUALTIME_TRAVEL', 1)
    df = pd.get_dummies(df)
    
    # Fitting model based on stops
    linear_reg_model = LinearRegression().fit(df, tf)
    
    # Save to pickle file
    with open('C:/Users/fayea/UCD/ResearchPracticum/Data-Analytics-CityRoute/stop_models/stop_'+ current_stopid +'.pkl', 'wb') as handle:
        pickle.dump(linear_reg_model, handle)
    
    print('Finished.')

SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2039', '7472', '3230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2950', '7447', '303', '2981', '2825', '1315', '2984', '7449', '2897', '2955', '4988', '7067', '2965', '2983', '804', '4983', '2934', '399', '2954', '4982', '2933', '4332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('132', '166', '4891', '2492', '165', '131', '6228', '6273', '332', '128', '7131', '324', '195', '2975', '91', '149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 684
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1701', '6094', '4715', '7339', '2', '820', '4523', '1814', '6282', '1696', '1700', '6317', '4525', '4322', '315', '3802', '4', '3135', '7340', '4387', '767', '7574', '288', '449', '6348', '877', '2270', '300', '6071')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6005', '1546', '7102', '6004', '1828', '1829', '7107', '7243', '4979', '1506', '1580', '7', '1578', '7104', '7106', '15', '2960', '7560', '7672', '1577')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3577
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6016', '322', '7229', '2166', '6235', '6234', '7', '281', '4521', '4670', '261', '327', '6182', '102', '7230', '332', '4554', '270', '1359', '4677', '2139')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('227', '2975', '226', '6289', '21', '7131', '380', '332', '85', '229', '228', '2959', '1644', '4320', '288', '3333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1746', '1741', '1745', '1765', '1767', '522', '523', '516', '293')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6097', '4091')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1481', '499', '1505', '501', '1484')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3792', '7174', '3791', '3764', '6317', '332', '3677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4604', '4603', '7392')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('190', '324', '6273', '2492', '7500', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4768', '1814', '4769', '4765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2560
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3652', '3656', '7195', '3576', '3648', '4381', '7623', '7189')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7379', '804', '7340', '4747', '2959', '313', '1881', '1827', '4320', '7026', '3994', '1882', '7588', '807', '4489', '7339', '6088')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4259', '4305', '5046', '3133', '4258')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4749', '3692', '7181', '1127')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4573', '1666')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2033', '7025', '807', '6103', '4567', '3890', '7353')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4938', '1558', '2957', '7132', '6071', '6348', '4715', '1548', '270', '2958', '4411', '1559', '261', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2048', '2045', '2046', '2041', '2047', '3283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7343', '288')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4407', '1447', '7392', '1445', '6289', '312', '1444', '2908', '5114', '315', '7390', '326', '1443', '7588', '7391', '319', '6029', '4616', '6089', '495', '2721', '7117', '1476', '3616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4140', '4139', '4136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('261', '263', '265', '336', '380', '449', '6280', '4096', '5114', '82', '4525', '1278', '52', '4322', '226', '7571', '6122', '6094', '1355', '6317', '230', '1320', '7615', '213', '43', '1012', '2039', '332', '49', '212', '210', '319', '46', '44', '4357', '3', '303', '320', '1381', '10', '278', '7576', '41', '6282', '12', '1749', '4957', '229', '80', '51', '55', '84', '4526', '4381', '37', '4432', '286', '1172', '342', '48', '45', '3085', '74', '36', '4513', '1359', '7131', '231', '33', '4307', '7671')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('167', '138', '193', '136', '4788', '6273', '4392', '6094', '191')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('213', '2975', '7347', '1638', '231', '3885', '3669', '4957', '7571', '4096', '1633', '226', '207', '1639', '288', '1641', '5052', '4843', '270', '7349', '237', '319', '262', '380', '3616', '1642')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1293', '342', '1292', '1279', '1287', '7347', '1285', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1529
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1654', '802', '1647', '1649', '313', '1445', '329', '1911')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2826', '2825', '2824', '3514', '265')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6238', '126', '102', '94', '313', '93', '6241', '92')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1255', '4693', '1254', '4595', '288', '2355')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7352', '4956')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1097', '2311', '1934', '2395', '342', '2401', '2392', '5025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7263
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('501', '4509', '1467', '1505', '1490', '499', '4953', '6057', '274', '6056', '1359')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3709', '3707')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6140', '2101')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7140', '4602', '4607')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('421', '4725', '7639', '4962', '273', '413', '411', '415', '414', '4982', '416', '4', '3220', '419', '420', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1197', '1651')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1860', '6113', '767', '1858', '7158', '7162', '6112', '7048', '292', '7339', '6317', '313')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('699', '686', '698', '549')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3389', '3384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4646', '2199', '4342', '7374', '4341', '342', '7026', '4411', '2039', '375', '4713', '4595', '354', '5009', '804', '6094', '2697', '7181', '4347', '5024', '4441', '248', '298', '2355', '4348', '675', '7072', '2353', '7347', '4414', '2038', '2243', '7459', '4957', '2035', '6317', '1265', '5162', '1198', '332', '2200', '7568', '2975')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6053', '1184', '6051', '3605', '3606', '6052')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2611', '2420')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1509', '7027', '7', '5144', '1506', '199', '7072', '1507', '1508', '14', '274', '198', '4316')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1133
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2239', '2211', '7374', '332', '3890', '7390', '7049', '4616', '2210', '4003', '4', '7387', '5114', '3374', '6348', '4953', '763', '2166', '1479', '315', '1358', '6089', '2232', '406', '4962', '4320', '6317', '1104', '4620', '7571', '7459', '3917', '5192', '1842', '6289', '7162', '7025', '110', '3874', '5056', '3085', '4715', '7012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4386', '289', '649', '938', '531')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3865', '4920', '3679', '7189', '6033', '7623', '3675', '4926', '6054', '4919', '5030', '3678', '4330', '3711', '4925')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2476', '2492', '2475', '332', '2473')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1417', '263', '6094', '1365', '1415', '1413')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('722', '4386', '649', '650', '291', '938')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('859', '858', '857', '449', '261', '854', '856')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1462', '1418', '1365', '1412')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('377', '376', '7564', '357', '340', '375', '390')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6103', '3237', '7472')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4087
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7417', '3470', '7615')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3623', '941', '7348', '938', '4381', '914', '3622', '910', '3599', '621', '519', '3616', '3620', '3604', '289', '943', '525', '496')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1285', '7347')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6320', '4593', '6318', '6282', '6319', '7569', '1130', '664', '1121', '927', '2492', '6317', '7246', '496', '3007', '4320', '750', '494')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3602', '943')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('690', '682', '686', '7569', '685', '2333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3763', '292', '3756', '7174', '3802', '3678')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('92', '7571', '91', '19', '89', '86', '6234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1296', '1282', '262', '1295', '342', '7181', '2975')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2956', '303', '7181', '4', '4415', '261', '281', '354', '2934', '2825', '3085', '7599', '2984', '299', '4715', '2965', '380', '4225', '1311', '7449', '6071', '3', '2355', '7592', '2166', '895', '4957', '404', '7347', '1367', '279', '7588', '7564', '2983', '375', '7160', '4982', '2035', '324', '1358', '1313', '449', '755', '332', '2955', '302', '4743', '51', '4494', '927', '7067', '2212', '6122', '301', '7568', '2516', '4320', '1749', '4392', '7348', '3333', '1012', '2038', '4465', '2039', '1184', '7569', '6280', '288', '7161', '313', '7189', '7131', '7574', '7011', '7382', '7340', '2950', '2868', '1104', '6348', '6094', '4530', '2352', '7149', '2954', '3616', '793')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3237', '7472', '7639')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2893', '2892', '2868', '2840', '3085', '3012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('527', '567', '525', '621', '557', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3653', '1050', '3656', '7348', '7574', '4381')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1969', '4495', '1960')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3730', '7039', '3726', '3729', '4330', '3718')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('479', '332', '478', '112', '3084', '7653', '3081')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3546
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1859', '7339', '6113', '767', '7158', '313', '7162', '763', '1898', '1896', '1858', '4616', '2975', '4953', '1479', '354', '315', '1895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3216', '3241', '2037', '3205', '3210', '6000', '3243', '7641', '3215')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1093', '1104', '395')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3143', '4320', '7574', '4983', '1012', '3223', '332', '3142', '3221', '4202', '4131', '4201', '5114', '3141', '325', '7368', '7347', '7188', '3134', '297', '226', '4616', '4303', '7639', '4170', '2994', '2166', '3057', '4168', '4206', '406', '773', '303', '288', '5090', '4407', '279', '1444')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7449', '2984')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3189', '449', '3188')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4364', '1578', '6004')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7238', '6071', '2510', '4747', '4976', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7349', '3885', '288', '3699', '3669', '4957', '3712', '7604', '2975')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2386', '2385', '1934', '2383', '342', '5192', '5024')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6319', '6282', '7516', '4494', '1358', '6318', '315', '274', '895', '7564', '6348', '6317', '299', '449', '263', '767', '4', '2038', '3890', '6044', '7011', '3373', '2278', '7189', '2908', '6094', '4593', '301', '807', '4320', '7132', '4341', '5190', '7574', '4322', '3874', '1012', '5192', '4982', '380', '585', '4382', '2166', '1142', '1141', '354', '332', '3333', '4552', '7181', '7025', '292', '319', '3007', '1490', '4415', '248', '4862', '328', '6280', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('701', '700')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2855', '7181', '7579', '4710', '2854')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7169', '5165', '3741', '3740', '4330', '3739')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7277', '7149', '895', '319', '7', '4686', '1024', '1022', '4861')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 6124
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('692', '694', '7569', '691', '686', '680', '679', '678', '5062')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6278', '354', '6277', '399', '6280', '7581', '395', '1077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3280', '2045', '7360', '4313', '3278', '3471', '7372', '4773', '2039', '3283', '2810')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('776', '773', '6122', '2039', '775', '767', '4320', '6089', '3146', '774', '760', '769', '772', '2065', '768', '2060', '7574', '807', '763', '7390', '7387', '7587', '7160', '2041', '7339', '264', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4249', '4248')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1310', '2825', '2954', '2955', '2965', '2967', '1308', '1309')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3398', '3384', '4495', '3397', '7483', '3385')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3907', '7391')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1647', '329', '1444', '328', '1445', '3333', '7162', '7576', '2959', '313', '767', '7339', '1443', '7588', '7333', '7340', '786', '785', '1648', '315')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3955', '3954', '2217')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('760', '759', '2039', '264', '747', '4320', '807', '6059', '2955', '7574', '2795', '773', '335', '406', '812', '7453', '4570', '3085', '4571', '7513', '1478', '334')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('251', '249', '6044', '248', '250', '245')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2494', '2492', '332', '2493', '2467', '4359', '7131', '319', '2465', '2689', '2450', '5026', '1551', '2466')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1328', '1281', '7347', '2975', '2980', '1326', '1325', '1327', '7615', '1319', '2823', '1320', '1323', '2981', '1035')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2828', '2861', '2827', '7571', '265', '2824', '2825', '2823')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1380', '3085', '765', '3333', '1433', '4322', '1367', '767', '271', '2009', '807', '84', '2086', '1435', '2082', '2008', '7454', '7569', '4172')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2216', '4407', '1445', '2637', '2213', '7390', '346', '1451', '312', '2214', '1476', '2215', '5114', '4003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('490', '488', '4379', '7564', '489', '475', '332', '4', '276', '7330')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 781
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2827', '271', '3514', '2824', '2826')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2103', '2355', '4595')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4743', '1808', '4745', '2961', '4742', '1666')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('119', '43', '39', '6122', '214', '288', '7229', '7347', '3669', '6235', '2975', '327', '449', '213', '3885', '112', '226', '4554', '1642', '236', '114', '4843', '380', '40', '4432', '1640', '7571', '36', '37', '41', '2166', '18', '117', '115', '319', '6234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4563', '1184', '298', '4595', '2355', '3616', '7564', '302', '6282', '4596', '7382', '4593', '1130', '5044', '1358', '4322', '2166', '354', '315', '4952', '6318', '301', '7189', '6317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('560', '559', '557')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1200', '1198', '1184', '6282', '1199', '497', '3616', '1197', '669', '671', '4384', '298', '7659', '523', '515', '4382', '521', '672', '7189')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5169', '2734', '6083', '2733', '395')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2167', '4669', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4124', '3135', '3133', '3139', '3114', '7574', '4320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1511', '1532', '15', '7', '835', '1510', '110', '279', '1509', '1506')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3256
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3590', '3588', '7569', '3624', '332', '666', '4387', '567', '1104', '2246', '2908', '6282', '4341', '4956', '3587')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5073', '1175', '4957', '288', '3675')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3017', '861', '862')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3743', '5046', '7169', '7174', '7170', '4168', '748', '5165')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4362', '785', '329', '1665', '1667', '786', '1672', '802', '7586', '7340', '7576', '1675', '6172', '1659', '784', '1666', '1655', '1445', '1649', '1658', '7588', '1443', '4529', '1654', '1911', '783')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3773', '5176', '7174')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1814', '1813', '1913', '7339', '7588')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('519', '7189', '4384', '516', '7490', '299', '1184', '515', '298', '497', '2353', '4', '332', '7591', '1749', '621', '293', '3616', '1765', '1767', '300', '567', '4595', '297', '938', '6317', '617', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1655', '313', '1445', '802', '1911', '1647')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4878
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7028', '324', '175', '6071', '4504', '284', '7072', '276', '4494', '332', '7513', '1600', '7010')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2540', '7181', '4880', '5192', '342', '2539', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('726', '938')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('984', '1012', '6071', '983')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3535', '3091', '3214', '7667', '3057', '6000', '4983')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4207', '4135', '6280', '4136', '3133', '4168', '5046', '4134', '4132', '7072', '4230', '4956', '328')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4460', '450', '2879', '5045', '4984', '447', '3181', '449', '7181', '451', '7663', '6289', '3732', '5013', '375', '6122')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('987', '1012', '983', '4957', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3672', '3669', '3671', '1630', '1623', '7174', '4957', '288', '1171')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7102', '2960', '6071', '7026', '1545', '7559', '7560', '4986')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2165', '4668', '4669', '4677', '6244', '327', '7229', '4670', '3379', '2137')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1633', '324', '21', '7479', '7485', '7484', '5028', '3699', '7486', '288', '3885', '7487', '4957', '7347', '292', '2975', '3669', '303', '332', '7349', '217', '4843')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('335', '336', '271', '1490', '4495', '4322', '511', '4392', '1375', '7390', '6056', '2039', '2103', '274', '7131', '263', '277', '6184', '6094', '2102', '4616', '272', '7547', '7546', '191', '4595', '2063', '2166', '7226', '7665', '52', '513', '4513', '84', '51', '2418', '288', '5192', '4525', '7174', '1491', '187', '6317', '190', '3399', '6071', '819', '1358', '3362', '749', '2002', '7011')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2801', '4361', '2497', '779', '4359', '2800', '375', '416')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('231', '219', '3885', '226', '2975', '227', '2967', '2968', '380', '222', '354', '221', '315', '216', '236', '6280', '1767', '1367', '2278', '230', '2971', '4619', '4957', '349', '292')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4381', '7348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('104', '281', '319', '4617', '4686', '7229', '6239', '4555', '14', '767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6125', '107', '332', '6241', '7229', '327', '6235', '2166', '6234', '39', '6017', '4554', '324', '4683', '281', '7230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7351
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('513', '511', '1490', '895', '6056', '274', '1492', '4513', '1491', '7154', '272', '509', '2103', '2102', '1278', '1937', '6094', '1505', '336', '804', '1359', '4509', '1482', '1499', '4518', '1934', '335', '7671', '2270', '4516', '2002', '510', '620', '1172', '2183', '2269')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2174', '4341', '4409', '2158', '2130', '2129', '2173')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2467', '2493', '2492', '332', '2465', '319', '2450', '5026', '2466', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4877', '1358', '2532')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7177
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7442', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7686', '7072', '5144')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7473', '6247', '4604', '4797', '2128')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3888', '2217', '7576', '2200', '345', '4599', '1449', '7239', '7391', '7078', '7392', '312', '3887', '2201', '1444', '2224', '2198', '4401', '2191', '2220')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2166', '4669', '6244', '2165')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3778
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1304', '5132', '2947', '807', '3085', '1279', '2943', '303', '1367', '2946', '2038', '2538', '1298', '7181', '1293')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4230', '4227', '7461')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1378', '1466', '1468', '1490', '4399', '6057', '6056', '1467', '274', '7320', '1424', '1425', '2103', '4509', '4322', '4400', '2183', '298', '2185', '1486', '1462', '1491', '1481', '1484', '7154', '499')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1904', '2338', '1545', '2960', '6088', '4747', '4341', '2174', '5007', '7026', '2655', '4745', '1837', '7347', '2242', '1834', '1833', '1814', '264', '7339', '1820', '4996', '1836', '1838', '7344', '7379', '1884', '6059', '749', '1881', '1184', '4991', '1835', '7162', '750', '4493')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2457', '1290', '263', '336', '1278', '191', '2394', '277', '2393', '188', '2445', '4788', '819', '1282', '2413', '143', '2454', '190', '2453', '2415', '1090', '146', '2391', '4456', '7132', '1291', '1286', '2456', '2392', '1284', '2419', '1289', '1285', '186', '169', '193')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2862', '3690', '7181', '2038', '2861')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1878', '1871', '7576', '767', '7333', '1870')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4696', '522', '1243', '2633')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 724
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1086', '1336', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('781', '7162', '7011', '6089', '779', '4952', '6110', '4003', '767', '776', '780', '315', '5114', '763', '3890', '7387', '777', '7390', '4325', '7160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3807', '3806', '7174', '3691', '3784', '6076')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7172', '3802', '7174', '3774', '3677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6007', '2832', '3491', '3085', '3201', '3220', '3493', '3494')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1400', '3356', '3355', '1367', '3085', '1407')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5156', '650')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2681', '4604', '2128')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2662', '2659', '2646', '2661', '6029')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4962', '52', '7457', '4', '7639', '5046', '3220', '263', '4982', '3221', '1174', '424', '4322', '481', '4715', '494', '332', '281', '493', '5092', '3544', '3040', '7640', '411', '7641', '420', '3219', '485', '187', '3094', '327', '2039', '3057', '841', '3211', '7226', '421', '405', '7347', '324', '188', '819', '1490', '413', '2355', '487', '2036', '112', '3222', '400', '429', '807', '113', '477', '4392', '49', '927', '7653', '3084', '3037', '4320', '3053', '3692', '416', '3208', '3047', '4725', '483', '2278', '292', '186', '7340', '492', '3214', '406', '6348', '3085', '37', '4341', '409', '412', '3634', '2492', '4108', '51', '354', '3750', '6334', '3223', '469', '490', '115', '6094', '5047', '7643', '3225', '2166', '7574', '410', '7644', '491', '3042', '415', '3034', '3216')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('424', '422', '4982', '429', '327', '273', '375', '7639', '413', '7226', '4962', '405', '421')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6241', '1827', '4686', '4687')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4994', '4976', '4974', '57', '4745', '1818', '192')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2658', '2656', '2657', '2655', '2647')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('483', '4962', '4982', '332', '772', '7226', '417', '481', '482', '7644', '400', '7330', '5047', '472', '4594', '479', '4', '7053', '480', '3222')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('225', '15', '278', '7602', '205', '85', '381', '224', '220', '12', '400', '7615', '19', '14', '18', '319', '223', '1651', '1620', '17', '21', '222', '399', '395', '10', '392', '371', '7571', '396')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4626', '4620', '3368', '7563', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2678', '4795', '6348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2789', '2788')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2783', '2650', '2328', '2908', '326', '6029', '2648', '850')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2964', '7522', '2962', '4131', '4171', '7574', '2963', '4173', '4320', '4172')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4747', '1842', '1827', '110', '7025', '1012', '4686', '6039', '1828', '1601', '585', '1841', '1010', '141')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7062', '2748', '4643', '4644', '2629', '4595', '2745', '2355', '2975', '298', '2353', '6095', '2743')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6230', '4392', '7131', '1749', '7132', '324', '332', '2492', '1286', '819', '195', '7390', '4495', '7', '2419', '4380', '4655', '1285', '5026', '7350', '263', '336', '277', '248', '449', '2441', '1184', '4957', '2453', '1555', '7072', '1552', '319', '2392', '7348', '2389', '5046', '191')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1957', '335')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7026', '4489', '6113', '3333', '1827', '1835', '1866')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1869', '4464', '7167', '7389', '1831', '1913', '7576', '767', '328', '7161')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3265
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2102', '400', '1935', '1490', '6094', '2101', '2454', '1937', '1369', '4522', '2311', '4513', '7459', '513', '6056', '1453', '4595', '1462')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3959', '7187', '3957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4654', '4653')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2214', '346', '2270', '4616', '7391', '2213', '4401', '7588', '7239', '5114', '2637', '1445')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4652', '4230', '4168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3604', '3615', '497', '1184', '515', '3580', '4387', '3610', '3585', '3640', '7490', '516', '877', '3643', '3641', '7348', '3602', '3577', '3627', '3626', '1203', '940', '523', '6052', '522')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1942', '261', '327', '7229', '4521', '1935', '270')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('619', '614', '7189', '1247', '248', '617', '616', '4595', '615', '618', '7568', '293', '6282', '324', '690', '1218', '1259', '667', '1738', '1739', '612', '1737', '1194', '664', '1736', '609', '6044', '4563', '4380')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1813', '328', '7333', '2', '7297', '4745', '7340', '1913', '819', '7588', '192', '1827', '2961', '6179', '58', '1802', '2338', '4686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3015', '862')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3632', '3616', '1184', '6282', '7327', '3627', '1643')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('807', '2039', '2355', '6089', '3802', '7025', '4962', '4392', '4595', '6056', '771', '319', '804', '7513', '7072', '6059', '4619')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7043', '1423', '4322', '6094', '2373', '2377', '2378', '2184', '4595', '1490', '354', '6057', '279', '6056', '274', '3', '2185', '1939', '7142', '7131', '2773', '2181', '1661', '263', '1365', '4435', '4616', '2103', '2355', '1358', '2278', '4713', '820', '494', '7459', '7153', '5046', '2183', '4619', '1359', '55', '4606', '2499', '2353', '298', '2331', '4', '4714', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2702', '4357', '2800')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2978', '5171', '2975', '7347', '4987', '2977', '7615', '303', '320', '1359', '2967', '767', '1623', '7117', '2976', '1104', '2959', '328', '5052', '1350', '270', '8', '1630', '7181', '4957', '262', '5051', '1767', '1324', '21', '7602', '7057', '1320', '2969', '1304', '1624', '2848', '1479', '315', '1348', '4953', '219', '6282', '1358', '7569', '1636', '1357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2930
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1844', '7227', '7217', '1667', '1854')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4323', '7026')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2290', '1838')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2349', '4347', '4344', '4436', '2557', '2596', '2611', '5008', '2603', '4340', '2556', '2617', '4640', '395', '354', '302', '2355', '2311', '2360', '4595', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4583', '981', '319', '1592', '7189', '1595', '1511', '1510', '1596', '4316')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5069', '3723', '3720', '19')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2011', '2071', '351', '2007', '2072', '380', '7564', '5016', '2955', '2009')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4636', '2014', '435', '760', '7353', '2013', '4252', '2009', '761', '4571', '7574', '5092', '2039', '759', '2010', '2007')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4486', '2841', '7571', '4333', '1046', '2864', '301', '1047', '4096', '2863', '2840')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2844', '2840', '6041', '2826', '2885', '4587', '2887', '7057', '297', '2842', '7181', '248', '2843', '6289', '2039', '6044')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3809', '292', '3807', '3756', '3715', '6076', '3793', '3677', '21', '3802', '3571', '6077', '3794', '3801', '3569', '1171', '3678')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1023', '1022', '895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2728', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('113', '226', '6016', '4554', '324', '4665', '7229', '4379', '7230', '6234', '6235', '327', '322', '332', '112', '261', '110', '2166', '6182', '7113')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1237', '1227', '1251', '253', '7130')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('179', '2492', '324', '332', '4891')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7514', '2278', '4619', '354', '297', '7601', '804', '4555', '2508', '2975', '320', '302', '1827', '2166', '7016', '4495', '2133', '7162')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2014', '4571', '2010', '759', '2013', '2007', '819', '4320', '7353', '760', '4962', '7574', '2039', '6000', '5092', '334')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3088', '288', '4330', '4953', '2959', '4795', '585', '5114', '7162', '7118', '847', '4843', '1814', '802', '110', '6054', '4958', '271', '1367', '7347', '3994', '4957', '3691', '3702', '4921', '3572', '3874', '3701', '2039', '763', '4322', '6311', '315', '332', '3085', '4862', '2810', '4495', '4387', '4096', '4320', '3689', '277', '2007', '4715', '7574', '7459', '248')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('351', '7564', '350', '4960', '5016', '354', '340', '49', '7663', '226', '1358', '5099', '2383', '2380', '265', '52', '51', '2975', '271', '7577')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3622', '3620')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3616', '3610', '3599', '4381', '3612', '3611')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2644', '335', '270', '4715', '2643', '1943')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4415', '302', '6282', '6044', '6252', '675', '313', '301', '248', '1273', '615', '236', '6311', '667', '6317', '1500', '4595', '7579', '4619', '7246', '6318', '614', '616', '1274', '1195', '7581', '618', '407', '7160', '336', '7623', '4382', '4672', '6089', '2278', '1203', '666', '6319', '249', '1283', '4563', '7514', '668', '7347', '1219', '523', '664', '3280', '665', '1054', '1080', '4322', '3007', '7582', '2383', '1272', '4606', '1198', '5099', '2039', '297', '332', '4495', '6071', '7490', '299', '1190', '7162', '1141', '235', '4869', '7026', '7199', '320', '4596', '1270', '1276', '2849', '1218', '1277', '7174', '2492', '497', '1827', '1123', '255', '6251')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4432', '118', '3885', '2975', '226', '231', '7229', '39', '7347', '2166', '288', '233', '114', '115', '214', '7230', '3669', '4957', '332', '6234', '7615', '6235', '1642', '4843', '322', '3690', '327', '112', '7571', '4668', '2103', '234', '236', '213', '1641', '4096', '270', '319')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2831', '2825', '2830')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1762', '1760', '1759', '1747', '1771', '1753', '1752', '293', '1761', '1758', '1751')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3635', '1184', '3616', '4381', '516')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2020', '2019', '2010', '760', '7353', '2039', '2018')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7192', '327', '7229', '6016', '7230', '6182', '332', '6282', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5175', '3714', '6282', '3744', '3802', '4168', '2039', '7174', '346', '3715', '3677', '3799', '6056')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('487', '485', '276', '7226', '772', '415', '479', '478', '332', '354', '4962', '3222', '4')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1359', '7576', '7491', '401', '1490', '319', '4745', '328', '896', '2002', '6057', '793', '784', '265', '7149', '895', '1424', '2825', '7339', '2338', '7333', '1814', '4513', '6056', '4307', '1802', '786', '4744', '7382', '334', '2001', '2908', '753', '1104', '819', '1468', '2278', '2183', '785', '1995', '1996', '1998', '1999', '893', '2103', '1425', '6059', '7589', '752', '1068', '7340', '4982', '6044', '1184', '7276', '4743', '1806', '2184', '7582')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3384', '3413', '2167', '3401')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('521', '299', '1184', '496', '7490', '615', '515', '4384', '519', '1772', '497', '516', '4595', '7189', '289', '301', '332', '3634', '3616', '298', '1358', '293', '6044', '1767', '4435', '7591', '567', '4387', '2975', '7582', '669', '1765', '1163', '7199', '972', '7659')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('989', '126', '7025', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('838', '186', '1526', '4715', '7073', '1996', '7132', '1537')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('392', '226', '381', '391', '2022', '355', '222', '3616', '354', '288', '7615', '380', '5046', '400')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('420', '414', '419', '7639', '4962', '405', '7226', '273', '412')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2838', '2837')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3613', '3611', '3599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1789', '4782', '1198', '1196', '633', '1788', '516', '519', '7199', '626')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1586', '1604', '4715', '4583', '6080', '1524', '2957', '1507', '1523', '3333', '6348', '1585')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3329', '3328', '7389', '4323', '4325', '7026')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1507', '6004', '7', '7072', '4715', '6071', '2001', '319', '1506', '199', '837', '198', '7149', '836')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7364
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2206', '2243', '1942', '2673', '2655', '1943', '4715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('729', '728', '726', '927', '938')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 6126
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('671', '496', '523', '515', '4384', '497', '297', '516', '519', '3616', '336', '1130', '669', '303', '522', '1184', '521', '299', '7659', '670', '298', '332', '7568', '4595')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4560', '4495', '4666', '3441')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2602', '2596', '2424')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('855', '404', '271')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2013', '334', '4571', '4956', '2010', '2007', '760', '847', '747', '7353', '761', '4320', '7574', '303', '6000', '435', '763')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2726', '2101', '2330', '2311', '4619', '2102', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4548', '6071', '1538', '6004', '7072', '1511')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3787', '3765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3204', '6082', '4983', '3202', '3203', '7639', '3047', '2040', '6000', '3060', '4962', '2035')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4546', '279', '837', '319', '7', '4795', '1592')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('350', '7564', '5016', '7663', '1358', '271', '340', '49', '380', '2379', '52', '226', '400', '4713', '2383', '2380', '265', '5099', '51', '7162', '7577', '7459', '6285', '2360')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1426', '1424', '4513', '1490', '1425', '2183', '1423', '6056', '2185', '2184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1743', '7129', '1740', '523', '4384', '516', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4464', '7025', '1831', '7389', '5114', '1829', '1830', '7162', '6039', '767', '1648', '1649')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3532', '6196', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4667', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2909', '4407', '2656')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7057', '2040', '4779')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4088', '4087', '3479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3346', '3265')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('52', '263', '51', '49', '4392', '190', '191', '4320', '7131', '4843', '288', '1642', '1321', '1585', '819', '45', '46', '4', '141', '3333', '201', '4432', '119', '7132', '284', '7347', '231', '3750', '6050', '1633')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2819', '3011', '2809', '855', '2818', '2817', '876', '765', '2070')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2387', '342', '2385', '2386', '1934', '1279', '7181', '4521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1566', '7423', '324', '2492', '7424', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1753', '1751', '1752', '1746', '1749', '1765', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1307
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3909', '3906', '1445', '7078', '317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('733', '288', '4958', '3705', '3691', '3572', '3701', '3088', '7348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3138', '3543', '3136', '4128', '3542', '4983', '4320', '3241', '2037', '6000', '760', '3214', '3541', '7361', '3540', '334')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('116', '6016', '6234', '332', '7229', '2166', '324', '112', '39')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4869', '301', '6282', '1142', '1144', '1143', '1130', '1141', '1145', '7581', '1140', '5190', '4415')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3711', '3799', '3677', '3679', '3676', '3802', '2039', '3689', '4957', '288', '567', '3675', '5030', '4926', '3678', '7174', '6076', '3571', '3801', '3692', '4925', '6077', '3569', '6054', '4330', '2912')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6108', '6107', '4464', '7025', '1878', '7389', '767', '7162', '1899', '328')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('992', '990', '303', '989', '324', '6317', '1235', '4', '1229', '92', '1638', '991', '332', '1636', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7318', '2468', '7343', '1820', '7575', '7243', '7247', '1580', '7124', '4747', '2960')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3181', '451', '449', '450', '6122', '3486', '7416', '270', '1767', '2959', '7663', '448', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2419', '2389', '2413')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3755', '7623', '3692', '3715', '3714', '3802', '3712', '7174', '3744', '2967', '3678', '5175')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1244', '243', '1228', '1226', '332', '1227', '217', '248', '300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4979', '4992', '1818', '4978', '1819', '1828', '7560', '7575')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2967', '2955', '2825', '2965', '2966', '7449', '2950', '354', '261', '1305', '7448', '2975', '51')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7636', '2055', '3283', '2047', '2048', '2054')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('911', '4387', '525')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4187', '4186', '3135', '4307')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2219', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2143', '4677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6273', '7132', '4392', '4788', '105')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3477', '3279', '3470', '3278', '2039')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1081', '7579', '1283', '7564', '1080', '1016', '6317', '6282', '301', '7581')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2640', '1452', '2638', '326', '7078', '1445', '2908', '2637', '1444', '4495', '4407')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('376', '52', '2804', '340', '271')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3479
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5023', '2558', '1934', '2386', '2387', '2349', '2396', '2385', '342', '6170', '2395', '2551', '1096', '2554', '1279', '2553', '2556', '1099', '5008', '2388')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3091', '4830', '3053', '3057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1190', '236', '255', '297', '248', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1609', '4539', '513', '4715', '7132', '6348', '1587')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('372', '354', '5016', '356')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('630', '626', '629', '7199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2679', '6348', '2678', '4795', '1559', '4410', '4715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4465', '7569', '3598', '3643', '3605')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 564
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4103', '4097')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7623', '322', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1537', '185', '324', '7149', '4862', '4392', '895', '182', '6363', '7350', '332', '7131', '1284', '2492', '1585', '1555', '7132', '4715', '7', '6348', '804', '1285', '2481', '7226', '1557', '263', '1536', '1531', '7471', '2800', '264', '6228', '7277', '1558', '184', '7340', '315', '6230', '141', '1533', '1532', '7113', '1534', '1535', '298', '1021')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7603', '21', '7230', '43', '7347', '6125', '3885', '6235', '213', '3699', '39', '380', '119', '6234', '44', '6122', '2975', '7229', '4096', '41', '288', '4432', '2166', '1640', '212')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2516', '1130', '2550')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6023', '2657', '6029', '2656')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1587', '1601', '1600', '6348', '4715', '7132', '6071', '6039', '4411', '1604')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4215', '4656', '4956', '4208', '4132', '4207', '4168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1324', '7347', '1279', '52')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('138', '354', '1012', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2990', '2989', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3574', '1073', '4331', '4381', '4320', '4513', '354', '4715', '6289', '2959', '4983', '293', '7348', '6055', '1184', '3085', '7174', '6348', '951', '7574', '3729', '3636', '4384', '4956', '4392', '515', '3656', '671', '519', '5114', '332', '7347', '4595', '1490', '7072', '3653')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1118', '3085', '3355', '4411', '354', '1115', '2437', '1117')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('555', '548', '4387', '485', '7569', '551')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3801', '3755', '6076', '3799', '3571', '3793', '3775', '7174', '3677', '6077', '3782')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4472', '649', '651', '4320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('249', '4473', '248', '6044', '2', '519', '521', '7181', '3085', '5046', '7340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1272', '1248', '375', '4595', '2355', '4596', '1218', '1270', '6282', '1249', '1184', '4348', '3007', '302', '1258', '4563', '6044', '1247', '4694', '7339', '2603', '1259', '2038', '299', '6318', '4692', '298', '1217', '1254', '1245', '313', '1500')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1899', '7475', '7162', '1878', '313', '1808')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7290', '340', '3471', '375', '7564', '2007', '351', '350', '3473', '2012', '5015')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4009
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1782
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('689', '686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7226', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4514', '1468', '6056', '1490', '272', '1378', '1424', '2184', '4399', '1425', '6057', '1466', '1467', '4513', '1464', '1426', '7131', '281')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1243', '2355', '1201')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1306', '2947', '303', '1300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3136', '4320', '5046', '334', '3152', '3125', '5092', '2007', '772', '435', '4956', '3135', '7574', '3133')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('236', '1188', '2975', '7347', '234', '1636', '235', '292')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2497', '2492', '1421', '4359', '6289', '332', '2496')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('73', '16', '1702', '4322', '6094', '4525', '1701', '1473', '4526')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4914', '5075', '4330', '7189', '4913', '4957', '1171', '288', '3669', '3679', '3675', '3672', '3678', '4912')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3648', '1184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5174', '332', '1229', '303', '1231', '7358', '324', '1244', '7025', '1234', '300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7333', '782', '7340', '3333', '315', '4745', '2959', '264', '4616', '1104', '7011', '4151', '7339', '7162', '7160', '332', '4957', '781', '7161', '2039', '6348', '6059', '313', '753', '767', '7370', '1661', '6089', '2654', '4392', '4862', '1675', '4744', '4494', '2355', '5046', '329', '319', '6280', '6282', '779', '4', '749', '927', '4953', '5114', '780', '7227', '7047', '4743', '2908', '7382', '354', '380', '747', '2166', '297', '4594', '336', '2975')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7391', '492', '4003', '4616', '491', '493', '2210', '6089', '4952', '5114', '332', '2216', '7387', '6289', '7390', '3994', '315', '288', '4599', '406', '1444', '7385', '326', '7639', '4619', '1479', '3958', '7460', '485', '4407', '763', '3240', '276', '2450', '2039', '3370', '2810', '3223', '4', '380', '478', '317', '3890', '479', '2492', '7569', '488', '354', '7118', '4962', '6348', '750', '6044', '1367', '4387', '3912', '2355', '2214', '2')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4489', '1831', '4362', '7026', '767', '7162', '7072', '1830', '7158', '110', '7339', '4341', '7048', '4464', '661', '1827', '1828', '4686', '1898', '1829', '4323', '1942', '7025', '313', '748', '4492', '315', '4322', '2492', '6289', '1864', '332', '7017', '375', '328', '4795', '1878', '6317', '4411', '3333', '7389', '2210', '293', '7131', '3332', '1881', '2355', '7574', '4', '7047', '3802', '751', '7347', '387', '7388')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('696', '5062', '680')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3089', '7623', '3672', '945', '3087', '6033', '3078', '7348', '4381')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3578', '1184', '1196', '519', '1211')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2414
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7638', '3128', '7574', '7188', '3126', '3082', '3116', '6000', '3129', '4956', '5092')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4542', '1530', '1529', '334', '1549', '6071', '981', '1280', '1558', '895', '7149', '5114', '979', '4686', '6366', '6361')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2394
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2813', '2811', '2810', '350', '1015', '1013', '302', '303', '4096', '2812', '271', '843', '340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('187', '7226', '7149', '186', '4392', '7131', '324', '2492', '7132', '6361', '182', '895', '332', '7350', '184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2336', '4495', '2335', '2101', '4595', '1406', '2333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3473', '7417')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2970', '1279', '2968', '2969', '1285')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7505', '7101', '7106', '6071', '7073', '1817', '7072', '1827')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2096', '4340', '7459', '4619', '302', '354', '1934', '2311')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4765', '7339')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2223', '2214', '2198', '1890', '7026')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7197
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3384', '7483', '3383')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2980', '2977', '2975', '5171', '2979', '7347', '7227', '2978', '2166', '6071', '2852', '7615', '449', '2976')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2', '3', '190', '4745', '274', '6004', '7333', '2557', '276', '7459', '354', '6122', '2039', '7339', '6282', '2800', '6059', '6071', '807', '1827', '786', '7370', '188', '2031', '7491', '320', '4616', '7160', '7569', '750', '7576', '375', '2975', '6199', '265', '1490', '7382', '5114', '908', '2955', '292', '3994', '5192', '288', '1358', '4982', '4330', '785', '819', '248', '773', '380', '6280', '4538', '189')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2435', '2433', '3355', '2434', '7131', '4392', '2460', '2431', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1254', '4693', '6130', '4595', '319', '4692')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4755', '342')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1614', '1557', '2492', '189', '324', '190', '186', '187')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('422', '7639', '5046', '4982', '877', '4962', '273', '413', '415', '416', '2959', '4168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4372', '7458', '2492', '7426', '324', '332', '7131')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('489', '7639', '488', '276', '415', '479', '772', '485', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3191', '3187', '3188')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2687', '2205', '375', '2206', '292', '354', '6348', '4795', '4357', '1548', '1938', '895', '2199', '4715', '4799', '4359', '7599', '2479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4911', '4920', '288', '4330', '3679', '7189', '220', '5030', '3711', '5031', '3675', '4910', '5073', '4957', '4925', '3676', '3678', '4919', '4916', '1171')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2555', '1358', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('220', '3679', '204', '4957', '7174', '215', '218', '1171', '1620', '3802', '277', '288', '21', '3874', '7569', '7615')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3900', '4616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2736', '2734', '2105', '6083', '2730', '395', '2777')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4500', '4934', '276')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4901
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('768', '767', '807', '4320', '7189', '2039', '2069', '6089', '7160', '2068', '5114', '303', '7339', '7162', '4003', '3732', '4953', '7574', '325', '2032', '7587', '792', '4952', '2070', '7161', '763', '4686', '2959', '3142', '7047', '747', '4962', '328', '2996', '4201', '7188', '192', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1854', '1897', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 677
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3351', '4323', '7389', '7026', '3333', '277', '1827', '3331', '3328')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1442
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1096', '7581', '1077', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1276', '1801', '7199', '7568', '1242', '637', '332', '5061', '642', '6318', '324', '1274', '4595', '4862', '644', '6282', '1218', '303', '2355', '354', '6044', '620', '1239', '1238', '375', '635', '636', '645', '1184', '7131', '1791', '962', '2624', '3085', '7582', '4563', '640', '1258', '639', '668', '1248', '6317', '1254', '299', '3658', '1241', '298', '1629', '3662', '4693', '2210', '4495', '1272', '6056')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1409', '1380', '1381', '765', '3952', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1302', '3085', '262', '2239', '1301', '7615', '1279', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3806', '6076', '3802', '3571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3670', '3669', '7348', '1630', '220', '3874', '288', '4381', '4957', '1174', '1175', '1173', '1171', '3802', '3280', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3135', '3134', '4306', '7362', '4188', '4320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1421', '1396', '4854', '1438', '4359', '1441', '2105', '4862', '375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('793', '748', '791', '786', '3333', '790', '7162', '7333', '4745', '7339', '779', '785', '784', '767', '4743', '7340', '7011', '6110', '2959', '7576', '6058', '7382', '1767', '5092', '7160', '783', '1479', '750', '265', '7161', '3994', '6089', '5114', '909', '908', '846', '313', '7072', '288', '4952', '7047', '6348', '749', '315', '6122', '2')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1649', '328', '2959', '1648', '7162', '3333', '1647', '7339', '1444', '767', '329', '7160', '315', '1445', '4952', '7588', '755', '1443', '784')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2321', '5150')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5118', '7091', '3905', '3906', '3892', '3947')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1641', '3694', '3885', '2975', '3699', '288', '4908', '4843', '221', '380', '355', '222', '226', '4957', '3690', '4909', '6050', '3701', '3567', '1639', '230', '231', '3691', '4921', '1638', '3669', '4958', '270', '2971')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('173', '1567', '324', '2492')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('806', '7491', '804', '805', '773', '802', '7513', '908', '772', '786', '774', '278', '770', '320', '2069', '768', '909', '2039', '907', '2042', '792', '2058', '777', '2060', '801', '776', '2065', '2041', '4568', '803', '4727', '2057', '2', '796', '807', '2070', '461', '2063', '799', '2059', '775', '906', '771', '2062', '7688', '7689', '4570')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7458', '193', '137', '1827', '1767', '4687', '7025', '132')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1329', '2978', '2979', '1326', '1325', '262', '1320', '7347', '315', '1328', '1318', '7615', '2975', '1321', '1327')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2202', '375', '4359', '4361', '7599', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('12', '11', '3', '7615', '7', '281', '279', '8', '319', '4322', '7229', '278', '7072', '320', '6234', '2002', '10', '6348', '1359', '2166', '4795', '2975', '6004', '380', '7347', '226', '263', '7230', '4555', '261', '6122', '449', '4715', '6094', '400', '1993', '909', '1432')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2112', '1971', '2199', '5008', '6184', '2762', '4341', '4387')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1141', '1130', '7579', '6317', '1283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('184', '332', '291', '324', '147', '2492', '7500', '4392', '7131', '113', '169', '39', '281', '179', '7431', '182', '327', '6317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2742
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3018', '861')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2492', '7500', '324', '336', '332', '7501')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7184', '2224')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2558', '7331', '7459', '2351', '354', '2962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3762', '3802', '7174', '3714', '3756', '332', '3677', '1171', '3809', '4957', '3838', '7340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4666', '4379', '4665', '4495', '6234', '2160', '2161', '1960', '1452', '7229')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4607', '4602', '4616', '7386')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6244', '1934', '7514', '1971', '1960', '2114')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2874', '4646')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3757', '7370', '3678', '3679')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1042', '301', '7581', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7344', '4976', '4974', '7073', '7025', '1012', '6171', '7072', '6071', '4747', '7342', '5072', '7319', '7125', '7298', '4725', '6039', '2468', '1816', '110', '1842')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('52', '6234', '819', '281', '4715', '7149', '1935', '7229', '332', '261', '6182', '36', '6348', '6235', '4554', '7011', '987', '7615', '6238', '7230', '187', '1558', '838', '10', '6122', '7132', '320', '1523', '322', '7347', '449', '2166', '1981', '2958', '5061', '39', '1592', '248', '186', '2206', '6016', '4521', '46', '327', '839', '1536', '324', '43', '1534', '118', '14', '4411', '49', '113', '7588', '6044', '1535', '17', '1359', '51', '303', '7', '4670', '7160', '278', '3890', '4545', '1995', '1524', '7569', '4320', '38', '335', '2205', '4795', '37', '7191', '94', '2673', '323', '270', '2278', '2002', '2190', '2142', '7603', '7471', '48', '42', '4539', '47', '1975', '4957', '6137', '226', '3333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7453', '1615', '1715', '4320', '1476', '4413', '7339', '190', '324', '4952', '3994', '7390', '1908', '317', '7574', '1906', '4132', '7340', '1648', '1907', '2234', '7118', '313', '767', '1474', '2278', '877', '2246', '755', '1714', '7435', '7131', '1909', '1710', '3995', '186', '747', '2492', '1711', '4003', '2242', '7387', '1528', '315', '2035', '1898', '7564', '4168', '4616', '7049')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7642', '4962', '7641')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3786', '3677', '248', '320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1625', '303', '4957', '3802', '220', '1197', '1175', '1244', '288', '19', '1624', '1623', '1174', '7174', '17', '7602', '1620', '85', '1172', '332', '203', '6044', '8', '205', '15')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4700', '496', '4595')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2400', '2394', '2397')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1102', '400', '1101', '1104', '1082')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1079', '301', '400', '5190', '7459', '354', '7564', '1170')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 718
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('237', '1642', '212', '7347', '319', '1641', '3885', '231', '227', '7026', '2975', '262', '4843', '3088', '288', '4096', '4957', '1643', '207', '3690', '7571', '220', '3699', '3669', '226', '6048', '1637', '270', '3696', '7594', '3815', '292', '3701', '7615', '1639', '215', '4958', '4905', '234', '6044', '7349', '6050', '4921', '236', '1638', '7162', '1626', '208', '210', '1640', '380', '230', '4909', '2967', '3874', '325')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3259', '760', '2007', '7353', '2010', '2013', '4320', '4636')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4090', '4089', '7375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('723', '291')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2610', '2553', '1123', '2606', '2604', '2538', '2360', '2551', '354', '342', '2568', '4960')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2417', '4392', '277')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3193', '3192', '7669')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5092', '2014', '4131', '7294', '2962', '4636', '2007', '3130', '2964', '3133', '4320', '435', '5091', '4173', '2009', '762', '4571', '334', '1479', '4132', '2010', '7361', '4172', '760', '763', '3135', '4126', '4128', '846', '4129', '2017', '2015', '7353', '7362', '2963', '2013', '4175', '3134', '845', '3136', '406', '3139', '2008', '1478', '7638', '7622', '761', '3129', '4124', '4130', '4171', '842', '3138', '756')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1943', '1935', '261', '7229', '1942', '107', '4715', '4521', '2166', '1941')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('405', '4962', '3220', '4', '4982', '273', '4495', '327', '2809', '7639', '5046', '188', '187', '7226', '4725', '3221', '7457', '1174', '819', '2036', '324', '281', '146', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1752', '1749', '1751', '1767', '1760', '523', '293', '7591', '515', '1750')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1836', '1835', '7339', '4999', '5072', '2289', '4980')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('768', '2052', '4594', '2070', '400', '2083')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1002', '1012', '1001', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1511', '7471', '1509', '1601', '1507', '1508', '6071', '7072', '1506', '1510', '4686', '319', '6004')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3767', '3763', '3762', '3766', '3764', '7174', '3677', '7623')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2135', '4619', '2310', '7459', '6011', '2279', '6150')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1388', '2311', '4862', '2310')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1672', '1671', '1667', '7340', '802', '349', '1666', '2959', '313', '406', '4745')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('35', '6122', '449', '4619', '6348', '7339', '4381', '315', '3017', '895', '4847')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6055', '4381', '1050', '3672')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('499', '1505', '7459', '7320', '4509', '1490', '6094', '1491', '2001', '6056', '274', '4513', '1995', '511', '4514', '1425')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1955', '2637', '4495', '3399', '1948', '7229', '1358', '1935', '1444', '1286', '52', '335')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1554', '324', '7500', '7501', '332', '2492', '7502', '7013', '7503', '319', '336', '4317', '4957', '320', '7072', '5190', '1552', '4322', '6056', '1077', '1357', '2039', '3994', '3616', '7504', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('705', '704')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 546
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1270', '4983', '4563', '6282', '6318', '3079', '1218', '1184', '6317', '3616', '6071')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1660', '1659', '820', '802', '3', '7160', '1648', '7454', '784', '2452', '56', '7340', '2959', '1911', '1649', '1802', '1806', '1658', '1795', '3333', '796', '7162', '2', '1657', '4498', '328', '4953', '63', '4322', '1445', '7569', '1704', '6071', '1443', '7339')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1208', '497', '1207')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3759', '7174', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1025', '895', '7399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7057', '3181', '450', '3184', '449', '7564', '3491', '5016')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('428', '422', '427', '408', '4962', '273', '4982', '405')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6239', '895', '110', '1012', '3802', '1827', '4686', '1826', '94', '4320', '3616', '6348', '332', '354', '4323', '375', '6280', '2166', '7189', '7339', '7', '6317', '4983', '1767', '2825', '7491', '102', '226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('126', '1012', '7025', '94')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3237', '7646', '7644', '4567', '7639', '4962', '3230', '7472', '4982', '4', '5047')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2389', '263', '4392', '5024', '342')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3016
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 6158
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('303', '332', '4715', '324', '6110', '2278', '7131', '4322', '7347', '7226', '6289', '288', '5061')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2544', '6128')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('83', '80', '16', '55', '6094')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('41', '449', '6122', '39', '40')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('481', '480', '469')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6051', '3607', '4594', '1184', '3605')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4123', '3282', '3280', '4313', '2039', '2043', '3478', '3309', '4115', '7571', '7372', '2042', '4122', '2046', '4120', '7360', '4773', '2047', '3279', '2045')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7353
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7133
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3798', '3797')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4399', '1426', '6056', '1490', '1424', '1941', '1425', '1463', '274')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3598', '3594', '3605', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7039', '3728', '7204', '3726')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3780', '3743', '7169', '4330', '3721')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2162', '4667', '1968', '2160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2452', '1278', '2414', '190')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1364', '1360', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6107', '1878', '7389', '4464', '1479', '7162', '7161', '767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('186', '4715', '7160', '7132', '6071', '4411', '1592')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2495', '2493', '2492', '332', '1421', '2450', '2466', '4359', '7599', '2467', '2494', '2485', '375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4253', '4309', '4305', '4306', '4168', '4248', '4251')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4917', '3679', '3678', '3675', '3711', '220', '4916', '3712')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1773', '293', '1767', '1765', '1763', '1772', '7568', '620', '1764', '621', '7160', '1753', '1096', '1752', '675', '1732', '51', '1761', '615', '1739', '1652', '895', '1747', '927', '618', '6000', '3544', '1762', '7574', '7591', '1749', '5141', '4715', '7181', '226', '271', '279', '5114', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4382', '4792', '662', '663', '332', '671', '669', '497', '522', '1184', '523', '4595', '6282', '521', '3616', '519', '7490', '4384', '7659', '670', '299', '7568', '300', '7189', '1730')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('674', '242', '4474')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2710', '2709', '49', '335', '270')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2088', '340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('587', '928', '7569', '692', '567', '586', '4387', '585')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3344
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('825', '6004', '824', '7672', '3333', '7686', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3706', '6033', '3672', '1171', '3090')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7201', '2137', '4668', '2160', '2161')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6144', '4495', '2097', '7514', '2099', '4619')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3421', '3417', '3420')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3541', '3548', '6000')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3266
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2072

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('252', '248', '4597', '244', '251', '6044', '250')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('523', '938', '7569', '621', '7490', '516', '291', '686', '567', '4387', '521', '557', '3333', '7659')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1629', '288', '4957', '15', '1627', '3802', '7174', '1628')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1249', '1256', '4693', '1198', '1258', '1218', '4595', '4692', '4694')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1599', '1586', '1597', '7564', '7686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4689', '4715', '4795', '4688', '6348', '7226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1274', '2355', '1184', '4595', '6317', '1218', '6318', '1273', '7118', '4563', '6282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4363', '1592', '4795', '1827', '1508', '15')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4854', '4494', '4495', '5025', '4862', '4861', '7412', '1934', '2311', '1099', '1279')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4469', '2261', '2256')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3139', '6000', '3205', '7574', '4208', '7353')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1538', '6004', '7072', '6071')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4611', '4610', '4401', '4616', '4631')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3649
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('854', '449', '2811', '6122', '1013', '350')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7023', '4316')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3966', '5114', '3968')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('815', '788', '6015', '3691', '3701', '3572')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('713', '712')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1285', '1284', '2975', '336', '262', '1282', '49', '51', '1279', '270', '52', '7580')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2258', '516', '2255', '515')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('721', '720', '679', '719', '677', '550', '678', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4365', '105', '4687', '6241')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1260', '2355', '4563', '1265', '1259', '4595', '4641', '4952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('943', '4503', '936', '942', '4381', '4384', '938', '542', '4387', '941')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('848', '755', '4357', '375', '4715', '7599', '753', '49', '747', '2799', '6122', '2039', '332', '842', '2808', '2212', '846', '385', '2807', '3802', '404')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2735', '2734', '2730', '2733', '2105', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1573', '1601', '1600', '1596', '1604', '1592', '1595', '279', '1594', '1511', '6348', '110', '835', '1593')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1016', '877', '7564', '399', '1285', '895', '354', '1567', '7459', '1352', '1072', '1479', '1283', '7581', '7579', '4415', '4495', '187', '1615', '188', '1104', '1478', '6280', '336', '4953', '395', '5190', '1284', '324', '1279', '400', '2492', '301', '264', '398', '819', '397', '190', '1090', '1096', '332', '334', '6317', '7582', '7149', '6282', '4027')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1476', '1715', '4413', '4320', '1906', '1907', '1474', '2246', '7574', '1908', '2722', '2210', '1472', '1471', '6094', '7459', '767', '1473', '2242', '4128', '1713', '1490', '2249', '326', '2810', '7339', '2211', '2701', '7626', '6030', '7390', '2706', '1528', '1909', '1710', '1714', '2697', '7588', '4747', '4616', '315', '288', '7347', '4', '4953', '1479', '5126', '4131', '7387', '7340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2200', '2243', '4341', '4', '2199', '7374', '4957', '3636', '895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3957', '1444', '7187')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('15', '7174', '2975', '7347', '3802', '1175', '278', '319', '1174', '10', '288', '14', '11', '4957', '1173', '8', '7230', '7576', '3755', '7615', '380', '2001', '1171', '6234', '292', '7', '320', '1172', '1352', '12', '3874', '1104', '2002', '332', '1975', '400', '279', '4411', '1989', '375', '807', '7574', '909', '271', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4019', '4018')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3606', '3604', '320', '3616', '1184', '3605', '1358', '1277', '3590', '3706', '6317', '3710', '7571', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2385', '1934', '342', '7181', '4521', '5192')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4582', '2852', '7057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1852', '328', '7161')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3038', '3034', '3036', '3037')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7667', '4830', '3047', '3057', '3046', '7652')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2727', '2330', '4357', '2313', '2726', '375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3238', '4', '3228', '3230', '3222', '4962', '7472', '7644')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1220', '1184', '1237', '6282', '3655', '1219', '2624', '4595', '2355', '1274', '1240', '303', '1358', '7568', '4563', '620', '298', '4952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('107', '6017', '7229', '261', '7', '327', '4683', '2139', '6238', '324', '6016', '332', '7230', '7192', '2166', '4670')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1995', '1424', '1468', '1490', '6056', '6234', '2374', '332', '4715', '1993', '6348', '1467', '1994', '513', '7229')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('49', '84', '41', '7229', '2975', '838', '6235', '39', '46', '44', '4525', '226', '981', '7347', '261', '79', '3885', '48', '288', '6348', '45', '214', '449', '4322', '83', '54', '55', '322', '327', '767', '4392', '186', '47', '6071', '6016', '4096', '85', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4903', '7158', '1828', '7339')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3908', '3907', '3905', '3906', '3904', '494')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1078', '7459', '7581', '6280', '7564', '1017', '395', '301', '619', '1104', '1077', '1019', '1283', '6282')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2102', '2330', '2101', '375', '301', '755', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2564', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('615', '2283', '6317', '670', '614', '1184', '6319', '236', '2355', '6282', '2278', '2279', '6318', '597', '1739', '7569', '1737', '303', '1731', '608', '4595', '636', '2508', '4387', '594', '7601', '293', '568', '3624', '4392', '1773', '1738', '7568', '667', '1767', '1221', '2281', '3646', '6044', '2310', '1276', '298', '1734', '302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4011
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4683', '4781', '7192', '2166', '327', '4554', '7229', '6016', '324', '6234', '7230', '6235', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2026', '273', '3115', '3116', '413', '327', '324', '115', '415', '6085', '7457', '3114', '6334', '7660', '417', '426', '411', '4725', '405', '185', '412', '419', '424', '189', '429')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7328', '1184', '3576', '7189', '1209')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1279', '1278', '4392', '51', '270', '821', '1375', '190', '7347', '4495', '6094', '271', '195', '277', '7665', '263', '278', '336', '819', '3669', '2975', '262', '3399', '1640', '4322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4211', '4207')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2623', '2355')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2456', '336', '115')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1996', '1490', '4514', '6056', '1995', '1463', '332', '2183', '4795', '6057', '7229', '2166', '6234', '1468', '4554', '1982', '274', '6348', '4513')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3206', '4982', '3034', '3037', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3006', '7459', '7564', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3117', '3115', '3116', '3032', '4168', '4956', '3114')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('292', '288', '748', '3802', '7174', '6076', '17', '807', '4957', '3874', '7574', '2950', '334', '332', '7348', '1358', '354', '4595', '3694', '3809', '7568', '3692', '767', '315', '6317', '7382', '2975', '7292', '927', '7199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2532', '4749', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3624', '3586', '3585', '4387', '7569', '288', '1445', '52', '4494', '380', '315', '7011', '4616', '6122', '567', '7574', '601')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1006', '1012', '1003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('435', '460', '2074', '2071', '2009', '2072', '380', '2955', '2010')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('653', '938', '649', '4386', '7659', '532', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1297', '1282', '277', '2975', '1294', '262', '270', '7181', '1279', '4521', '1293', '2388')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('697', '686', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3719', '3712', '3714', '7623', '3713', '3729', '3802', '3679', '3676', '4330', '3732')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1802', '57', '60', '59', '4745', '58', '7333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3758', '3755')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('552', '530', '7569', '548')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1330
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('814', '813', '807', '2039', '7181', '2035', '797', '192', '2190', '7149', '326', '4420', '7491', '796', '4595', '809')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1835', '4980', '1833', '4997', '5072', '1834', '7243', '6059', '5071', '6348', '4998')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1372', '1371', '7665', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3506
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('988', '193', '7428', '1012', '4392', '6273', '7025', '4788', '137', '6219', '136', '7132', '6230', '4747')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('669', '298', '1184', '7490', '297', '523', '521', '2166', '303', '4', '299', '4919', '4384', '497', '7189', '332', '3616', '7659', '515', '522', '519', '7072', '3652', '300', '6282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7246', '4686', '6318', '6282', '299', '6317', '4', '2892', '6056', '3616', '4513', '1490', '94', '6071', '7339', '4957', '1358', '4715', '7574', '6319', '4956', '4982', '325', '5190', '4168', '4594', '7131', '7491', '7390', '7181', '298', '293', '1144', '7347', '2355', '7564', '807', '4593', '4322', '1140', '3874', '7569', '1012', '2038', '6115', '3333', '7149', '6348', '4348', '4381', '4616', '1473', '3007', '449', '6079', '895', '354', '5114', '301', '763', '1141', '297', '3283', '2039', '6280', '7589', '313', '4869', '1125', '248', '1184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3808', '6076', '7174', '3807', '7181', '3802')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('417', '2702', '416', '375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4509', '1505', '274', '335', '6057', '6056', '1490', '1999', '1425', '2001', '1359', '4513', '1491', '6094', '1484', '2183', '1938', '1482')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3712', '4330', '6054', '3679')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2141', '2140', '4521', '7229', '6234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7358', '1229', '1244', '964', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('85', '1173', '3802', '1424', '17', '226', '19', '1172', '288', '319', '2975', '4957', '7602', '7174', '7347', '278', '21', '1171', '7639', '15', '1174', '392', '1175', '8', '2210', '18', '14')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1774', '5141', '1773')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5165', '3738', '3741', '3740')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('761', '760', '759', '807', '7574', '334', '406', '2039', '747', '6059', '814', '7353', '1476', '767', '4320', '4957', '7162', '812', '757', '7587', '847', '756', '808', '810', '846', '264', '226', '7453', '817', '804', '7622', '299', '3085', '313', '774')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3538', '3202')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('335', '7564', '342', '6234', '7181', '3994', '1358', '7459', '270', '4715', '4027', '7149', '7229', '1104', '315', '248', '261', '7639', '3333', '1509', '1285', '2551', '7270', '6182', '4436', '4381', '354', '7289', '332', '4003', '807', '4983', '5192', '6235', '302', '4411', '1367', '6282', '2039', '7132', '7161', '51', '2166', '293', '7180', '6348', '4392', '49', '7348', '52', '6044')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3896
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5061', '1229', '303', '7358', '972', '1244', '993', '332', '1234', '324', '1246', '7112', '6234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7160', '7156', '1647', '6110', '7025', '315', '1870', '779', '7038', '7588', '1899', '784', '7131', '1664')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('445', '2879', '3020', '2955', '5016', '444')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1747', '1764', '521', '1743', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('856', '816')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7099', '7073', '6071', '7072', '7026', '354', '7106', '7105', '7686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4235
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2745', '2743', '4340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3478', '3471', '3279', '3477')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3542', '3541', '6000', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('949', '3598', '3597', '7569', '945', '4465')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7358', '5061', '1231', '303', '1234', '5060', '1638', '1233', '1012', '324', '497', '332', '992', '993', '2210', '1232')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('819', '4962', '7277', '264', '7149', '895', '2039', '6363', '313', '807', '818', '5190', '3616', '188', '81', '190', '2042', '334', '6071', '2056', '4554', '1511', '814', '2199', '7', '6361', '3890', '186', '187', '1537', '796', '797', '809', '1558', '4542', '7162', '4616', '2007', '4982')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4766', '4765', '4769', '4324', '4770')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7138', '4613', '4607', '7141', '6289', '7386', '4608', '4601', '4616', '7012', '2214')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('686', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1357', '2002', '1423', '7131', '6056', '4322', '1490', '7347', '2492', '6094', '332', '4392', '2493', '319', '1425', '320', '6057', '1660', '1348', '1424', '2975', '274', '2495', '2471', '279', '2001', '2103', '1355', '1332', '5171', '2183', '1486', '7229', '1353', '1347', '1463', '1992', '6234', '4', '2184', '52', '4411', '2441', '4514', '1999', '1997', '1998', '5052', '2467', '1468', '2440', '272', '1988', '1995', '1491', '3465', '1359', '1482', '1505', '2374')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3724
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2652', '6029', '1443', '2650')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7066', '2923', '5129', '400', '2922', '1135', '6280', '2921', '1300', '5130', '2809')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3770
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('664', '6044', '1767', '248', '4595', '1184', '2355', '1240', '1251', '1218', '249', '6282', '1195', '302', '4642', '303', '324', '1221', '1791', '7568', '6317', '1220', '4433', '7579')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1761', '1750', '1760', '1753', '1752', '1771', '1740')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('763', '333', '336', '6311', '4905', '1975', '5077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1142', '7581', '1078', '1141')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('924', '291', '938', '650')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7098', '7026', '7073', '7097', '4316', '7105', '1827', '6071', '325', '7072', '661', '927', '7560', '5114', '7686', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1319
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('57', '56', '796', '2', '4322', '6094', '1424', '3', '4745', '276', '7576', '5114', '6071', '375', '192', '55', '1662')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2969', '2825', '2968', '1324', '262', '2954', '7449', '2955')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2545', '4760', '3004', '2542', '4882', '2544', '6128', '4758', '4342', '1358')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1737', '1731', '1772', '1727', '1733')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4105', '4097', '4104')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3756', '7174', '3714', '3715', '3802', '3571', '6076', '3744')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3721', '3714', '3690')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('685', '532', '496', '682', '525', '684', '557', '621', '681', '521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7044', '992', '972', '303', '6009', '1638', '1629', '332', '7156', '7112', '324', '1636', '1637', '6078', '7025', '1012', '6071', '92', '1635')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7676', '7560')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6187', '3384', '3399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1873', '7161', '1648')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3571', '6076', '3569', '6077', '3799', '7174', '3793', '3679')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6142', '2775', '2787', '2786', '6141', '375', '4357', '2768', '6152', '2773')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1824', '7026', '4323', '1861', '1827', '1882', '4489')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3608', '3607', '4381')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3282', '3478')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('448', '5142')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1643', '1646', '319', '208', '207', '91', '14', '2898', '400', '4529', '10', '2836', '85', '793', '17', '278', '12', '221', '2840', '7615', '4121', '6074', '7602', '19', '210', '114', '3562', '608', '226', '4096')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('618', '1184', '1735', '1791', '616', '615', '617', '1827', '6282', '1772', '664', '3624', '667', '605', '4595', '6318', '666', '612', '2355', '1738', '521', '248', '4596', '303', '613', '1729')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4671', '2170', '7229', '2374', '2151', '2152', '4576', '2136', '3419', '332', '4545', '4554', '6234', '3422', '327', '7602', '2145', '4555', '7', '2153', '2154', '2169', '6245', '2150')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1656', '802', '1655', '1654', '1647', '2959')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4435', '354', '2359', '4348', '4646', '2346', '2038', '2571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7047', '6110', '328', '7038', '1808', '7156', '4464', '7576', '767', '1878', '7339', '7011', '7167', '7025', '7162', '6076', '335', '1879', '7588', '7160', '6109', '779', '1876', '1899', '1814', '1871', '7161', '270', '6348', '1807', '7333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('71', '827', '824', '7072', '7560', '7672')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1489', '1505', '4509', '1488', '274', '6057', '1486', '1481', '499', '1425', '1359', '1484', '500', '7320', '1999', '2001', '1487', '2002', '1463', '2183', '501', '7164')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1087', '1086')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('414', '7639', '6059', '2797', '413', '2203', '405', '4962', '4982', '490', '4725')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3022', '862', '3021')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7088', '7085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1285', '336', '4495', '299', '188', '1375', '51', '263', '82', '1284', '3399', '1278', '1359', '4392', '191', '1282', '277', '4456', '6094', '52', '819', '7665', '4322', '190', '6184', '4525')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2197', '1449', '2191', '6089', '2196', '346', '1445')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3221', '3134', '3144', '4392', '3220', '3057', '7639', '1358')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1862', '767', '7162', '7181', '4168', '3613', '7347', '7158', '1897')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3049', '3048', '3047', '3221', '3046', '7652')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4086
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1231', '1244', '1229', '5061', '332', '303', '1237')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3426', '3432', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3126', '4956')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2492', '319', '324', '332', '2490')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 698
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1198
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('462', '2083', '2008')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1275', '2355', '4595', '3616', '1274', '1218', '4563', '4594', '4441', '1270', '1256', '1254', '3634', '6282', '4952', '6317', '1184', '302', '6130')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7584
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 678
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4525', '6094', '816', '1749', '7387', '7011', '248', '4322', '6280', '332', '375', '4619', '6348', '2800', '322', '271', '7131', '263', '1410', '5149', '3544', '4168', '3', '7160', '4341', '4326', '1358', '7162', '1660', '6122', '7149', '313', '1490', '1518', '4411', '2492', '326', '938', '7339', '270', '4957', '7574', '297', '276', '3085', '7569', '342', '4380', '265', '2', '7023', '2039', '380', '1363', '328', '7564', '807', '4456', '4513', '354', '1104')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7014', '7023', '1553', '6004', '4316')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7118', '7128', '7117', '2637', '7012', '3370')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1549', '2957', '987', '2958', '4938', '4715', '6348', '7132', '7350', '1558', '1358', '277', '767', '2492', '261', '4411', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4782', '1198', '7199', '300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7576', '4529', '791', '6089', '790', '4953', '4003', '5082', '3890', '5114', '786', '3636', '3912', '7387')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1305', '3085', '5132', '248', '7339', '1367', '303')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4980', '5072', '7505', '4976', '7243', '7124', '1827')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5072', '7343', '7318', '7243', '7124', '1827', '7505')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('769', '7162', '768', '763', '6089', '7347', '767', '332', '4320', '7160', '7339', '807', '7011', '2039', '7161', '7025', '4003', '2492', '313', '2007', '2908', '288', '4181', '5114', '2084', '325', '2089', '7574', '1012', '3333', '7370', '4957', '6289', '938', '5092', '7229', '334', '1911', '7385', '2959', '2060', '7654', '7047', '7569', '6000', '3059', '804', '7564', '4952', '3057', '7460', '4953', '3890', '6282', '7131', '3144', '303', '781', '4745', '328', '271', '264', '7387', '4616', '762', '7568')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2333', '2101', '2097', '7459', '354', '2351', '2332', '2103', '395', '2102', '4522', '7382')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1077', '375', '4357', '385')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1099', '2394', '4495', '4862', '1279')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('142', '141', '168', '169', '4392', '138')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4641', '2603', '2623', '4495', '2622', '1258', '2669', '2310', '2332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4396', '7360', '2039', '5106', '3283', '2046', '3254', '3309')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2044', '2041', '807', '2039', '2038', '763', '2043', '3057', '3053', '2032', '2034', '2042', '7639', '3283', '2035')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4698', '4385', '298')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4545', '2166', '4677', '4668', '4670', '4619', '6234', '7', '2142', '4379')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('528', '527', '525', '516', '621', '7569', '289', '938', '567', '522', '4384', '291', '521', '523')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('301', '270', '315', '277', '2975', '262', '7049', '324', '6311', '6044', '193', '1567', '190', '215', '188', '7431', '249', '2492', '7458', '4392', '248', '7131', '7398', '7132', '263', '246', '2039', '6348', '7347', '4415', '49', '3669', '52', '336', '51', '278', '191', '675', '819', '332', '618', '7349', '7390', '237', '7503', '187', '1614', '288', '6317', '1195', '292', '231', '614', '186', '664', '7350', '265', '4595', '213', '1479', '665', '19')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4138', '5167', '4136', '4983')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('864', '863', '3085')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4697', '4385', '669', '298')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3498
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7640', '3144', '380', '7639', '6348', '927', '4962', '4678', '3057', '2166', '4341', '4862', '3220', '4170', '332', '4', '4168', '4616', '6280', '3053', '895', '5046', '4686', '4619', '288', '354', '313', '480', '7382', '748', '469', '325', '763', '2039', '4957', '4416', '315', '3283', '7161', '1184', '3070', '400', '6089', '406', '492', '3084', '6071', '49', '416', '494', '483', '485', '4952', '6044')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1555', '7503', '2492', '7', '807', '324', '7500')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('137', '4687', '4788', '4392', '7131', '6228', '136', '4367')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2124', '2243', '4341', '2675', '4715', '2697')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2833', '5143', '3514')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7460', '5133', '395', '2352')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3782', '3781', '3802')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3584', '1184', '4381', '4952', '3640', '519', '3643', '3642', '6055', '515', '7348', '1073', '669')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1444', '7390', '328', '7387', '3142', '329', '1443', '792', '312', '4616', '7576', '7392', '3890', '326', '6029', '2908', '4952', '5126', '4003', '3994', '7162', '6289', '5114', '7665', '3333', '2210', '6089', '7118', '767', '2959', '4495', '2912', '763', '346', '7588', '325', '7131', '4409', '7639', '6282', '317', '332', '1490', '4320', '4620', '7391', '406', '3802', '786', '1478', '4096', '1479', '7615', '320', '802', '354', '7333', '4720')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('533', '567', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1771', '1752', '1759', '1753', '1750', '1770', '1769', '1754', '1751', '1740', '1765', '1747')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1858', '6113', '6112', '767', '7162', '6044', '7158', '1898', '7017', '7048', '763', '7339', '7021', '6088', '7011', '313', '7348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3439', '3437', '7078', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3230', '4982', '3226', '3227', '7472', '4', '3229')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('695', '691', '7569', '692', '680')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1551', '1550')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7141
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7327', '1184', '521', '6053', '3605', '877')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3244', '3241', '6000', '3206')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7675', '7686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 548
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3507', '3514')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6115', '1265', '1184', '4695', '4382', '3616', '4383', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6119', '3384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1879', '328', '781', '1871', '7162', '7160', '1649', '7167')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1486', '6056', '1505', '1999', '4509', '501', '1359', '1481')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4539', '1601', '4715', '6348', '1600', '1592', '7132')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3033', '3085', '4962', '426', '4726', '7639', '415', '424', '1174', '4982', '417')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 557
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4400', '1490', '1463', '1426', '6056', '4399', '2185')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('788', '3691', '3701', '3572')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('819', '52', '4096', '4745', '7339', '380', '226', '3333', '2166', '230', '1834', '211', '1820', '1719', '7571', '265', '82', '212', '49', '319', '4989', '6056', '4990', '749', '4997', '278', '208', '1806', '292', '4743', '209', '7615', '3994', '207', '3470', '7374', '400', '4314', '51', '210', '10', '7459', '119', '231', '395', '818', '4432', '1828', '1905', '7370', '1822', '2975', '291', '7149', '7382', '213', '406')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1749', '293', '1767', '7591', '1765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('340', '7564', '7663', '5192', '5016', '265', '354', '2955', '2002', '400', '271', '7290', '895', '226', '4348', '2380', '2383', '302', '5099', '52', '303', '51', '3471', '381', '380')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3453
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4806', '726')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4', '3073', '7555', '4726', '773', '3084', '2', '7653', '3222', '400', '792', '488', '7420', '483', '3081', '487', '3077', '485', '476', '3080', '3229', '477', '7640', '4705', '489', '481', '495', '345', '492', '490', '3223', '281', '470', '493', '2041', '478', '475', '479', '3233', '4962', '7639', '3239', '3236', '471', '5047', '3072', '473', '469', '491', '3238', '320', '3230', '482', '3225', '3232', '3228', '3237')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3575', '1205', '523')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4601', '6289', '4401', '2216', '7391', '4599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7184
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('711', '710', '731')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('427', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6138', '4168', '4132', '4652', '4135', '4170', '4234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3114', '7660', '7188', '3032', '4956', '422', '417', '4224', '3082', '4168', '415', '6334')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('783', '7340', '3333', '5024', '7333', '4411', '4745', '767', '288', '7160', '2959', '7382', '5114', '7339', '4962', '1767', '7568', '1184', '4686', '449', '7162', '4743', '4387', '313', '895', '754', '4132', '752', '315', '322', '6029', '297', '748', '7011', '7161', '782', '3616', '6089', '1473', '7582', '1367', '6317', '4952', '2975', '7571', '7025', '4953', '753', '7131', '3912', '279', '3958', '7576', '301', '6071', '1423', '248', '4768', '7390', '7348', '2270', '49')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2867', '1367', '7449', '2983', '2955', '869', '303')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3212', '3244', '2035', '3041', '3207', '3245', '3241', '3211', '3242')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('946', '2038', '7181')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2257', '518', '2717')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3427
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1582', '1581', '6071', '5072', '7319', '1012', '7073', '7342', '2468', '4747', '6039', '4686', '1827', '2510', '7683', '7072', '7344', '7125')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3092', '3057', '4830', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('938', '936', '4381', '7348', '914')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('849', '845', '755', '5016', '375', '848', '4357', '7599', '1012', '4392', '380', '404', '4595', '270', '261', '6122', '927', '6317', '332', '288')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2823', '2822', '3032', '2810', '2955')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5125', '4379')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3674', '6317', '2959', '3672', '3669', '4957', '3670', '1630', '6076', '3802', '292', '315', '1174', '288', '7174', '3671')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3954', '7187', '2217')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2817', '1028', '1027', '4096', '2816')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2261
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7175
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1763', '4785', '1762', '1760', '7607', '1771', '1759', '1765', '1753', '1761', '1754', '5141', '1749', '1751')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4607', '4602')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4252', '4266', '4308', '7162', '4208', '2959', '317', '4320', '4253', '2278', '303', '6317', '7587', '4132', '332', '4168', '380', '772', '2975', '3802', '4326', '4956', '620', '7188', '2908', '3890', '375', '7615')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4640
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4362
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('529', '4390', '613', '4790', '567', '686', '7569', '523', '525', '4384', '519', '938')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4974', '6039', '7025', '1012', '7576', '1816', '2294')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4388', '298', '4697', '4699', '4696')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1785', '300', '1783', '7568', '1784')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7226', '332', '324', '327')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3547
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1308', '3085', '6122', '4725', '1305', '7347', '2038', '1302', '1306')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3508
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2203', '2202', '2208', '7391', '1445', '346', '494', '4401', '7239', '1444', '317', '1449', '7078', '2207')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('188', '421', '174', '7226', '332', '7132', '1537', '7131', '187', '895', '4392', '2492', '186', '7149', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1227', '1252', '332', '5060')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4795', '4715', '2213', '6348', '7026', '6029', '5126', '262', '4414', '1548', '315', '375', '7347', '7615', '4', '2355', '5092', '6094', '6282', '4513', '1524', '288', '4320', '2713', '7149', '4322', '4957', '1174', '4796', '11', '4411')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1085', '1298', '7181', '1285', '6348', '1220', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1994', '4515', '1989', '1993', '1490', '1468', '7229', '2719', '6056', '274', '1425', '1992', '4715', '6282', '1467', '7230', '6057', '332', '1378', '6348', '6234', '1975', '2103', '4514', '4795', '1481', '2714', '1377', '7460', '7', '4400', '4554', '380', '4555', '1465', '7510')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('693', '584', '567', '579', '686', '7569', '695', '557', '576', '675', '704', '569', '583', '692', '7181', '302', '577', '707', '571', '4957', '689')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1209', '1184', '3616', '670')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1638', '3885', '1635', '7347', '4957', '288', '2975', '1637', '1636', '278', '3669', '3699', '4909', '277', '292', '7349', '3750', '4843', '7574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7073', '7072', '7560', '7026', '6071', '4616', '332', '277', '1825', '661', '4326', '4619', '4983', '804', '1827', '4595', '1473', '4316', '7347', '4096', '291', '4341', '7654', '292', '7149', '2038', '1535', '4957', '5072', '6289', '4725', '7097', '354', '288', '1749', '4322', '1358', '322', '7663', '2166', '2039', '2492', '6000', '7162', '7574', '5114', '6122', '1184', '7459', '7161', '3663', '297', '2975', '7014', '7686', '4392', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2637', '1445', '2908', '4407', '6029', '7162', '326')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4513', '7671', '1172')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('763', '759', '760', '765', '762', '334', '761', '767', '4952', '4307', '7574', '5092', '2007', '3085', '406', '927', '2039', '4320', '5016', '807', '6000', '6059', '264', '1476', '808', '303', '7453', '2083', '4131', '2009', '81', '7622', '4956', '747', '809', '4962', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4665', '4379', '4664', '7665', '4674', '7229')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4188', '4187')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('419', '4982', '4962', '4725', '418', '5046')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1464', '1490', '274', '1463', '1424', '4399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1222', '1198', '1629', '332', '303', '1197')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('246', '245', '1185', '297', '521', '4382', '3000', '523', '217', '516', '669', '7582', '7578', '522', '4384', '3002', '6041', '519', '515', '497', '1187', '671', '496', '1353', '672', '670', '2845', '4528', '7490', '2998', '248', '243', '1168', '2826', '1169', '2843')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('176', '1567', '7431', '2492', '324', '179', '175', '173')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4588

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2338', '1814', '7297', '5072', '7073', '110', '1827', '1837', '7026', '2290')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2213', '4616', '1444', '7390', '312', '4401', '1479', '7239', '4003', '5114', '2241', '7588', '1445', '3890', '2721')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('37', '6235', '449', '6122', '324', '7226', '7229', '6182', '4392', '36', '6234', '226', '354', '115')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3130', '4168', '7390', '6000', '5092')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1731', '1729', '7571', '1730', '1749', '293', '7469', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1626', '288', '4957', '7174', '17', '1623', '1244', '3874', '3802', '1620', '8', '303', '4953', '15', '18')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2669', '2622', '2332', '2621', '2626')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('667', '666', '1184', '4595', '303', '6282', '5044', '664', '1219', '2355', '993', '324', '7189', '4563', '523', '3616', '7568', '3', '6044', '516', '4641', '248', '752', '1218', '1220')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2137', '4379')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('845', '844', '842', '313', '317', '2039', '404', '406', '334', '4956', '747', '49', '7574', '81', '817', '843', '4320', '4495', '4307', '303', '877', '271', '567', '809', '6122', '52', '261', '264', '807', '746', '1479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('516', '303', '332', '1184', '298', '515', '297', '972', '299', '497', '7490', '7189', '1233', '938', '300', '7199', '496', '1767', '3616', '289', '7026', '7591', '248', '686', '4387', '6317', '7569', '7047', '927', '621', '4919', '324', '2355', '567', '7582', '1765', '1072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4928', '4445', '2351', '2559', '7331', '7180', '4877', '2550', '2617', '2532', '399', '2349', '2558', '4878', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2322', '4862')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2619', '2199', '4341')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1740', '7659', '293', '1767', '516', '523', '521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4023
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1559', '985', '1012', '4793', '1358', '7025', '1519', '983', '4546', '1518', '7298', '1000', '4583', '4747', '834', '7', '7661', '1521', '6348', '984', '1508', '1237', '1592', '1506')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7552', '291', '730')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('500', '4509', '499', '1505', '274', '1359', '7187', '2183', '1490', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1044', '1283', '6044', '7581', '1042')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3495
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1198', '522', '298', '1184', '519', '669', '1197', '6317', '299', '515', '3616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('297', '340', '7582', '345', '4619', '7576', '4606', '7577', '7587', '354', '2278', '7622', '4555', '4307', '7398', '7578', '4528', '2383', '5099', '1072', '877', '6155')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1939', '1938', '4521', '4545', '272', '4513', '7229', '1490', '2166', '335', '27', '1937', '261', '52', '7132', '1935', '51', '6235', '6056', '838', '1491', '270')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('140', '169', '168', '4392', '4788', '167', '139', '138', '7132', '193', '7131', '7181', '984', '4976')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2351', '2557')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3435', '1358')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2868', '2824', '2866', '2934', '1310', '5032', '4336', '3514', '2865', '4988', '2840', '1312', '4337', '2841', '2965', '843', '2954', '855', '2818', '3516', '2819', '852', '2812')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2615', '2534', '2596', '395', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1466', '1490', '4509', '6056', '1424', '1463', '4399', '1469')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6068', '1012', '4974', '4793', '7298', '6071', '7342')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('553', '686', '552')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('208', '319', '4096', '7571', '495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7431', '174', '1567', '173', '39', '7424', '2492', '179', '324', '332', '7131', '7350', '1619', '1566')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4420', '4167')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2962', '4172', '877', '4173', '435', '4132', '4131')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('373', '390', '7564', '357', '351', '356', '7662', '226', '265')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1758', '1759', '1753', '1754', '1751', '1752', '1767', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2480', '1077', '4357', '2479', '375', '7599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3607', '1184', '877', '3606', '4131', '3007', '675', '3605')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1360', '271')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1575', '1601', '1600', '1595', '279', '319', '1827', '1508', '1592', '1574', '836', '4795', '1511', '1596', '6348', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3580', '516', '3575', '1184', '4849', '522', '519', '523', '521', '1200')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7204', '3726', '7039', '3732')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4495', '5126', '7569', '7665')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2073', '2072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('82', '56', '4525', '16', '3', '6094')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2264', '2262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('817', '814', '81', '807', '753', '797', '4595', '796', '4989', '813', '809')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1412', '263', '16', '3')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6132', '1099')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4750', '332')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('913', '546', '4381', '7348', '936', '2975', '3634', '281', '763', '375', '910', '4392', '935', '1749', '5082')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6050', '7399', '877', '6348', '6311')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2868', '2866', '3284', '2840', '3085', '303', '1313')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4688', '4795', '4715', '7026', '1358', '6348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6273', '4788', '332', '2492', '6228', '7131', '324', '319', '7350')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('702', '7569', '690')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4550', '4409', '7229', '4664', '2161', '4555', '6234', '2136', '6245', '332', '322', '4554', '3419', '261', '2374', '4320', '6182')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1699', '4526', '1696', '6094', '767', '7347', '4525', '6089', '4747', '1840', '3', '6059', '1365', '7025', '4668', '4322', '93', '7340', '7166', '7339', '763', '3874', '6348', '326', '328', '1767', '5126', '807', '1358', '4411', '4341', '265', '7639', '7574', '1104', '4745', '4168', '4957', '1698', '7149', '6000', '4307', '270', '4392', '449', '1697', '288', '322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1411', '1278', '1365')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4589
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('530', '525', '4387', '289', '4384', '567', '521', '523')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4384', '516', '289', '1184', '497', '303', '1246', '7490', '332', '297', '515', '6317', '938', '299', '7591', '3616', '567', '496', '298', '4387', '7189', '300', '621', '1765', '1069', '7579', '6282', '686', '1767', '7199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4754
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3365', '7078', '4401', '2219', '312')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4466', '630')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2488', '2492', '1478', '4357', '2487', '1279', '7668', '332', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1870', '7389', '1831', '4464', '7162', '1869', '3802', '7025', '7160', '1805')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('546', '686', '5192', '7569', '538', '709')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7089
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('345', '7576', '3994', '5114', '7387', '6089', '4952', '3890')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2523', '4874', '4749', '2518', '4779', '7181', '4754', '1130')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7660', '3082', '7188', '3034', '3032', '4956', '3085', '7226', '303', '332', '6334', '429')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1816', '6039', '2294', '4747', '1545', '4745', '192', '7072', '4743', '4686', '7298', '1842')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3619', '6087')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3235', '3343', '4462', '3233', '4962', '3234', '3231', '6000', '449', '3232', '4981', '3041')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3563', '443', '2042', '2008', '6122', '842')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2031', '4567', '2278', '807', '760', '2007', '2020', '762', '4342', '2013', '2030')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4218', '4168', '4132')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2220', '2219')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1469', '1464', '4400', '2183', '1426', '1490', '1939')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1049', '4332', '1046', '2983', '7449', '1309', '1048', '336', '301')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3599', '913', '941', '4503', '943', '942', '936')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1607', '1587', '4539', '4715', '1600', '1585', '6080')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4002', '7078', '4003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7101', '7097', '6071', '7073', '7100', '4316', '7072', '4747', '7686', '7099')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3918', '346', '2191', '7391', '3954', '1445', '2201', '317', '3963', '7078', '4599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1362', '1360', '1288', '1289', '1375', '263', '4322', '4495', '1284', '1282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3148', '3254', '3144', '3142', '4320', '773', '7635', '3143', '7574', '7588', '3145', '3146', '3141', '2963', '3147', '3283', '332', '895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5155', '5160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4156', '449', '7574', '2037', '7162', '3241', '4144', '6000', '4983', '4129', '4168', '4178', '4130', '4150', '807', '5089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2008', '2070', '765', '7339', '1367', '3085', '2084', '434', '2975', '2071')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('40', '37', '38', '6122', '449', '43')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4098
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2965', '7447', '7162', '354', '2956', '303', '3220', '7181', '1104', '292', '2948', '7067', '1315', '7339', '400', '2954', '2959', '6029', '332', '7133', '1992', '4320', '767', '1367', '5114', '1184', '1767', '793', '288')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3576', '515', '497', '3575', '1211', '3616', '1184', '6115')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1889', '1899', '7155')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1193', '1190', '236', '6044', '255')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3704', '288', '3088', '302', '3691', '6054', '3689', '3701')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2660', '2659')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1083', '7579', '1082', '4495', '7459', '1283', '1285', '301', '1076', '7564')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('775', '772', '773', '3333', '767', '7162', '774', '807', '2039', '5114', '6089', '4745', '2068', '4320', '763', '7160', '2059', '261', '4952', '325', '3141')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1280', '6229', '1559', '7', '6219', '319', '1593', '1596', '1592', '1575', '1574', '279', '1548', '1511', '4583', '1595', '4795', '1510', '1519', '138', '7661', '2719', '270', '1518', '837', '1573', '4369', '1597', '332', '1358')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2421', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1451', '346', '1445', '2210', '7078', '312', '4003', '5114', '4952', '1449', '7390', '315', '3994', '1450', '317', '3890', '7391')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5092', '3245', '4129', '2040', '3205', '2037', '3241', '3047', '4136', '3243', '3541', '4169', '4131', '3543')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3224', '3561', '4', '5046', '4962', '493', '6000', '400', '7639', '281', '4533', '2492', '4982', '7323', '7653', '3220', '3221', '3144', '5047', '3205', '3204', '3206', '3222', '3134', '4844', '3223', '3057', '7317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2833', '2831', '2832')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4485', '4499', '3', '4500', '276', '6004')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3183', '7057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5033', '253', '1251', '303', '992', '5061', '1231', '1638', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1665', '1662', '2', '2959', '793', '4745', '328', '7340', '767', '329', '785', '7333', '784', '1911', '1648', '59', '807', '1664', '779', '1661', '3333', '7161', '7162', '1806')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('449', '4848', '6122', '2199', '4392', '1104', '7615', '6199', '2492')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1414', '3', '80', '55')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2477', '288', '332', '2471', '7131', '4359')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('518', '516', '2270', '4384', '515')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('634', '1004', '1198', '626', '4782', '627', '628')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('861', '3012', '3082', '449', '271', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('819', '190', '191', '52', '4322', '4', '6094', '5126', '4392', '141', '4525', '7131', '284', '336', '82', '263', '1359', '6071', '7348', '315', '319', '3994', '270', '1592', '4523', '3', '271', '804', '1282', '188', '7028', '80', '7162', '16', '297', '342', '4526', '78', '415', '195', '279', '84', '277', '7025', '184', '4619', '186', '4715', '187', '147', '1012', '55', '51', '281', '3732', '817', '818', '7132', '1288')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('426', '332', '425', '7226', '327', '4982', '4962', '4725', '424', '4', '273')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4210', '4209', '4207', '4168', '4135', '4956', '4208', '4136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1450', '5114', '2810', '1449', '7390', '7078', '2210', '1445', '1474', '5124', '6089', '4003', '1444', '3890', '317', '315', '7387', '346', '400', '7588', '1479', '5126', '7385', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('945', '944', '4465')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1210', '1211', '671', '1184', '6071', '3616', '516', '519', '521', '7189', '1209', '4385', '523', '6280', '1206')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2109
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2496', '2492', '4357', '332', '2495', '1421', '2466', '2467', '2494', '2726', '375', '4359', '2800')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('985', '979', '2294', '7073', '4686', '1549', '6071', '7072', '1827', '1558', '983')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2360', '4341', '4342', '2199', '5161', '2355', '7181', '7026', '2353', '5009', '7459', '354', '2358', '342', '4595', '4713', '4795', '4392', '4957', '6282', '4644', '7654', '2359', '4060', '298', '2038', '7199', '2200', '5192', '7118', '4414', '2566', '7382', '2571', '7574', '5162', '2002', '4643', '5111', '4322', '52', '315', '4330', '1012', '6044', '2357', '767', '4441', '1358', '1814', '7569', '2371', '2635', '332', '4055', '279', '4054', '5114', '4382', '2039', '7347', '6029', '297', '7568', '7639', '4956', '3952', '4686', '2631', '7131', '7652', '1490', '6317', '2570', '675', '406', '302', '1265', '4695', '2278', '1254', '4522', '927', '4960', '281', '4715', '2763', '7550', '7460', '2166', '4847', '2035', '7564', '313', '6056', '4', '6094', '375', '288', '3616', '4347', '2892', '7385', '2126', '4930', '2591', '1184', '2243', '585', '7149', '3663', '1380', '4640', '4151', '1367', '5082', '2975', '4348', '6289', '4616', '7226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1676', '7588', '2959', '1667')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2168', '2162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3440
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3784', '3677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2434', '4392', '7131', '2451', '3085', '2433', '2432')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2489', '2791', '4357', '324', '2486', '1104', '1077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5015', '7418', '3473')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('710', '707', '731')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4252', '4253', '4168', '7188', '7461')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4520', '7588')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1137', '1134', '354', '281', '404', '2038', '1080')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('231', '7347', '2975', '1635', '1605', '2912', '277', '230', '1638', '262', '1636', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2575', '2351')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('494', '793', '5114', '5034', '4529', '4616', '2210', '7391', '7588', '6289', '4168', '4847', '4387', '4003', '7390', '6074', '1473', '6089', '4252', '6071', '1358', '4392', '3890', '3994', '346', '3960', '299', '315', '7347', '7187', '7387', '6280', '4', '7025', '2810', '7385', '1767', '332', '493', '313', '1367', '7568', '406', '1479', '2959', '4957', '485', '7160', '4530', '2656', '2654', '1476', '7330', '7117', '3370', '320', '288', '2955', '6282', '3085', '354', '5190', '6094', '1184', '7392', '763', '2975', '4952', '375', '325', '3333', '748', '1765', '760', '4686', '479', '3053', '319', '2041', '7569', '492', '5056', '2166', '261', '7162', '3874', '490', '7149', '7571', '326', '2912', '767', '4320', '7599', '6348', '2212', '2866', '271', '488', '7639', '1012', '2199', '312', '4795', '7118', '303', '298', '7168', '291', '4607', '7067', '2', '7453', '400', '3904')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4796', '2682', '2674', '2125', '2126', '2124', '4715', '2675')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('608', '1651', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7', '279', '332', '6348', '281', '1947', '6234', '7229', '2123', '7072', '1592', '2719', '4715', '1989', '7569', '4795', '4862', '319', '4316', '2374', '4555', '6071', '6004', '261', '1280', '6245', '1012', '102', '1966', '2001', '2383', '264', '270', '2002', '1508', '322', '1998', '6182')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 998
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2402', '2396', '2394')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('532', '567', '7569', '526', '2656', '530')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1080', '6317', '6280', '1078', '1283', '1130', '7564', '1076', '6044', '396', '1285', '4495', '301', '1104', '1079')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1127', '4596', '4495', '1016', '1125', '1285', '7459', '7564', '1085', '1121', '1081', '1078', '4521', '1283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('273', '4495', '7639', '3220', '4962', '4', '4982', '5046', '324', '4307', '7226', '7457', '3221', '4725', '6094', '6044', '819', '400', '7646', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3192', '3184', '5142')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('852', '2955', '2811', '303', '350', '1013', '1015', '851', '2812')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1366', '1330', '867', '2070', '1360', '3085', '1289', '2084', '3952', '1365', '2327', '2464', '1090', '4391', '1088', '2190', '3399', '1335', '765', '3360', '1035', '1316', '1314', '2867', '876', '1086', '1336', '2071', '431', '263', '1331', '434', '1089', '3082', '1334')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3901
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7588', '7390', '4616', '6289', '7119', '1479', '406', '3370', '3890', '7391', '2721', '1358', '313', '4602', '342', '7347', '494', '7117', '2214', '7387', '7118', '315', '2236', '4632', '495', '7392', '763', '7564', '4407', '4953', '274', '347', '748', '6089', '493', '7012', '400', '6071', '4530', '4307', '4401', '312', '7239')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('558', '557')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2711', '270', '4521', '4715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1291', '7131', '4392', '263', '2388', '342', '5024', '1290', '2385', '1284', '1278', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2524', '2518', '4749', '4754')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2864', '7579', '2863', '4332', '1047', '2038', '4333', '1048', '1049', '6044', '1283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3797', '7174', '3802', '3676', '3677', '3778', '3571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4565', '2039', '760', '2013', '2055')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2265', '2262', '515', '2264', '2270', '518')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1407', '3085', '1367', '2311', '4616', '4595', '1406', '397', '7459', '2310', '1934', '1380', '2094', '302', '399', '3616', '2355', '2315', '395', '4495', '765', '354', '2083')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1172', '288', '292', '7574', '1104', '4957', '3802', '7174', '6282', '2166', '4392', '1767', '2278', '7339', '4962', '804', '3809', '354', '4341', '4795', '3874', '2975', '313', '7569', '4530', '2039', '3333', '2355', '4320', '807', '4322', '5114', '4982', '7564', '4906', '332', '3890', '4330', '7162', '6076', '51', '49', '748', '7385', '7387', '3692', '6094', '6071', '4915', '7453', '6015', '2038', '7011', '1490', '7160', '277', '6280', '281', '6089', '4096', '4934', '1171', '4616', '1235', '4307', '6359', '6044', '7594', '7568', '302', '7123', '248', '4323', '4715', '7347', '4411', '7131', '6348', '7599', '315', '2810', '4725', '2212', '297', '4847', '4168', '7025', '4843', '752', '5190', '2492', '3675', '320', '7639', '6056', '1473', '291', '4495', '3007', '1012', '3751', '271', '6317', '7181', '2800', '2959', '404', '3689', '7615', '3544', '7226', '261', '4619', '336', '895', '767', '7460', '6029', '270', '7348', '7654', '1627', '17', '6000', '1620', '5192', '927', '7161', '4003', '2035', '276', '1749', '2912', '7390', '1479', '7459', '3663', '2270', '2971', '4380', '3616', '4656', '6289', '1872', '4595', '4381', '298', '380', '7072', '335', '7365', '2', '325', '7382', '5046', '2383', '2210', '203', '2199', '326', '4912', '85', '3671')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3541', '3545')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1285', '4983', '301', '399', '354', '6280', '515', '1284', '1283', '7390', '1104', '336', '334', '7579', '1015', '4495', '4415', '187', '1615', '7459', '188', '7289', '7564', '1478', '5190', '4027', '340', '396', '1358', '1279', '395', '324', '7581', '264', '819', '400', '2492', '895', '190', '189', '6044', '7277', '303', '6317', '6318', '6282', '4456')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7438', '1360', '1365', '1289', '55')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7579', '1284', '1282', '396', '199', '262', '1283', '7564', '675', '2975', '7459', '6280', '334', '7131', '271', '1355', '354', '1279', '7398', '4456', '3399', '1104', '4027', '324', '6282', '7581', '398', '7347', '1278', '336', '1478', '7149', '4392', '277', '7390', '301', '6044', '4521', '395', '4495', '80', '399', '6059', '263', '397', '3994', '190', '45', '191', '315', '264', '6215', '91', '6094', '6317', '400', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3760', '3802', '7623', '3678')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7446', '7442')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2046', '2045', '2044', '2041', '2039', '3283', '3309', '2043')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('771', '768', '763', '767', '3061', '4320', '807', '3057', '3059', '7574', '7011', '3333', '770', '2', '328', '2039', '7162', '2061', '2062', '2069', '7160', '2060', '1424', '4602', '760', '2084', '4202', '1479', '3060', '265', '5127', '406', '3145', '4154', '7576', '2065', '1358', '263', '7047', '2070', '6089', '3258', '375', '3890', '2040', '4953', '4727', '3142', '3143', '3204', '802', '7588', '3202', '769', '7161', '7513', '334', '7156', '2063', '6094', '3144')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2134
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 551
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2260
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2139
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4228', '4956', '4253', '4227', '4132', '4168', '4230', '7615')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6033', '7623', '7348', '3672', '3078', '4381', '5030', '5031', '3087', '7654', '4957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2142', '4668', '2141')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5124', '2168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3540', '6000')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1760', '1771', '1753', '1752', '1759', '1740', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('589', '588', '7569', '531', '585', '567')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4830', '3057', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4481', '4499', '56', '4934', '58')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1531', '7149', '1530', '4686', '1560', '1280', '5072', '110', '6071', '895', '6364', '1012', '1827', '4542', '7297')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2401', '2396', '2394')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4389
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4667
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7188', '3085', '6199', '3080', '3201', '6198', '2052', '6006', '4168', '4956', '3493', '5192', '2190', '1367', '4715', '7347', '6122', '7653', '4156', '4350', '7654', '2086', '3082', '4957', '4595', '2083', '7339', '4391', '4', '2355', '765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3714', '3711', '3732', '4330', '3750', '3713')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4136', '2199', '4132', '4135', '1767', '4253', '4956', '927', '4', '4134', '2039', '2035', '819', '4168', '3616', '4248', '807', '767', '4230', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3055', '3054', '3050')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3778', '1304', '2967', '7690')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('218', '19', '215', '2967', '8', '216', '278', '217')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1664', '1649', '57', '1662', '1444', '315', '767', '1648', '7162', '1806', '59', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1750', '1753', '1759', '1749', '1754', '1751', '1767', '1758')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2927
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2395', '1934', '5024', '2394')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4147', '4136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3625', '3585', '1184', '3579', '3583')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('730', '726', '496')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4168', '324', '4554', '2166', '1767', '332', '7229', '7615', '7230', '2355', '6234', '7459', '2145', '6280', '6317', '297', '4359', '2210', '4545', '354', '4670', '6235', '4341', '1956', '5024', '7162', '4', '4666', '4672', '270', '4668', '620', '4962', '4307', '115', '4656', '2492', '7072', '4953', '288', '7390', '4552', '1960', '4320', '7340', '39', '7011', '7', '5046', '7149', '4096', '102', '4411', '4982', '4576', '7599', '1827', '895', '7574', '7569', '2039', '4322', '226', '6044', '319', '281', '6348', '4957', '261', '7201', '1367', '6089', '4677', '927', '4392', '313', '6182', '4521', '4347', '6122', '1359', '3085', '4915', '4664', '4725', '6289', '4616', '326', '4254', '7582', '845')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2448', '2489', '2486', '4357', '7350', '375', '2655')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3725
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2562', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1292', '2975', '2388', '262', '342', '7181', '336', '1279', '1287', '4521', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4712', '4988', '2038', '6172')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('786', '5114', '6058', '785', '4952', '3890', '6089', '4003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7320', '1505', '4509', '501', '1481', '1484', '499')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3475
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('827', '7072', '6071', '7686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('810', '807', '809', '2039', '334', '802', '773', '2007', '7513', '1012', '759')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2733', '6083', '2101', '2727')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1048', '1195', '7579')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3271
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('746', '4956', '4495', '342', '317', '4307', '303', '2039', '4306', '4252', '7587')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4222', '4216', '4956', '4208', '7365')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('910', '4168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1174', '288', '7174', '1171', '4957', '1173', '3802', '7025', '7162', '7615', '292', '1172', '2810', '4341', '3874', '4380', '4595')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2034', '3041', '3042', '7353', '2010', '435', '2014', '3034', '7639', '3039', '4962', '3033', '3036', '4982', '2033', '5106', '4565')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1043', '336', '1042', '301', '248', '4003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1650', '1732', '7571', '1733', '1730')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4407', '773', '325', '792', '7574', '772', '776', '4177', '786', '1445', '2063', '908', '777', '7586', '4728', '906', '3145', '3144', '7587', '768', '3143', '345', '2062', '769', '771', '2065', '3142', '909', '4205', '2996', '461', '4178', '4206', '3141', '7588', '3258', '4151', '775', '1444', '4320', '2084', '4202', '4416', '774', '770', '5127', '2060', '763', '2070', '2061', '2993', '4727', '4154', '5128', '4182')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('953', '1073', '3089', '3090', '951', '7348', '3669', '4926', '3672', '3585', '3586', '3671')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3913', '3912')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4254', '4252', '4306', '4305', '7188', '4253')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3794', '3792', '3802')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4653
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6076', '3795', '3799', '7174', '3678')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2101', '6094', '4513', '5149', '2331', '4357', '1490', '4516', '849', '2487', '354', '1369', '4522', '2097', '1406', '1419', '2310', '1934', '2094', '2355', '7459', '2311', '4340', '4495', '2278', '4595', '302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1005', '1004', '1003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1463', '1424', '1490', '1425', '1423', '1426', '6056', '2183', '2184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1850', '767', '6282', '1866', '1858', '1898', '7339', '760', '4686', '1859', '1863', '1897', '585')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2857', '2856', '2853')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('496', '1184', '299', '300', '298', '293', '3640', '7189', '6317', '4380', '3616', '297', '2353', '669', '7591', '7199', '4387', '675', '248', '7582', '289', '4595', '303', '301', '6041', '6282', '938', '1767', '567', '927', '557', '2380', '332', '2355', '7577', '2270', '7569', '1233', '319', '4886', '7568', '320', '4', '7599', '621', '7617', '6044', '2383', '620', '2722', '667', '6326', '342', '707', '291', '302', '271', '2629', '7587', '972', '1626', '4469', '1765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1294', '262', '7181', '5192', '2975', '342', '1934', '336', '1290')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7353', '2007', '3321', '3333', '761', '4307', '760', '435', '759', '2010', '1476', '4320', '2971', '4586', '334', '2039', '762', '2009', '807', '2975', '763', '7574', '4956', '2038', '2872', '6059')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('18', '2975', '6282', '4862', '7347', '17', '12', '292', '288', '4957', '15', '1174', '906', '1175', '7149', '3874', '7174', '14', '3802', '7', '7615', '278', '7131', '49', '270', '226', '6074', '1630', '319', '3732', '7230', '332', '8', '6077', '4555')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4125', '7574', '3133', '4124', '3136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1808', '1851', '7297', '4401', '2', '1849', '2961', '1827', '7333', '7339', '1805', '7167', '7162', '1649', '58', '1445', '1666', '1913', '1802', '59', '7588', '328', '192', '1795', '7026', '1911', '1914', '57', '2338')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1182', '4315', '6348', '319', '332', '202', '1359')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1298', '1120', '1297', '1184', '3085', '1380', '3033', '1055', '2722', '292', '4', '4953', '1012', '262', '3333', '5190', '1381', '4930', '4715', '4316', '1827', '2038', '567', '1104', '4315', '6280', '675', '7459', '2955', '1367')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2433', '2451', '2431', '2432', '1409', '3353', '3355', '2452', '3085', '2453', '7131', '2461', '4392', '3356', '1380')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2920
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5026', '2449', '3357', '3358', '3085', '3355', '3356', '1478', '2485', '2487', '2486', '2488', '1117', '2492', '3083', '4357', '7350', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2416', '191', '4392', '1278')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2360', '2359', '2737', '2738', '2725', '2745', '2743', '2740', '2741', '398', '400', '2746', '2726', '396', '6075')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1045', '301', '1283', '336', '7579', '1042')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3723
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1558', '7132', '4715', '261', '6071', '6348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1289', '2388', '2039', '2386', '7181', '336', '2385', '7347', '7390', '4521', '5024', '277', '1292', '1279', '342', '186', '4392', '270', '1282', '2636', '1934', '1285', '819', '7131', '1278', '51', '52', '263', '2387', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2221', '6134', '2226', '7155', '4795', '1889')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7092', '332', '107', '104', '6125', '6253', '2166', '4554', '6235', '327', '7229', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('354', '7067', '2954', '7449', '303', '2021', '2825', '320', '6348', '6122', '281', '4595', '7057', '265', '261', '2868', '3333', '2955', '913', '4', '7347', '2950', '2934', '2984', '449', '895', '4322', '7226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2515', '2550', '7564', '7459', '1130', '1078', '342', '1077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1413', '263')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4769', '7339', '4324', '7187', '3333', '4323', '7181', '7026', '3338', '1827', '6348', '6059', '262', '3340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7126', '7243', '4974', '6317', '4745')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3396', '3394', '7347', '3384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('40', '324', '4392', '7226', '39', '332', '281')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4694', '1218', '1254', '4595', '4693', '2355', '1256', '2975', '4563')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3206', '3202', '3205', '3204')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1529', '1558', '1591', '6361', '6364', '7277', '895', '6289', '1285', '7149', '6366', '4495', '6362', '1549', '6229', '6363', '1581', '6071', '6219', '1022', '2975', '7097', '985')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5130', '6280', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('220', '1620', '319')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1123', '1285', '7181', '1283', '1934', '1122')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7673
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('102', '4686', '4687', '1827', '4379', '94', '110', '319', '6280')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1299', '2918', '3355', '6280', '1282', '1298', '1081', '2914', '2915', '334', '3085', '1391', '1120', '400', '6094', '336', '1117', '1380', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5032', '2825', '2809', '2983', '3085', '303', '7449', '434', '876', '1367', '2070', '852', '340', '855', '2933')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1251', '243', '1231', '1012', '232', '231', '303', '332', '5061', '1233', '1636', '324', '1638', '668', '7571', '7025', '993', '992', '1749', '1234', '1235', '7044', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('997', '1235', '1253', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('981', '4583', '7072', '1575', '110', '1252', '979', '1601', '1574', '7025', '1512', '980', '1827', '4686', '6071')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3587', '3624', '7569', '4381', '7348', '298', '4387', '3586', '4494', '3585', '302', '927', '4307', '6044')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4672', '332', '4555', '4617', '3461', '2374', '4532', '6245', '6234', '4576', '7229', '4674', '2170', '3419')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2997', '7294', '4151', '4416', '4261', '6000', '7188', '4273', '4125', '4308', '4131', '4150', '4183')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2317', '2701', '2310', '2778', '2181', '2185', '4854', '2311', '1440', '5025', '375', '4495', '1396', '1279')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3465', '4555', '7229', '3461', '2374', '332', '4576', '4554', '4532', '7230', '4667', '322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7586', '7585', '7333', '786', '773', '7162', '7576', '3333', '2959', '783', '1911', '784', '7390', '4320', '793', '792', '6089', '7339', '495', '782', '785', '767', '7387', '7340', '791', '1479', '313', '772', '315', '779', '909', '2068', '777', '3890', '7574', '1680', '807', '7160', '404', '3057', '4745', '3059')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('846', '404', '406', '842', '7453', '845', '4320', '7574', '2039', '762', '4962', '747', '81', '51', '49', '817', '52', '818', '449', '3134', '807', '2007', '786', '334', '760', '261', '264', '271', '6122', '7587')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7068', '2975', '336', '1324', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2195', '4003', '5114', '1445', '7078', '1451', '312', '2191', '1444', '2194', '3890', '1450')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1410', '1365')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7025', '1831', '7162', '328', '767', '1807', '1828', '7576', '7389', '1445', '4362')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 6156
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7132', '6366', '7350', '7131', '2492', '324', '4862', '753', '4392', '277', '3994', '7459', '201', '6071', '332', '1285', '4957', '198', '298', '2278', '4320', '7390', '7568', '1555', '1181', '1557', '2166', '4330', '6219', '3729', '319', '1182', '5126', '4956', '1511')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3322', '2038', '4637', '2039', '2041', '2076')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2437', '7347', '1453', '354', '3085', '1115', '1105', '3355', '3033', '7513', '1113', '1749', '765', '1391')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1467', '1466', '6056', '1463', '1490', '1464', '4399', '2183', '6057', '1469')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3217', '3244', '3204', '2040', '3242')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('117', '7229', '332', '6235', '6016', '322', '2166', '39', '6234', '7230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3791', '3790')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2646', '4407', '6029', '2908', '326')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2201', '4407', '7385', '7012', '1445', '7078', '7390', '7391', '4616', '6089', '1450', '5114', '2200', '2721', '3890', '6289', '3892', '2637', '4952', '2191', '2210', '346', '2197', '7588', '317', '1451', '7387')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2551', '1934', '5024', '1078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1196', '1184', '522', '4382', '332', '521', '4384', '671', '519', '523', '3616', '298', '516', '303', '515', '299', '670', '663', '6317', '2002', '7659', '6282', '672', '669', '4784', '1774', '7189')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4156', '4283', '4296', '7188', '4956', '4261', '4260', '4275', '4151', '3082', '4241', '422', '7638', '4284', '4273', '4239', '406', '4168', '3133', '3045', '4266', '5046', '4308', '4149', '3125', '4208', '7660', '7294', '7296', '4254', '5047', '4295', '3140', '6137', '3144', '3158', '4267', '4281', '4258', '3126', '4263', '4416', '3119', '3135', '4276', '7271', '3115', '3124', '4124', '4154', '5136', '3127', '4150', '4202', '3154', '4264', '4280', '4300', '4127', '3138', '4269')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1358', '7662', '400', '5016', '2600', '2357', '2360', '7663', '4065', '2596', '2592', '2599', '2548', '1163', '2085', '2595', '7253', '1357', '1072', '1353', '7564', '5013', '1352', '4713', '1069', '371', '4760', '1161', '768')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4020
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('709', '7569', '4387', '621', '567', '531', '526', '4384', '927', '557', '938', '529')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6054', '3690', '3750', '7189', '3648', '3654', '3576', '4381', '3653', '4957', '3751', '3744', '288', '5074', '3672', '5073', '3676', '7348', '5084', '3675', '1630', '4339', '7594', '3746', '523', '3689', '3740', '17')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6145', '2097', '6144', '2310', '302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('312', '1443', '4720', '7162', '2959', '5114', '6289', '328', '325', '329', '3333', '2210', '4616', '7588', '315', '6029', '7391', '3890', '7339', '792', '767', '346', '1479', '326', '4320', '2656', '313', '5046', '763', '7387', '7118', '6089', '7340', '7392', '317', '2908', '5126', '7390', '4952', '7576', '3331', '7161', '7160', '4495', '345', '1966', '2637', '493', '784', '748', '7131', '3994', '4554', '783', '4003', '1478', '1480', '749', '3085', '7333', '7574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4184', '4416', '4167', '4421', '4183', '4108')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('51', '332', '288', '2975', '1478', '49', '82', '226', '39', '6235', '1533', '6234', '186', '3885', '380', '212', '7229', '279', '313', '55', '4525', '1359', '7571', '6094', '4715', '3691', '1490', '324', '449', '7132', '3699', '42', '4545')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1772', '293', '5141', '1767', '7072', '1764', '6056', '1765', '1730', '1750', '675', '495', '2038', '6071', '1732', '7574', '1733', '620', '380', '6094', '619', '621', '1367', '1731', '2166', '1770', '2492', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4602', '4327', '4616', '7012', '4401', '6289', '748', '4407', '4601')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2320', '1934', '1438')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6026', '2646', '2656', '2657', '6020')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3020', '3019', '861')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7461', '4226', '7462', '4656', '4168')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7078', '1358', '7234', '3890', '4720', '1445', '5126', '346', '7391', '7390', '2210', '317', '6317', '7588', '400', '7392', '312', '1444', '3994', '7160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('627', '523', '522', '626')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4627
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('650', '530', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4104', '4097')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7217', '4895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1651', '1774', '5141')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('442', '845', '859', '3014')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('375', '374', '357', '7564', '372', '226', '390')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4493', '1897', '1881', '6172', '4464', '1880', '6073', '1872', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3194', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4521', '1934', '6056', '1491', '1278', '335', '4715', '7229', '261', '6094', '7460', '270', '4411', '48', '1490', '6348', '6234', '1558', '7230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1559', '4543', '7149', '1510', '194', '1511', '1538', '7661', '1521', '7', '980', '1509')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3902', '2810', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3383', '2166')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2313', '1934', '400', '2311', '2310', '2312', '619', '7459', '2355', '354', '4522', '302', '4495', '4340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7398
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2574
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6277', '400', '1077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1117', '4307', '7131', '354', '3355', '3356', '1367', '2437', '2083', '1104')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2574', '2351', '2550', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7659', '4384', '7490', '522', '519', '1184', '298', '299', '516', '938', '332', '1767', '515', '521', '303', '293', '3616', '7591', '496', '7569', '328', '6044', '7189', '567', '289', '7199', '4387', '300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4189', '4185')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6228', '4367', '7131', '2492', '4392', '315', '1555', '324', '6230', '1181', '7132', '4686', '190', '4781', '1557', '7390', '1827', '138', '7500', '1552', '27')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1600', '1599', '1586', '1594', '110')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1415
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('141', '169', '7390', '4392', '168', '136', '4788', '167', '138', '7025', '1012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3473', '3472', '2811')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7264
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('842', '843', '7574', '3085', '4320', '7118', '6059', '404', '877', '406', '271', '1476', '334', '6311', '313', '747', '6122', '807', '303', '4982', '3057', '2039', '52', '786', '1680', '4962', '449', '7340', '7453')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1840', '4747', '4493', '7339', '4341', '1834', '1814', '1820', '1837', '2338', '1881', '7379', '3333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1606', '4715', '6348', '7132', '1601', '1585', '4539', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3040', '110', '3037', '3036')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2700', '4359', '4361', '2202', '2656', '326', '1444', '4357', '6030', '2908', '2697', '7599', '375', '4413')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3036', '4962', '3032', '273', '3034')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3676', '3675', '19', '1171', '4957', '7623', '407', '3672', '288')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2403', '1095', '2318', '2311', '1934', '2396', '1086', '2395', '2392', '4495', '4494')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('327', '332', '7226', '324', '4725', '7478')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4981', '3210')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1090', '1278', '1336', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6059', '7622', '270', '7362', '345', '4962', '4726', '2039', '808', '1478', '1479', '3994', '807', '4982', '7587', '7574', '2166', '812', '811', '7347', '4320', '7149', '264', '895', '7453', '1476', '819', '4862', '7277', '3544', '7353', '2035', '2009', '6282', '3135', '7153', '320', '3612', '810', '809', '7174', '762', '81', '2036', '1558', '2007', '4132', '2010', '3874', '7131', '796', '7297', '1511', '1283', '773', '813', '6229', '7513', '763', '3057', '188', '817', '1534', '6280', '877', '786', '7688', '768')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('447', '3181', '6122', '449', '450', '759', '451', '3486', '4392', '5013', '5014')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('315', '334', '336', '347', '7385', '6059', '807', '1476', '7390', '302', '2210', '4320', '7574', '763', '7387', '1478', '2247', '2039', '811', '808', '4602', '1445', '3999', '1479', '2722', '354', '264', '5114', '7453', '2', '2242', '4127', '3998', '7353', '7622', '3995', '4616', '4983', '2246', '4595', '406', '2007', '810', '786', '4413', '4003', '3144', '2245', '2022', '7139', '814', '2241', '7588', '2244', '4', '325', '3950', '2235', '4405', '7513', '4619', '3997', '2020', '4000', '819', '3135', '3544', '4132', '2962', '1474', '762', '7347', '303', '1444', '1473', '3368', '3980')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3207
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3585
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3221', '3220', '4962', '422', '3040', '3037', '414', '4725', '4981', '415', '411', '3218', '3032', '3210', '421', '273')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('190', '4392', '7390', '324', '819', '332', '7226', '186', '189', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2878', '2874')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1371', '1367')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3636', '2278', '7537', '1184', '7149', '2032', '3623', '3634', '4381', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('94', '7571', '2810', '1012', '4725')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('547', '557', '546', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('777', '904', '775', '773', '774', '807', '772', '768', '4602', '6122', '2', '4320', '4957', '776', '2063', '7574', '887', '883', '449', '2039', '3142', '3143', '5128', '5082', '4475', '3031', '7654', '903')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4337', '1315', '7181', '2038', '2887', '2842', '2040')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('725', '527', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6085', '2025', '3116', '3115', '420', '3114', '7226', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4128', '406', '7453', '5092', '3136', '2007', '845', '7574', '2037', '3135', '760', '4956', '3126', '7353', '3133', '4320')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1882', '2959', '7340', '404', '843', '313', '1881', '315', '1648', '1479', '747', '4795', '4', '349', '1478', '4096', '1714', '7031', '4747', '6172', '4616', '845', '271', '802', '783', '7217', '319', '1445', '1712', '4362', '767', '1184', '4745', '846', '380', '7026', '1696', '7459', '7576', '329', '6071', '7162', '2038', '1690', '784', '6282', '4411', '1684', '1647', '4862', '807', '4575', '7564', '299', '354', '1681', '4895', '7339', '4595', '6234', '7131', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4129', '3136', '5046', '3133', '4128', '4320', '3135', '3129', '2016', '7361', '2040', '3125', '7574', '762', '6000', '761')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3601', '7571', '4387')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1206', '516', '1184', '3636', '519', '3616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2007', '760', '759', '6000', '7353', '3085', '761', '4320', '7663', '2052', '807', '7574', '762', '842', '2039', '763', '5092', '877', '303', '1406', '1381', '2083', '1643', '2015', '1380', '264')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7231', '7391', '4601', '7386')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3533', '2825', '6201', '6196', '3493', '3201', '5016', '3085', '6200', '3514', '2837', '3532', '3523')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1745', '521', '1740', '1767', '293', '1764')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 866
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2205', '375', '6348', '4795', '2126', '2679', '2685', '4688', '4715', '4359', '2199', '2204')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7168', '2721', '4601', '7012', '7391', '7390', '4611', '4401', '4605', '3370', '7392', '4613', '312', '4599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1409', '1934', '4340', '1406', '2310', '2355', '2311', '354', '302', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4725', '4', '4962', '3220', '5046', '475', '7639', '4982', '327', '3081', '7339', '3221', '7226', '7457', '415', '3283', '2036', '127', '1174', '322', '3032', '288', '3732', '4957', '273', '2492', '332', '2039', '115', '190', '819', '324', '188')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4014
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3220', '3144', '3143', '3134', '3210', '3214', '7648', '3057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4291', '4221', '4216', '4168', '4218', '4219', '7365')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7635', '2040', '3283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1017', '1016', '877', '7564', '7459', '7399', '354', '399', '1283', '6280', '4027', '400', '1104', '188', '1072', '301', '1285', '6282', '7579', '334', '264', '398', '7289', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3441', '4557')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2601', '2311', '2310')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2578
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3917', '5113', '7387', '4952', '7340', '7385', '380', '1184', '326', '6348', '7348', '3968', '7026', '4983', '332', '7025', '1444', '315', '6089', '279', '6056', '927', '4320', '2912', '7174', '2199', '1548', '3966', '4957', '276', '1767', '3912', '4686', '7568', '2810', '1473', '767', '406', '6282', '5114', '354', '1490', '3732', '1012', '7049', '288', '6071', '4619', '317', '2', '2975', '3636', '2959', '2955', '7574', '4', '895', '1104', '4513', '313', '2039', '2492', '7599', '5192', '6044', '4595', '7072', '302', '2210', '1479', '281', '2035', '2355', '5046', '3616', '3928', '2038', '7382', '3926', '2190', '6317', '4743', '4341', '720', '4392', '4307', '4715', '6280', '807', '7615', '2242', '3663', '7582', '2212', '3333', '747', '4495', '7491', '6289', '2206', '4387', '7347', '6315')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1730', '1772', '1729', '1749', '7571', '293', '6317', '1767', '7131', '3057', '375', '1727', '4411', '354', '1646', '332', '7459', '4616', '7665', '1728', '675', '406', '7469', '1774', '1775', '2492', '2975', '7149', '6029', '1773', '1726', '4594', '223', '6234')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3090', '5031', '3089', '6033', '4381', '4957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4861', '1099', '2310', '1097', '1934', '6132', '1440', '2311', '4495', '1279', '1096', '1388', '2319', '5025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1579
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3914
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7194
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7237', '1580')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3133', '3144', '3220', '4982', '3134', '3143', '7188', '422', '3204', '3124', '4168', '7639', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4551', '4409', '332', '6234', '7229', '6245', '2374', '3422', '4554', '4521', '2166', '7230', '4555', '319')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7445', '2925')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1320', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3962', '5114')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1765', '1766', '1764', '1745', '1740', '1760', '1763', '1753', '1762', '4785', '1750', '1759', '1744', '1749', '1752', '1761', '1746', '7591', '1751', '1743')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5086', '6010', '1050', '7348', '7490', '6117', '905', '3655', '1184', '3636', '4381', '5044', '4433', '7564', '4339', '3679')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4349', '3085', '3493', '6007')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1626', '1630')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2510', '2294', '5072', '1012', '1816', '4747', '7319', '6071', '1818', '1545', '7342', '2039', '4974', '7073', '6171', '7298', '1827', '110', '5082', '4686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2795', '755', '4320', '842', '7574', '848', '2039', '748', '7226', '2955', '4495', '6317', '750', '807', '747', '404', '751', '762', '303', '2981', '4128', '1479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7588', '767', '7339', '1479', '7162', '7576', '7587', '328', '7156', '342', '763', '786', '7158', '6280', '6110', '7586', '793', '7333', '4464', '784', '7025', '7160', '779', '1805', '1648', '297', '7161', '315', '313', '754', '3478', '1879', '7047', '7011', '1536', '322', '768', '1906', '781', '769', '6282', '1911', '7574', '4330', '4387', '1914', '772', '783', '750', '6044', '404', '1714', '4320', '749', '7020', '1877', '1647', '1807', '773', '1649', '4957', '785', '335', '1443', '755', '3333', '7347', '1814', '807')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3593', '3615', '3590', '3592', '7569', '3624')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3965
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7361', '2017', '3153', '7353', '7324', '4313', '4956', '4320', '2039', '4636', '4307', '3290', '4571', '3289', '2007', '7574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4792', '662', '1749', '1651')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1140', '1125', '6318', '6282', '1283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4792
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7272', '6137', '4168', '4208', '4305', '4132', '3133', '7638', '7660', '4253', '5046', '4216', '4129', '4131', '4257', '4221', '4218', '7294', '4135', '4252')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6325', '7070')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1313', '3085', '3355', '303', '1312')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4091
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6149', '6145', '6140', '6144', '6147', '2310')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1370', '4516', '1941', '3399', '1937', '1490', '1935', '4513', '272', '1369', '6056')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1218', '4595', '2355', '298', '1198', '7181', '2669', '4563', '1500', '2975', '895', '3663', '4952', '4593', '302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1406', '3085', '2310', '3620', '4619', '1367', '4340', '2086', '619', '2094', '1380', '1381', '2083', '395', '1934', '7459', '4522', '7514', '7162', '400', '7460', '765', '2190', '7072', '2278', '3032')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3886', '2224', '2220', '1445', '5114', '317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2851', '2849', '2848', '2845', '2850', '248', '2826')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 5142
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('862', '859', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1668', '802', '2959', '7340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4379', '4495', '5126', '1950')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 5144
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4383', '4698')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3379', '6244', '3378')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('912', '936', '7348', '4381', '1184', '6015', '7025', '315', '4330', '2492', '4595', '7390', '2278', '404', '935', '4320', '2039', '4392', '270')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2981', '2933')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2337', '7460', '4522', '395', '2336', '7459', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('942', '941', '938', '4411', '4381', '7348', '936', '7569', '910', '940', '4387', '816', '914')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('762', '2089', '760', '759', '761', '4320', '7361', '315', '6059', '2010', '333', '334', '7574', '808', '2039', '5016', '2007', '748', '767', '406', '303', '1476', '6280', '7622', '810', '3280', '807', '375', '747', '756', '2087', '264', '354', '818', '2955')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2455', '4392', '281', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1024', '264', '334', '1023', '6059', '7149', '1076', '1022', '1019', '190', '186', '7399', '1021', '6361', '1537', '7277', '819', '1285', '1283', '6042', '6311')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3332', '1647', '1443', '4768', '329', '4769', '7389', '7333', '1805', '785', '4765', '1913', '1649', '784')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('835', '279', '319', '7072', '6071', '834', '7', '6348', '14')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('763', '7049', '336', '315', '4495', '756', '1478')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4362
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('940', '4381', '7348', '913', '914')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2485', '324', '7132', '2481', '2484', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3634', '1184', '3616', '3605', '4387', '3632', '877', '7348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2114', '4414', '4379', '2199', '1284', '1971', '2112')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1245', '4595', '807', '2355', '1260', '6130', '1218', '4692', '1262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7576', '792', '4745', '6059', '265', '793')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('607', '4784', '1651', '1652', '938', '5141', '7571', '1773')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('464', '2083')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1316', '2811', '1314', '1367', '2825', '302', '852', '303', '2933')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7247', '1831', '1579')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 544
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2351', '2556', '2617', '4436')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('39', '7229', '6235', '114', '332', '4554', '6234', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3960', '7187')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2085', '5016', '763', '4387', '2083', '7663', '4594')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1321', '1320', '1305', '2975', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2097', '7514', '2096', '1406', '354', '2355', '4522', '2095', '2311', '4619', '618', '2315', '7459', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1807', '3333', '784', '767', '7162', '313', '7333', '4325', '1666', '796', '1899', '274', '7161', '4745', '2')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3892', '3947', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3428
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2613', '2423', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3255
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3736', '7039', '3735', '3726', '3733', '3732', '375', '4330', '7459', '7229', '748', '226', '319', '7339', '299', '2355', '1184', '3690', '1104', '4320', '332', '6282', '485', '3734', '4743', '3333', '6289', '4983', '7131')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4895', '802', '1911', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1301', '2915', '2914', '1081', '336', '2086', '1300', '6280', '6282', '262', '3085', '1367', '1282', '399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4410', '4795', '6348', '4715', '4689', '4688')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3893', '312')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1013', '303', '2810', '265', '843', '2811', '2955', '350', '2809', '271', '340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3887', '3886', '2220', '1451', '3367', '346', '4599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2547', '3004', '342', '4756', '4882', '2038', '2545', '6128', '4760', '2516', '4713')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1666', '2959', '7340', '1649', '767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4623', '7016', '2166', '4545', '4554', '7139', '4530', '7390', '7514', '3368', '4495', '6290', '301', '4620', '2310', '6149', '302', '2133', '2314', '4626', '7127', '4628', '6011', '2279', '1934', '2099', '2094', '7118', '5051', '4616', '315', '4624', '406')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4927', '2564', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4438', '3429')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1940', '1938', '272', '750', '1934', '324', '6234', '7229', '335', '1939', '1937', '1491', '261', '4513', '51', '1935', '4715', '4521', '2957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5139', '4207', '4212', '4136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2450', '5026', '1279', '2487', '2489', '324', '2492')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2536', '2535')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2198', '2243', '2199', '4341', '6289', '5009', '7181', '2355', '7387', '7162', '7160', '270', '7374', '2039', '4347', '1767', '4414', '5114', '4411', '4392', '6280', '6282', '6089', '1827', '7025', '6071', '1444', '4595', '2197', '6348', '7385', '4640', '7011')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('400', '4495', '302', '399', '2278', '4595', '7459', '354', '2355', '395', '4619', '1258', '297', '7514', '1500', '1218', '301', '7348', '397', '5140', '4340', '4606', '4843', '4596', '7622', '2573', '4930')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('211', '207', '4096', '7571', '209', '210')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3775', '7174', '3802', '332', '292')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('301', '302', '342', '4320', '1072', '4307', '4252', '4415', '7361', '4305', '317', '4956', '334', '6282', '4594', '4306', '7353', '618', '1184', '1500', '2007', '2039', '7514', '7638', '4225', '1245', '760', '2017', '2278', '4571', '1218', '315', '6311', '6317', '6207', '1445', '2355', '4595', '759', '4619', '7587', '6071', '407', '303', '4725', '7362', '4495', '7405', '7435', '4563', '7461', '4248', '3802', '7544', '297', '6137', '292', '4953', '6318', '7365', '5140', '675', '4385', '6050', '2279', '291', '2016', '2022', '746', '1444', '4596', '325', '2035', '761', '523', '7404', '4962', '7555', '664', '4230', '5190', '1478', '621', '3616', '616', '3147', '299', '2333', '619', '2166', '7574', '2825', '7623', '7049', '3689', '7115', '1219', '2010', '7407', '406', '614', '877')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2966', '2825', '2965', '7448', '2983', '2934', '6089', '2954', '6071', '3616', '2950', '567', '7449', '4595', '7189', '2984', '2955', '2967')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2786', '4359', '298', '7599', '375')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3229', '4', '3225', '3057', '3215', '3224', '3228', '6000', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('79', '6094', '6071', '1702', '1699', '16', '78', '284', '4936', '77', '263', '7348', '4989', '1905')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4599', '2215', '4616', '312', '4401', '7012', '2216', '7118')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3905', '3904', '3947', '3892')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7085
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2471', '2492', '2450', '4359', '332', '2497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1523', '279', '4715', '4411', '1559', '1549', '4938', '6348', '2957', '1558', '7132', '4168', '7162', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1702', '4322', '6094', '4525', '1701', '1661', '1700', '2975')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1657', '1656', '329')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('840', '839', '4542', '4715', '6071', '4411')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6109', '328', '6108', '7599', '7475', '7162', '4747', '767', '7025', '1899')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4554', '2166', '4545', '4619', '4552')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3132', '3131', '435', '4956', '3128', '7188')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1046', '7581', '1019', '301', '4710')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('531', '567', '621', '7569', '4384', '927')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7602', '400', '21', '7615', '4576', '7174', '19', '4957', '381', '2975', '281', '288', '322', '14', '325', '1172', '8', '278', '292', '7149', '1174', '15', '3802', '17', '18')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('526', '621', '7569', '519', '4384', '4387', '567', '523', '515', '521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3494
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3676', '3802', '7174', '2975', '205', '292')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7651', '2055', '2041')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3118', '4956', '3115', '7188')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1090', '7581', '399', '395', '1086', '1104')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('423', '422', '4962', '273', '413', '7639', '7226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7112', '1231', '968', '1252', '1246', '1228', '7025', '1244', '2338', '1012', '1178', '4382')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1608', '4715', '1587', '4539', '1585', '1586', '1184', '6348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3594', '7569', '3624')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3764', '3802', '3677', '7174', '3863')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1478', '2383', '4413', '4320', '1476', '753', '7586', '7574', '4619', '7453', '7390', '2278', '7387', '1615', '324', '2492', '1474', '1614', '187', '1907', '7187', '2248', '7339', '315', '2210', '951', '2246', '3926', '4747', '6094', '767', '4606', '2242', '332', '320', '1714', '1473', '6089', '288', '4616', '2778', '2190', '3949', '2247', '4555', '1528', '2722', '3337', '1906', '3999', '7119', '2245', '7370', '4952', '303')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 5110
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2829', '2828')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4018
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4549', '1963', '1938')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2979', '7347', '2978', '2975', '5171', '5192', '7339', '14', '4595', '6348', '2278', '2810', '3689', '2955', '270', '7615', '7072', '85', '675', '7569', '4257', '291', '1473', '1630', '7131', '2959', '6056', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2800
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 719
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2021', '760', '4571', '2038', '4636', '2013', '2020', '7353', '2010', '435')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2697', '4359', '326', '375', '2656', '2908', '6029', '334', '380', '2800', '4361', '7599', '4360', '315', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1913', '7576', '1911', '1445', '1647', '7160', '786', '7588', '1649', '7339', '1648', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2848', '4397', '248', '2845', '6041')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3865', '4957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('941', '938', '7348')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2203', '7599', '4359', '375', '4361', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2501', '297', '407', '2499', '2498', '3802', '4953', '2500', '301', '7174', '2278', '7576')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1445', '2210', '1444', '5114', '346', '4495', '6089', '7187', '374', '3994', '4983', '7391', '4952', '5126', '7392', '3890', '7390', '317', '312', '7387', '400', '7588', '4003', '1478', '4720', '7131', '1443', '315', '7385')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1244', '251', '7025', '1012', '965', '7571', '1228', '956', '7160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1819', '2289', '1817', '4976', '4974', '1818')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3712', '4916', '5031', '3679', '3707', '4905', '4925', '3710', '5030', '3675', '4926', '1171', '3678', '4330', '6054')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1742', '1765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 683
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4220', '4219', '4208')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4401', '6089', '4407', '7012', '5114', '2721', '7392', '2200', '7131', '1447', '4616', '3890', '312', '7239', '7385', '6289', '7574', '3994', '7078', '7390', '1445', '2201', '315', '7588', '1444', '2241', '317', '347', '346', '4003', '2196')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3537
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3499
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2614', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('681', '550', '707', '680')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2134', '3377', '3376', '754')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('110', '127', '6311', '327', '6235', '974', '976', '6234', '973', '7229', '324', '7192', '7226', '4554', '6016', '2166', '332', '4683', '1960', '7092', '7230', '4677', '6125', '6239', '322', '5055', '7025', '4545', '107', '7113', '4552', '6071', '6238', '261', '6241', '959', '1012', '7191', '335', '1995', '319', '126', '7339', '281')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3961', '2192', '3960', '7078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3701', '3572', '4957', '4843', '288', '3691', '4330', '4921', '4958', '6289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1487', '4509', '2001', '1481', '1425', '1486')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4552', '2166', '4545', '261', '2278', '327', '114', '4677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3437', '5124')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3096', '7667', '3091', '4830', '3047')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3642', '4381', '949', '951', '1184', '1073', '7348', '7571', '3598', '4384', '3590', '4925', '3616', '497', '523', '3640', '515', '4952', '3574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('846', '404', '747', '313', '1479', '845', '843', '315', '7218', '1704', '4747', '1478', '349', '7031', '1688', '1714', '1687', '1680')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4871', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('903', '2790', '2669', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('297', '300', '289', '298', '7591', '1184', '7617', '495', '7587', '4595', '938', '7576', '621', '6044', '1767', '7569', '1358', '7199', '567', '248', '2184', '2669', '4132', '293', '4441', '2380', '2382', '7568', '1072', '7577', '2353', '2355', '7582', '1070', '2333', '2310', '686', '7072', '2866', '6041', '804', '2002', '291', '4528', '2383', '5099', '4646', '3333', '302', '271', '4380', '7162', '286', '2998', '1054', '2826', '2351', '4387', '2628', '515', '1500', '3634', '4594', '2039', '1172')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('328', '325', '7576', '329', '319', '4720', '7162', '326', '7392', '7025', '7588', '2959', '767', '7333', '5126', '313', '7340', '792', '752', '4745', '2039', '315', '6029', '4320', '3333', '332', '2908', '777', '4616', '2172', '2492', '7652', '1551', '784', '786', '7161', '793', '7574', '7038', '7160', '7587', '404', '773', '1479', '7156', '779', '783', '775', '2466', '7047', '4409', '4495', '6110', '1478', '2912', '1480', '349', '7339', '1357', '3143', '769', '226', '7131', '1359', '7665', '782', '1077', '763', '1648')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 947
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2311', '2310', '1934', '302', '400', '2278', '4619', '399', '4340', '7459', '1500', '2094', '4522', '4495', '301', '4957', '7514', '2355', '396')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2481', '375', '4357')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('670', '4384', '298', '7199', '521', '1184', '522', '4415', '519', '523', '1358', '299', '669', '3616', '332', '7659', '7189', '302', '300', '516', '7490', '297', '7568')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('847', '846', '807', '7574', '406', '842', '2039', '747', '52', '81', '4956', '819', '2810', '49', '334', '4320', '449', '4307', '808', '845', '1476', '844', '404', '767', '3544', '7622', '3802', '7347', '7615', '264', '3219', '908', '2199', '7453', '2070')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2160', '1960', '4549')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2017', '4320', '7574', '2015', '842')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4230', '4216')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1576', '981', '1827', '7297', '6071', '4548', '7072', '4687', '4583')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2734', '2733', '6083')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7386', '4341', '2721', '4602', '6289', '2637', '4562', '312', '2213')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4642', '302', '4495', '2622', '1500', '2313', '2311', '1218', '2603', '1220', '2621', '2332', '4522', '4441', '4436', '2099', '2351', '4641', '2624', '1277', '2314', '4595', '1406', '4563', '1934', '2333', '2094', '2669', '2312', '2310', '2337', '2557', '4446', '400', '1262', '1274', '675', '1258', '2349', '619', '2623')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1729', '322', '293', '1767', '1728', '1772', '1764', '1775', '1727', '1724', '1755', '7469')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2925
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3041
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1201', '515', '2189', '669', '523')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1639', '3885', '288', '1175', '7347', '2975', '3669', '4957', '3802', '52', '4921', '292', '3699', '1638', '1636', '1633', '262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5031', '3087', '7623', '3672', '4957', '3078', '4381', '288', '4912', '1174')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7462', '7461', '4239', '4277', '4241', '4170')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3579', '3575')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('448', '450', '4984', '449', '6122', '3085', '5016', '4847', '4848', '3184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1956
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2487', '1285', '7599', '2486', '4357', '2485', '1279')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5062', '688', '686', '4957', '690', '689')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7104', '7102', '7560', '1509')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1593', '1506', '4686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2542
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('925', '525', '924', '938', '927')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3397', '7483', '3384', '3385')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1373', '1372', '1371', '895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1091', '1104', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1934', '302', '7459', '301', '4522', '4494', '7072', '354', '4862', '4495', '395', '1279', '4619', '4340', '400', '288', '2355', '1479', '1500', '1099', '2278')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 441
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1623', '288', '292', '3802', '1172', '19', '4957', '7174', '7602', '2975', '3874', '18', '203', '17', '2278', '110', '1173', '7347', '15')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1019', '877', '187', '1072', '1018', '1285', '4027', '264', '6282', '7579', '2955', '1017', '7347', '7564', '395', '6280', '334', '1283', '301', '1104', '399', '324', '354', '336', '1069', '6318', '7581', '7131', '1016')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('357', '380', '5016', '7564', '355', '353')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7170', '7204', '3736', '4330', '3744')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7064
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4538', '822', '5144', '192', '276', '4499', '7027', '823')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2087', '478', '376', '374', '5016', '400')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4190', '4185', '4183', '4184', '4584', '4186')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1377', '1455', '1467', '1370', '1375', '1490', '335', '1376', '319')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1015', '2810', '2811', '843', '2955', '265', '1013', '271', '119', '302', '340', '3605', '2809', '350')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3713', '3677', '3678', '7623', '7174', '6317', '3732', '3802', '3712', '4330', '2863', '3809', '3676', '3692', '3679', '3711', '6076')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 862
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1597', '1511', '1592', '1593', '1827', '1595', '1594', '15', '6348', '7', '837')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 863
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('774', '772', '773', '7162', '4320', '807', '3143', '792', '2039', '7160', '759', '1140', '281', '7574', '767', '2069', '768', '786', '2064', '325', '4953', '6089', '4743', '771', '3890', '5114', '303', '2057', '4179', '4727', '3142', '4154', '7390', '1479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 720
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4017
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2466', '2492', '2493', '2465', '7599', '332', '2450', '7131', '1285', '4359', '4983', '315', '2975', '375', '2488', '5026')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1269', '298', '1358', '1266', '669', '1268', '4695')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3219', '3214', '7641', '2035', '7639')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5008', '2345', '4341', '5133', '2557', '2603', '2617', '2554', '4779', '2556', '2396', '2334', '2596', '4446', '4436', '400', '2616', '7564', '2553', '7181', '2310', '4495', '396', '2611', '2200', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3385', '3384')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3626', '1184', '3616', '3643', '3585', '669', '521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7143', '7563', '288', '7390', '7131', '4620', '315', '3085', '6290', '4392', '354', '4387', '4530', '7459', '6289', '7592', '7382', '4952', '3692', '6317', '406', '7128', '7127', '913', '2210', '5016', '7181', '7564')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7027', '5144', '823', '822', '6004', '72', '58')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('905', '7539', '3636', '7540', '877', '3634', '1749', '7538', '7348', '1184', '7541', '913', '523', '4381', '4168', '7542')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('796', '192', '4745', '2', '274', '7131', '7339', '7576', '818', '265', '795', '7382', '786', '748')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6235', '324', '332', '7229', '7226', '2165', '4554', '6348', '2166', '7230', '5114', '7191', '270', '4545', '6234', '4670', '3280', '274', '4595', '3890', '94', '86', '4379', '8', '7330', '5082', '6000', '327', '298', '188', '3116', '4983', '288', '6085', '4668', '7192', '4677', '150', '7131', '6182', '7113', '4674', '7025', '1443', '315', '322', '4322', '485', '7162', '7174', '119', '2355', '1960', '4962', '7181', '4494', '4131', '261', '115', '2145', '7574', '323', '2912', '248', '6282', '927', '7026', '7072', '7459', '6094', '3874', '6241', '281', '3333', '4521', '226', '7480', '7479', '7478', '7481', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4686', '1827', '110', '4323', '1104', '354', '4983', '288', '895', '1826', '3333', '7574', '1825', '1576', '6000', '4489', '3087', '4862', '4307', '2955', '7347')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1312', '2825')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4695', '298', '1201', '1197', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('168', '7131', '7132', '4392', '938', '4788', '193', '167', '6044', '136')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3793', '3823')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2746', '2745')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2522', '4749', '342')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3353', '1406', '1436', '3085', '3952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('834', '279', '7072', '4316', '270', '14', '6004', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('81', '82', '7340', '807', '814', '2039', '6071', '797', '6044', '773')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2576', '2574', '1283')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2490', '324', '1279', '5026', '1070', '2450', '7350', '2448')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3119', '3118', '4956', '3114', '3117', '7188', '422')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2164', '4670', '4669', '4677', '4668', '3379', '6244', '3378', '4667', '7229', '2135', '261', '7201', '6235')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('380', '375', '5016', '374')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3720
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('236', '6044', '7571', '277', '248', '4357', '6289', '297', '235', '251')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7097', '7072', '7026', '6071', '7073', '7560', '1827', '7162', '6005', '7686', '30', '2955')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2957', '4715', '1280', '4411', '6348', '1558', '7132', '270', '7', '261', '332', '3544')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4710', '1283', '4415', '336')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4441', '2332', '4495', '2311')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4227', '4226', '7294', '4656')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1445', '328', '329', '1443', '1444', '7162', '3333', '7160', '779', '7011', '763', '7576', '7587', '7588', '7339', '315', '2959', '7340', '1478', '767', '7574', '786', '7049')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1675', '2959', '1666', '1443', '7588', '329', '1667', '7340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4216', '4208', '4135', '4656', '4207')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3597', '3609', '7348', '3605', '4952', '7569', '4387', '3613')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3633', '4387', '3616', '1184', '3605', '3632', '3631', '4341', '3586', '4320', '4381', '675', '497', '6289', '7327', '6051', '3629', '7574', '2810', '7348', '7181', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1567', '7458', '2492')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2042', '2040', '4983', '2039', '807', '2041', '7648', '2038', '2036', '6059', '7181', '7639', '804', '3283', '3057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4772', '3275', '2041', '3309', '3255', '3256', '3306', '3265')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1228', '7025', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7298', '1012', '4747', '7025', '1009', '1828', '4686', '2960', '1545', '957', '1006', '4362', '143', '992')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3583', '4381', '1073', '3643', '3640', '4952', '951', '516', '3642')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1700', '6094', '4322', '4525', '7025', '7149', '4526', '4747', '2908', '4523', '820', '1423', '1814', '2959', '4595', '1410', '1412', '6282', '767', '7599', '16', '4990', '1696', '753', '6317', '2278', '7340', '4656', '2039', '7158', '3690', '288', '319', '6289', '4982', '7339', '6089', '4745', '927', '7574', '1630', '4', '6348', '279', '4619')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7029', '7161', '7160', '328', '1878', '7162', '1899', '315', '7020', '7240')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7132', '7350', '6364', '6348', '895', '7149', '1358', '4715', '6361', '2655', '7', '4411', '4602', '1592', '896', '6071', '1285', '7382', '399', '270', '2697', '299', '7162', '4985', '6229', '767', '1942')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3772', '3768')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 6157
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2845', '248', '1767', '2842', '319', '2840', '2826', '2887', '2885', '2038', '4320', '375', '7057', '7181')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1205', '1184', '497', '670', '669', '515', '516', '1199', '523', '521', '519', '4384', '3616', '7189', '4385', '1201', '522', '1203', '671')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1323', '1322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5053', '1632', '3699', '3885', '3669', '4957', '288', '2975', '4843', '1631', '248', '7347', '4905', '3697', '5078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3740', '3736', '3735', '7204', '3738', '4330', '332', '748', '6317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1567', '324', '1566', '2492', '7131', '7458')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4325', '7026', '1814', '7389', '4323', '4766', '4765', '4769', '1649', '4770', '7339')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4847', '7057', '449', '6122', '6348', '441', '445', '850', '271', '7574', '2038', '3020', '261', '851', '404', '882', '37')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7594', '3689', '4330', '4957', '288', '4843', '52', '4921', '7348', '4958', '3751', '3750', '3752', '4', '1040')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4855', '1438', '2310', '4862', '5025', '4494', '4854')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3276', '3256', '3255', '3309', '3283', '2039', '3265', '3306', '2047')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2561', '7180')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2605', '7459', '354', '2604', '4435', '2566', '4960', '2346', '2360', '7181', '7347', '4640', '4647', '4348', '2062', '2038', '2570', '4342', '4713', '4714')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2648', '2646')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2737', '2726')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('837', '199', '7072', '7', '279', '6004', '15', '292', '315', '1999', '7559', '6348', '1998', '2001', '264', '834', '836', '198', '319', '835', '896', '7491', '6071', '194')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1506', '199', '7', '15', '1999', '14', '837', '6348', '274', '198', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4027', '2578')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('138', '7132', '136', '4392', '4788', '193', '6273', '137', '6289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('408', '273', '4', '4962', '7639', '405', '324', '4982', '261', '5046', '7226', '1174', '4495', '7457', '327', '3220', '3221', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1005', '629', '628', '4782', '1198', '626', '627', '7199', '634')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2846', '5190', '6089', '248', '2843', '2842', '6094', '7057', '2845', '4168', '2826', '2844', '1358', '4341')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4419', '4167', '4183')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('682', '720')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2413', '1367', '190', '263')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3211', '3245', '4982', '3207', '3210', '3243', '3241', '3204', '4981', '3057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2185', '2101', '2105', '7582', '7599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2036', '3321', '2016', '4571', '4477', '2015', '2017', '453', '2878', '2879', '2035', '2014', '4342', '4636', '2022', '2013', '2542', '4348', '2034', '2038')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1258', '4595', '2353', '2355', '1218', '2624', '4563', '4952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('356', '5016', '355', '352', '7663', '354', '400', '265', '380')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2579
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1508', '1507', '7072', '7', '7582', '1506', '6071', '7459', '7569', '199', '279', '6005', '7149', '198', '7559', '1511', '4316', '6348', '895', '15', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('625', '300', '1198', '497', '1782')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2215', '4599', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3629', '7327', '3605', '1184', '6053', '3607', '877')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1861', '1879', '1859', '767', '7347', '2959', '262', '7048', '7382', '1858', '7158', '7339', '7162')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3993', '346', '2217', '317', '1445', '7078', '4599', '7391', '1450', '3886', '2194', '3957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6245', '3422', '2374', '7229', '4617', '332', '2151', '4576', '4545', '4677', '2166', '7574', '6234', '4555', '3419', '4521', '323', '4554', '7230', '2154', '3418', '322', '7191')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7260
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2391', '7132', '342', '188', '1285', '4392', '5024', '2389', '277', '336', '1286', '1278')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7087
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7103', '6004', '7560')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('812', '807', '2039', '801', '802', '334', '810', '811')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6080', '1584', '1012', '4747', '7025', '7298', '6071', '1816', '7505', '6068')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4605', '7012', '4603', '4604')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6147', '6146', '2310')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2352', '7180', '7459', '4928', '2559', '4877', '2351', '2550', '7331', '2551')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3357', '1367', '1400', '1380', '3355', '1391')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4006
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2479', '332', '2492')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('390', '352', '355', '353', '350', '357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6363', '7277', '894', '7149', '895', '7', '2975', '7574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7414', '5025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2689', '2667', '4795', '6024', '6028', '2908', '6021', '326', '2670', '2206', '6289', '2910', '1488', '7347', '265', '7507', '2666', '6348', '281', '2665', '7026', '2664', '7599', '375', '2959', '2688', '2656', '4357', '2687', '6025', '2912', '2663', '1559', '4359', '319', '6030')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('250', '249', '248', '6044', '246', '7582', '1304', '1358', '297')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('400', '2210', '6089', '4952', '3994', '7387', '7391', '5114', '495', '7385', '4003', '315', '2810', '7390', '346', '1479', '6280', '3911', '3008', '4599', '494', '3918', '406', '763', '4387', '312', '4322', '6000', '3917', '4392', '276', '1445', '2241', '927', '4000', '5192', '3279', '5024', '3892', '585')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1283', '354', '395', '5190', '1104', '7399', '895', '301', '6280', '4339', '397', '7581', '6044', '264', '400', '334', '7149', '2697', '4415', '6282', '396')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1479', '1845', '1478', '4413', '7339', '7453', '7340', '1476', '7162', '7387', '5114', '6089', '7390', '2214', '6290', '2249', '1715', '2210', '4768', '767', '181', '7385', '315', '3340', '176', '346', '2355', '3960', '4603', '4602', '802', '1474', '763', '2251', '406', '2492', '404', '4747', '2211', '3957', '1850', '1649', '1705', '2246', '7158', '313', '1615', '6289', '7592', '3949', '7119', '2722', '3917', '4616', '4489', '2810', '7391', '1714', '1472', '7435', '2199', '1473', '226', '189', '1358', '2233', '3333', '1703', '3890', '4620', '2241', '7048', '1806', '4957', '7160', '7388', '1906', '1704', '7017', '2959', '1909', '3926', '324', '3944', '1841', '7047', '3980', '7131', '4001', '1898', '4000', '7350', '3966', '2230', '7021', '317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2040', '2037', '3046', '3057', '5114', '6000', '4983', '6103', '6282', '6289', '4', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3199
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('480', '7330')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4978', '7343', '7575', '1817', '1818', '7243', '7124', '1580', '1820')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3599
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('279', '281', '6004', '274', '2166', '4715', '319', '6071', '7', '4795', '261', '7072', '322', '2680', '7149', '332', '6234', '895', '3616', '7229', '2689', '6059', '91', '2165', '896', '6348', '2697', '107', '7577', '2333', '1285', '4798', '6228', '6029', '1099', '395', '1592', '4379', '334', '1992', '1989', '94', '2719', '288', '7025', '4554', '4688', '2001', '7491', '4316', '4555', '7510', '2374', '1531', '270', '1521', '4617', '264', '4668', '4983', '2676', '7574', '834', '11', '1958', '335', '893', '1993', '303', '2686', '2038', '4982', '4545', '1997', '1072', '1999', '1998', '2002', '1982', '89', '1358', '6289', '6182', '748', '1596', '2152', '7578', '186', '2355', '2205', '819', '1507', '1104', '7191', '14', '4672', '1359', '6238', '104', '836', '197', '1988')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2394', '1089', '1086', '336', '1104', '3085', '7581', '2070', '400')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6146', '6145', '2311')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5030', '7623', '288', '3675', '7654', '4957', '4953', '19')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1553', '1550')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('342', '4495', '4307', '4956', '317', '4306', '303', '4305', '4252', '2039', '2007', '3134', '4656', '3133', '7574')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3980', '3008', '5114', '346', '7387', '315', '3911', '299', '7078', '7391', '2191', '406', '4952', '3912', '400', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1887', '1899', '1879', '4903', '1883', '1884')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7241', '1827', '7237', '4364')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('235', '216', '255', '6044', '234', '231', '249', '250', '248', '7347')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2915', '6280')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4747', '7026', '7340', '4489', '2959', '1012', '4411', '1479', '4493', '7162', '7339', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 708
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2393', '342', '5024', '277', '4392')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('543', '1749', '538')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('801', '1911', '773', '2959', '792', '800', '329', '1648', '7588', '1649', '4728', '4619')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2643', '7012', '326', '2642', '2638', '2721', '2908', '2641', '4407', '6029', '1445', '4715', '2640', '4521', '2637', '1358', '2719', '1943')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('399', '495', '494', '7390', '354', '4003', '6089', '7385', '4616', '6280', '396', '793', '397', '5114', '398', '288', '7391', '2210', '7387', '3162', '6289', '1104', '3994', '6074', '3964', '4340', '7459', '315', '1474', '3008', '485', '2810', '7118', '406', '226', '3890', '2896', '4407', '7226', '7330', '475', '476', '477', '845', '7569', '479', '5047', '2355', '748', '332', '6282', '6044', '488', '5190', '938', '3912', '6339', '2039', '395', '1479', '480', '491', '381', '392', '4952', '3370')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4536', '4666', '4665')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('712', '711', '707')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('716', '715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7224', '2510', '7238', '1012', '7073', '6071', '4686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3054', '3053')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6165', '3960')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6130', '4595', '1260', '2355', '4952', '1218', '1259', '4957', '4307', '302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4934', '4499', '796', '6004', '56')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4156', '4183', '4416', '4199', '7294', '4108', '4422', '4192')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('336', '342', '270', '4495', '4494', '5024', '324', '188', '315', '7131', '4862', '2492', '7347', '4640', '4347', '2975', '262', '1479', '185', '190', '7350', '1478', '332', '1099', '186', '52', '3669', '7390', '231', '47')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1678', '1648')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1803', '833', '4525', '6094', '16', '1702', '4526', '263', '1661', '1814', '1804', '73', '4745', '74', '4371', '6122', '832', '4322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('858', '6122', '747')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2016', '2039', '5092', '7353', '4571', '4320', '7574', '6000', '4636')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3039', '424', '3037', '3036', '3038')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2668', '2243', '6348', '4341', '4357', '1942', '2656')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2836', '5143', '2825', '6006', '3493', '3514', '3491', '4096', '3492', '3489')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('493', '4952', '7387', '4003', '2210', '6289', '6089', '7391', '763', '406', '4616', '315', '3223', '5114', '3544', '489', '7390', '4096', '3994', '3890', '485', '7187', '7234', '332', '748', '346', '755', '478', '479', '3616', '354', '2810', '492', '490', '3084', '7568', '4320', '4962', '7226', '7385', '3904', '7078', '2908', '4594')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7242', '1012', '7025', '5072', '6071', '2510')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3761', '2892', '3676', '3677', '7174', '3678')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4915', '4330', '7189', '1630', '3678', '4912', '288', '1174', '5030', '3672', '4914', '1171', '1172', '1624', '3679', '1175', '220', '3669', '3675', '1173', '5031', '4926', '7602', '1623', '17', '3090', '4916', '19')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4154', '4170', '4199', '4320', '4150', '7574', '4168', '4153', '4181', '4183', '4169', '7294', '4132', '4983', '2997', '4151', '4180', '5135', '4182', '6000', '7569', '4533', '927', '303', '4261', '4862', '2084', '2037', '4260', '7188', '4263', '1444')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2837', '7057')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3675', '7623', '4957', '288', '6312', '3674')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2909
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1232', '1637', '303', '332', '1231', '1636', '324', '300', '521', '7044', '1635', '993', '5060', '1244')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2397', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4391', '2052', '3085', '1380', '1367', '7459', '773', '1303', '2190', '2492', '4316', '7564', '2084', '2083', '2975', '7339', '2008', '313', '315', '4616', '288', '1313', '2278', '4956', '1381', '2068', '895', '2355', '1104', '332', '7574', '7347')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1303', '3085', '315', '8', '4957', '1300', '270', '336', '298', '4656', '2975', '1311', '1302')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3654
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('313', '315', '270', '272', '4513', '6056', '7229', '6348', '895', '1478', '4715', '1490', '261', '767', '37', '6235', '1491', '7162', '4554', '7471', '2124', '7158', '49', '51', '1479', '332', '7230', '327', '115', '7339', '324', '1714', '6017', '1909', '4411', '753', '2002', '1486', '7', '6125', '1907', '274', '3802', '1359', '513', '1908', '39', '4962', '509', '7132', '6234', '7161', '52', '110', '1537', '1935', '6080', '1499', '7374', '1934', '4747', '1425', '785', '7388', '3890', '7092', '7166', '2166', '4392', '2672', '4667', '1702', '118', '511')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5091', '4129', '4131', '2962', '2014', '4173', '4320', '7574', '334', '3136', '759', '2964', '2963', '4171')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7653', '3079', '3081', '4168', '5047', '4203', '4156', '4260', '3144', '4150', '4201', '3164', '5135', '4273', '4280', '4261', '3161', '4206', '4151', '3150', '3140', '3149', '4170', '3159', '4205', '4416', '5136', '3163', '3162', '4202', '7271', '4266', '3147', '3141', '4153', '3148', '3143', '3146', '2995')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2672', '4341', '2243', '2668', '4521')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('223', '222', '220', '218')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2049', '2045')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2127
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('146', '4392', '39', '332', '400', '7226', '115', '4619', '40', '7132')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('355', '354', '380', '5016', '352', '353', '7603', '265')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2860', '281', '7181', '301', '2038', '2857')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3476', '3475')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4236', '7461', '6019')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7556', '3202', '3537')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2225
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('412', '4982', '405', '7639', '273', '411', '4962', '3221', '492', '7226', '4')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2498', '407', '297', '7576', '345', '5099', '2278', '354', '4555', '4619', '7622', '3802', '7577', '7174', '7582', '2810', '2383', '2199')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('747', '334', '6311', '406', '404', '271', '43', '449', '7574', '7405', '6207', '333', '403', '7544', '807', '2810', '4320', '4495', '2039', '49', '81', '264', '2084', '6122', '3057', '819', '818', '303', '52', '261', '7571', '7453', '3544', '763', '4131', '4571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7105', '7104', '7560')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2010', '2052', '2009', '2083', '765', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3897
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('549', '548', '557', '542', '289', '547', '7385', '686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2649', '2645', '2648', '2647')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('617', '1195', '4595', '616', '615', '2355', '666', '6282', '1184', '667', '293', '1736', '612', '664', '249', '6317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2192', '2191', '5114', '7387', '1444', '3890', '1445', '1450', '315', '2210', '1451', '312')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1669', '2959', '767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3124', '3123', '3119', '4956', '3082')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5006', '4341', '2200', '2243', '2199', '7574', '2278', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3123', '3116', '3122', '3082', '3120', '3119')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1131', '7615', '1184', '946', '2038', '4342')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('525', '938', '519', '4384', '523', '720')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7581', '4521', '1279', '6317', '400', '399', '332', '334', '4027', '1104', '1556', '7564', '6044', '7399', '2492', '7459', '324', '6071', '354', '395', '895', '6280', '336', '315', '301', '5190', '398', '7289', '7270', '248', '264', '6282', '1117', '7149')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3129', '3128', '3126', '7188', '4956', '334', '7362')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1728', '293', '590', '1767', '1727', '1772', '7025', '1760', '1775', '1726', '7469', '1794', '928', '1749', '332', '1184', '4952', '4725', '1757', '1724', '1725', '1778', '1729', '7348', '621', '6289', '1765', '263', '1776', '617', '675', '1774', '1762', '1755', '1773')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1438', '4862', '4494', '1279', '5025', '2311')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2997', '4170', '4151', '4320', '4168', '7569', '2039', '7188', '4392', '4420', '6071', '4182', '2994', '4131', '7574', '7586', '4108', '319', '4132', '4798', '52', '4956', '3616', '1358', '786', '7160', '4202', '4260', '2993', '334', '5046', '7131', '913', '4983', '325', '4181', '4183', '4167', '3085', '4156', '332', '4303', '4180', '807', '4642', '1444', '792', '3135', '1473', '4178')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2895', '2819', '1025', '1367')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1963', '4379', '4521', '6234', '1948')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3805', '6076', '3569', '3799')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6017', '7229', '6235', '322', '6016', '6182', '332', '4554', '6234', '7230', '2166', '327', '6238', '270', '94', '7', '2165', '323', '4545', '7201', '261', '52', '324', '2039')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3631', '1184', '7162', '616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4234
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7587', '773', '7387', '792', '6089', '7585', '5114', '3994', '3890', '4957', '4003')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('482', '481', '4', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7576', '792', '793', '4529', '7162', '7339', '786', '7160', '785', '779', '4320', '767', '2959', '7340', '774', '3333', '4952', '783', '784', '909', '753', '775', '773', '1479', '4307', '1710', '404', '315', '907', '749', '7333', '313')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1648', '1647', '328', '2975', '767', '7162', '783', '3333', '7587', '329', '7339', '2959', '1445', '786', '7160')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3356', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3905
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('182', '2492', '7458', '179', '332', '324', '1556')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1596', '1827', '7', '1592', '4686', '1593', '1530')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1818', '6039', '1817', '7298', '1545', '1767', '2294', '7026')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5123', '4379')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3911', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('205', '1175', '1174', '4957', '2975', '319', '7174', '288', '1172', '1473', '1171', '214', '15', '292', '3874', '203', '271')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1899', '7155', '1883', '1884', '4903', '7333', '7162', '1878', '1879', '4795', '1444')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('848', '2955', '1478', '4320', '2039', '807', '7574', '7453', '847', '276', '406', '808', '819', '4595', '334', '303', '320', '846')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3802', '3801', '6076', '7174')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('232', '231', '1637', '2975', '230', '203', '6089', '7347', '1636', '6282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2785', '375', '4359', '7599', '4357')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2517', '4779', '1130')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4229', '7461', '4225', '4228', '7365', '7462')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('727', '726', '289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3768
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1856', '1814')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4603', '6289', '4327', '4601', '4407')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('114', '226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4172', '7574', '4171', '7294', '759')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6020', '2909', '2657', '6029', '2656', '2658')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1946', '2166', '6184', '270', '1278', '1374', '1372', '4715', '51', '261', '4495', '52', '1373', '1944', '6234', '1945')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2656', '2908', '2655', '2646')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('124', '107', '110', '6039', '1601', '4592', '2294')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4256', '4306', '4305')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2126', '838')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1451', '4495', '1449', '4720', '1445', '5126')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3906', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1658', '1911', '7588', '4715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7472', '3222', '3229', '3057', '3093', '3225', '3227', '4', '6282', '4982', '4727')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1103', '395', '1102', '7581', '1095', '1285', '396', '1082', '1086', '1085', '398')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4798', '2685', '4715', '2119', '2116', '4411', '4341', '2655', '2199', '7026', '2200', '2243', '313', '2123', '5009', '4725', '6348', '2673', '2117', '2118', '2120', '2206')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4248', '4246', '4132', '4227', '5046')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1853', '7588')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2018', '2017', '760', '7353')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4251', '4248', '7461', '4307')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1769', '1753', '1754', '1759', '1752', '1765')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7330', '2050', '3283', '332', '748', '3114', '7226', '7347', '322', '2048', '281', '2041', '2047', '4096', '2810', '6044', '2046', '895')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7591', '289', '1767', '1729', '938', '293', '927', '1765', '291')
Finished.

SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6052', '3612', '4503', '3610', '938', '3599', '3611')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('497', '4919', '7490', '3616', '1184', '303', '332', '299', '7591', '567', '972', '289', '2492', '1765', '7582', '7189', '298', '1233', '675', '1628', '297', '6317', '7149', '496', '4595', '1767', '3333', '7569', '816', '4387', '2038', '686', '7568', '1764', '621', '1626', '6348', '6359', '1629', '262', '1627', '2355', '6283', '292', '6289', '1202', '2372', '326', '7385', '315', '4411', '324', '4715', '6078', '938', '6094', '354', '301', '4725', '4', '7226', '4745', '313', '4385', '1490', '807', '1375', '3994', '7199', '3890', '2975', '1069', '669', '4320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('895', '1024')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4595', '2355', '7347', '6282', '2166', '4594', '325', '1184', '3616', '2492', '320', '4952', '315', '6079', '301', '7516', '6315', '7174', '332', '3994', '3912', '3333', '4415', '4715', '298', '7599', '1490', '1358', '4096', '4957', '7162', '302', '1283', '4387', '7181', '313', '354', '5114', '7569', '248', '4322', '4441', '7382', '4693', '6317', '6319', '6318')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('692', '721', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1876', '1871', '7162', '328', '1872', '4362', '4686', '1873', '1911')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2486', '1077', '7599', '2482', '7189')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6004', '279', '60', '6094', '7162', '4322', '276', '6071', '1423', '3', '49', '4957', '1352', '1348', '332', '1359', '1559', '7131', '59', '1428', '263', '4524', '1278', '1425', '271', '927', '1353', '1350', '3616', '1357', '2166', '1424')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2036', '760', '2038', '7181', '7353', '3057', '3307', '762', '435', '2035', '2013', '4567', '747', '7639', '334', '264', '2022', '2007', '761', '2008', '807', '7160', '3283', '763', '5106', '757', '2165', '2019', '2010', '7362', '2015', '2017', '4636', '4571', '759', '7569', '756', '4565', '3262', '7131', '7324', '81', '842', '818', '4347', '2018', '2034', '2009', '811', '813', '3054', '2016', '4420', '6059', '2014', '758', '3312', '7025', '7149', '2031', '4313', '2795', '3051', '3285', '313', '7385', '848', '2039', '2037', '4715', '406', '5046', '7574', '846', '3289', '3153', '847', '2021')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('47', '19', '449', '7349', '7347', '45', '3885', '2975', '262', '270', '114', '18', '44', '3616', '7229', '214', '7230', '4843', '4957', '46', '4552')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4132', '7294', '4656', '4168', '4170')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1875', '1874', '7167', '1870')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4384', '1184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1452', '2638', '1444', '1445', '4407', '2637', '2908', '326')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4132', '4131', '7294', '4320', '7574', '5092', '762')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4135', '4134', '4132', '4956', '7294', '4169', '4230', '4248')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('703', '677', '686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3115', '3082', '3114', '4956', '7660', '7188', '7226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3864', '3682', '3679', '4957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2015', '2016', '807', '5092', '2013', '334', '760', '4252', '4320', '2039', '4636', '763', '1072', '2007', '7353', '2014', '2034', '762', '4956', '6059', '7574', '4132')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3472', '5016', '3471')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4457
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2171', '7011', '7038', '767', '328', '7025', '7156', '7162', '1814', '6107', '6110', '7576', '516', '7020', '1647', '1478', '1878', '7333', '7167', '779')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4620', '7390', '406', '7459', '1478', '4962', '1890', '2825', '3732', '7026', '748', '7168', '6289', '4795', '271', '6317', '1012', '4595', '1767')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('224', '203', '1620')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('621', '248', '4387', '7569', '567', '686', '1490', '6044', '707', '1358', '289', '7149', '913', '7453', '1012', '2', '620', '4341', '557', '7574', '615', '544', '7162', '1320', '6071', '564', '680', '585', '332', '7181', '4320', '3280', '320', '541', '449', '319', '6289', '4957', '4715', '548', '683', '49', '7339', '5114', '7564', '7387', '516', '4982', '4411', '553', '4322', '2865', '720', '7582')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2868', '2892', '303', '2983', '2840', '2841', '3486', '3085')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2557', '7459', '2617', '5133', '2603', '2420', '2556', '4027', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7020', '7156', '6110', '6107', '747', '7162', '1899', '328', '7047', '1878', '1889', '7240')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1369', '1289', '4516', '1490', '1482', '335', '1367', '1278', '4513', '4495', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1387', '2310', '1934', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2730', '2726', '2101', '2099', '2727')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3232', '3230', '3057', '4962', '7472', '4')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1644', '7571', '3333', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4253', '4305', '4252')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7639', '281', '4982', '4', '4962', '3134', '3220', '3057', '3053', '5046', '494', '3084', '277', '3054', '2036', '4156', '7390', '4956')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5127', '3145', '4320', '3148', '4201', '3142', '4132', '7574', '2041', '3147', '4153', '3146')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4554', '2166', '261', '4545', '1964', '4674', '4521', '4677', '4668', '1950', '270', '327', '39', '1938', '52', '119', '4665', '4379', '4552', '335', '6235', '1947', '1963', '1937', '107', '37', '7201', '112', '324', '1955', '113', '4667', '1945', '2139', '1953', '1935', '2140', '1959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2877', '2874')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('522', '7490', '497', '938', '1184', '516', '332', '521', '567', '2355', '519', '1749', '496', '4384', '1767', '300', '289', '298', '293', '7162', '621', '4387', '6282', '7591', '299', '2101', '326', '515')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('277', '1637', '231', '4843', '4958', '3699', '4906', '3885', '52', '51', '5028', '1640', '119', '49', '5078', '4432', '6015', '1639', '1636', '3696', '7145', '1638', '4909', '5077', '7347', '3701', '3690', '3691', '1633', '4921', '7594', '1642', '7349', '1632', '1631', '48', '4905', '5029', '3697', '1641', '5096', '3669', '4908', '3572', '288', '3698', '7603', '3881', '214', '45', '46', '5079', '5053', '47', '1634')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2095', '2310', '395', '4340', '4495', '1406', '1409', '7514', '4522', '302', '4619', '400')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6095', '2748', '4595', '2355', '4441', '298', '2351', '2743', '354', '2353', '2628', '2629', '302', '315', '7459')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2858', '2857', '1285', '1283', '301')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1484', '501', '1490', '1505', '500', '6056', '499')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6115', '4849', '298', '4695', '4700', '299', '1201', '521', '2190', '523', '671', '2270', '1203', '2353', '4697', '1266', '497', '522', '4594', '1267', '669', '6317')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3898', '3947', '6089')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2262', '4469', '2717', '2256', '2257', '2259', '2258')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7106', '7102', '7107', '1829', '1828', '6004', '7560')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1012', '303', '2954', '2955', '315', '7449', '332', '2825', '5016', '5114', '4743', '877', '2868', '279', '793', '3283', '1490', '4715', '6348', '4686', '400', '7588', '2959', '288', '4381', '7149', '3802', '792', '261', '3085', '2984', '7569', '2934', '2950', '2983', '6282', '7447')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4586
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1198', '1199', '4384', '3616', '669', '298', '1197', '1184', '522', '672', '516', '7659', '2492', '497', '6317', '4382', '7189', '7490', '523', '299')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3630', '1184', '877', '1022', '328', '3629')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3497
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('136', '4392', '4788', '6228', '200', '7132', '7131', '6273')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1645', '114', '226')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1770', '1752', '1753', '1754', '1750', '1769', '1749', '1759', '293', '1751')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('264', '265', '2039', '748', '4962', '895', '4725', '7149', '819', '7131', '758', '773', '7277', '1531', '4392', '4745', '807', '814', '187', '767', '7347', '4441', '3544', '3057', '4982', '763', '7339', '188', '6071', '1697', '1820', '7574', '7491', '6059', '1184', '334', '6289', '400', '4728', '1847', '7', '771', '7370', '7340', '747', '4314', '7374', '342', '354', '4989', '2036', '816', '6361', '809', '1283', '4990', '1845', '1536', '79', '1558', '7581')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1124', '1285', '7459', '5190', '4521', '7564', '342', '6282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2183', '1490', '7025', '2103', '6057', '7154', '2333', '4595', '274', '500', '6056', '2355', '354', '7459', '302', '4686', '2039')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1574', '1601', '1573', '1599', '1596', '1595', '1594', '1592', '1511', '279', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2224', '3367', '4952', '3366', '494', '5114')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1287', '1285', '1286', '1375', '7347', '49', '82', '51', '263', '6094', '336', '1279', '1284', '277', '262', '1278', '6184', '1282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3885', '816', '815', '288', '6117', '6015', '4906', '788', '3696', '449', '6054', '3691', '3701', '332', '7599')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('115', '36', '449', '324', '7131', '4392', '7226', '248', '7229', '114', '2166', '261', '2415', '6044', '2452', '6016', '143', '6235', '327', '7230', '4554', '332', '3732', '6056', '4380', '6122', '1605', '326', '2002', '313', '4788', '375', '4320', '4715', '35', '6228', '3616', '6234', '169', '320', '767', '323', '6348', '3085', '281', '6089', '1184', '2039', '7390', '6182', '7347', '862', '895', '7340', '7132', '7162', '315', '7113', '354', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4397', '521', '4587', '2040', '2845', '2847', '7181', '2045', '248', '2826')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3125', '5128', '2039', '3124', '5127', '4956', '4168', '7188', '3114')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4324', '4323', '7389', '1825', '7339', '3340', '292', '2959', '7026', '3333', '4341', '4768', '7460')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3595', '3594', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4022
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2482
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3956', '3994', '346', '2217', '5114', '4952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('21', '12', '278', '793', '4957', '14', '288', '7174', '17', '19', '15', '319', '322', '3802', '8', '6122', '18', '381', '320', '1172', '281', '292')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1282', '1283', '4521', '7564', '1278', '819', '4495', '4027', '1279', '1375', '7459', '4322', '336', '270', '277', '263', '7347', '4392', '6094', '6184')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4379', '322', '7229', '4554', '2166')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1518', '319', '1592', '4583', '279', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4548', '1514', '979', '4592', '4316', '7072', '5055', '7025', '1512')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2423
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3187', '7567')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2968', '7067', '2825', '2950', '2984', '7449', '2955', '1320', '2967', '262', '7447', '1305')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2390', '277', '4392', '4347', '342', '190')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2963', '4131', '4172', '4636', '760')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3392', '4669', '3384', '2166')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1526', '4715', '1525', '6348', '4938', '7661', '261', '1524', '1549', '7459', '7132', '2957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3539', '7556')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3947', '317', '7385')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1145', '1144', '1141', '1142', '1143', '1140', '6318')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('398', '397', '396', '395', '6280', '354', '381', '1104', '7459', '2355', '355', '4495', '4340', '1090', '7347', '1358', '7564', '380', '3333')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2279', '7514', '4619', '2278')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7343', '7124', '7243', '1580')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4894', '1675', '7588', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2217', '6089', '1445', '4401', '2214')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1181', '332', '2492', '1555', '324', '6071', '1554', '1557', '1556')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1679', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2129', '2125', '2126', '4795', '4341', '2624', '2675', '2243', '2124')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('48', '841', '288', '6235', '7181', '7229', '6348', '7073', '119', '46', '7347', '47', '2975', '449', '3669', '7230', '6071', '380', '45', '332', '6234', '6122', '4715', '41', '322', '37', '838', '3885', '6076', '44', '2166', '52', '118', '262', '213', '7571', '261', '1536', '406', '840', '1537')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3777', '7174', '3802', '3677', '3676')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('614', '1739', '2355', '6317', '4694', '597', '596', '594', '6089', '4595', '293', '248', '1734', '1184', '668', '6318', '613', '4387', '667', '7574', '1773', '664', '6282', '3605', '4596', '915', '612', '1733', '1724', '609', '600', '1221', '1728', '1737', '291', '610')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4106', '4097')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3201', '3033', '3032', '765', '468', '866', '1380', '1406', '1381', '2450', '2052', '3012', '2892', '2083', '3196', '1309')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('209', '4096', '208', '207', '7571', '262', '2975')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1883', '4903', '315', '7162', '1828', '7158', '7379', '7339', '328', '4747', '783', '4795', '7026', '1479')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2071', '765', '2084', '2070', '3085', '2069', '2072', '6029', '6044', '1367', '4391', '6289')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2335', '2355', '1934', '2102', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2655', '4521', '5007', '2646', '326', '2644', '2243', '4341', '2957', '4407', '2908', '6029', '5006', '4715', '1947', '2638', '335', '4357', '2647', '2648', '1358', '2719', '2645', '2200', '7012', '1443', '1937')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1592', '15', '319', '7', '4489', '837', '1511')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4131', '4416', '4420', '4320', '763', '4199', '4419', '4421', '4183', '4167', '4422', '3136', '4130', '4151', '2008', '2007', '7574', '4129', '4127', '760', '5046', '4095', '334', '7188', '2015', '7361', '3133')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6163', '1094', '1093', '7226', '3355', '399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3047', '2040', '3067', '2959', '3032', '6000', '4983', '2037', '422', '4982', '3059')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1521', '1592', '1510', '7661', '15')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1748', '1747', '1743', '4785', '7591', '7131', '1767', '6044', '1765', '1740', '496', '516', '293', '1762', '1749', '1764', '292', '1741', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4674', '1964', '1935')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1890', '1888')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('105', '6241', '4686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1289', '1282', '82', '6094', '84', '1285', '1284', '1375', '73', '4495', '4526')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7392', '317', '318', '7391', '4952', '6289', '7588', '4616', '7390', '7387', '7576', '4003', '5114', '3994', '2210', '312', '3890', '345', '6089', '315', '347', '613', '346', '7385', '406', '4601', '4599', '7131', '748', '1479', '7453', '1476', '4953', '2810', '4595', '7128', '7118', '2213')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6078', '1179', '1231', '1229', '7025', '1244', '5174', '968', '1252', '1176', '1012', '1228', '7358', '956', '4357', '2338', '1178', '4597', '1246', '516', '332', '300')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1882', '1814', '6172', '7297')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2820', '265', '3085', '1367', '434', '2955', '2819', '855', '2818')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2796', '781')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2721', '4407', '7576', '2637', '312', '2638', '6289', '4616', '7392', '6089', '1445', '1444', '7390', '6029', '7588', '7391', '315')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('217', '255', '215', '85', '216', '7615', '236', '7347', '2975', '251', '205', '7602', '17', '19', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2256', '2255', '4384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1172', '4380')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2919', '303', '1330', '340')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2173', '4409', '4341')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1253', '1251', '1235', '1012', '5060', '6009')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('757', '848', '336', '2955', '756', '4320', '748', '767', '7574', '5024', '4128', '807', '7365', '753', '4495', '335', '877', '4956', '2038', '4494', '844', '1714', '404', '796', '3616', '3135', '4747', '2039', '334', '4307', '2994')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4557', '3440')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7347', '7348', '4843', '1630', '3885', '7340', '277', '2975', '4381', '288', '7615', '1173', '52', '292', '4957', '1293')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4266', '4306', '4495')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1197', '1242', '332', '1196', '3616', '4382', '522', '299', '669', '519', '298', '6094', '521', '1184', '497', '303', '523', '7189', '7568', '671', '670', '7490', '4384', '4594', '3729', '300', '7199', '516', '1358')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1010', '1253', '1235', '253', '1001', '1009', '4747', '1008', '991', '94', '997', '983', '2510', '987', '992', '1251', '1007')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2351', '354', '4594', '2355', '2603', '4344', '4640', '6056')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3133', '7639', '7362', '5047', '3223', '3128', '2007', '3057', '3221', '7638', '2492', '4956', '5046', '7640', '7188', '334', '4636', '7353', '7365', '760', '3616', '1072', '7574', '7131')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('629', '628', '627', '626')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1999', '1998', '6056', '1466', '6057', '1490', '4795', '4410', '7229', '4576', '4513', '1989', '2719', '6348', '1992', '1982', '4400', '6234', '4715')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1947', '1988', '1935', '1982', '261', '4715', '1938', '49', '335')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2518', '281', '1934', '7459', '342', '1078', '2517')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3209', '3208', '4962')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('42', '41', '449', '40', '6122', '4848')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2830
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2055
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7424', '332', '2492', '2485', '4788', '6273', '4891', '7131', '324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2743', '2740')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1817', '6039', '2294', '1545', '1816', '1664', '7298', '7072', '785', '4686', '60', '1842', '1802', '1827')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1602', '1601')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2019', '2013', '2018')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2105', '2726', '2094')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7677', '7072')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4401', '4361', '4360', '2657', '375', '2210', '1104', '7599', '4359', '7078', '7391', '779', '4357', '4320', '415')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('319', '1359', '400', '4715', '6348', '1423', '4322', '4523', '2718', '6094', '4795', '2002', '2001', '1767', '1285', '1424', '1999', '1348', '1357', '2719', '1989', '261', '2205', '2685', '1996', '4952', '1992', '1995', '335', '271', '1998', '1425', '1352', '1353', '2697', '7589', '2626', '2713', '299', '7', '4799', '1104')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1007
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('226', '1605', '48', '1644', '380', '10', '7571', '1749')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1841', '7339', '1814', '4745', '4747')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2242', '7387', '2211', '2210', '2241', '494', '3980', '3890', '7374', '7390')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7257
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('415', '414', '4962', '7639', '4', '409', '4982', '405', '4619', '127', '410', '3616', '4952')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1733', '1732', '7571', '1731')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1203', '1265', '298', '4385', '4382', '1202', '497', '4695', '299', '4595', '1268', '4384', '1201', '521', '1184', '523', '7189', '4388', '4700', '1266', '4699', '515', '522', '1267', '1197', '3616')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1233', '1232', '303')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1474', '4413', '4320', '7574', '2722', '3890', '2246', '1473', '1471', '2210', '4602', '4623', '7665', '3085', '877', '4616', '7569', '7587', '2701', '7390', '2239', '7586', '7387', '315', '3966', '3280', '7564', '2718', '2242', '7626', '3283', '5192', '4469', '303', '3616', '326', '6089', '4952', '1749', '4387', '4680', '4003', '5114', '263', '7162', '2166', '4175', '2908', '6348', '1980', '279', '334', '7507', '763', '298', '4341', '3333')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6324', '6280', '2925', '2924')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6122', '449', '7135', '7149', '1357', '7347', '31', '4322', '6071', '3732', '328', '444', '4320', '4392', '1473', '354')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1389', '3354', '4862', '4495', '1381', '1440', '1409', '3085', '1934')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('818', '191', '7370', '192', '190', '4392', '334', '2039', '127', '7131', '188', '187', '7226', '113', '807', '277', '7149', '814', '189', '327', '2453', '809', '796', '1012', '7132', '81', '7387', '1534', '6071', '895', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2128', '4341', '2200', '2127', '4795', '261', '1935')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4873
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2130', '6014', '2125', '3423', '2124', '4795', '2243', '4341', '2129')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7381', '7106', '7382')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 562
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3799', '3798', '3802', '3797', '7174')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1018', '324', '877', '6280', '4595', '354', '4415', '7459', '1017', '2865', '1012', '4495', '895', '1104', '7579', '301', '1072', '1479', '7581')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7382', '7106')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4692', '2355', '4595', '1262')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4136
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2200', '7012', '6289', '4407', '5009', '4494', '7078', '6089', '4616', '5114', '2637', '4003', '1450', '7391', '4952', '4602', '1445', '346', '2198', '7390', '1444', '7387', '312', '2191', '2721', '400', '3890', '7566', '317', '7385', '1451')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3196', '3192')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4089
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4126', '4125')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3718', '3712', '3677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('796', '55', '6004', '53', '192', '3', '54', '276', '4320', '820', '795', '1359', '279', '6094', '6071', '7574', '1548', '4322', '14')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4289', '4208')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6201', '3085', '6200', '3201', '354', '5016', '299')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('228', '226', '288', '4743', '380', '385', '319', '1605', '6122', '7571', '497', '7564', '1749', '248')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('274', '4513', '1278', '1419', '1490', '1481', '1359', '6056', '1425', '1468', '1424')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4130', '4129', '2113', '4199', '4421', '7574', '4416', '4320', '3136', '4420', '762', '760', '2013', '3133', '772', '3130', '7361', '2795', '406', '7453', '7188', '1476', '2017', '4128', '3204', '4170', '2007', '763', '4167', '845', '3139', '334', '759', '848', '847', '3131', '4571', '747', '4636', '2009', '842', '7353', '7362', '846')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2009', '2052', '7564', '760', '2008', '807', '4320', '7574', '5016', '334', '757', '2039', '2007', '761', '2083', '848', '747', '762', '406', '866', '763', '765', '1476', '3085', '3134', '767', '6000', '846', '759')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7149', '895', '3874', '1508', '3333', '3544', '7348', '313', '1285', '335', '319', '927', '6059', '264', '4387', '7226', '7181', '6089', '2657', '7', '2039', '5192', '4411', '288', '7231', '315', '1749', '2', '4616', '4982', '4957', '2622', '3802', '1022', '6317', '4392', '2575')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6171', '6039', '2294', '1816', '4747', '1012', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('66', '5147', '820', '60', '63', '59', '3')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1441', '4494', '4862', '1439')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3726', '3735', '748', '3732', '4619', '5114', '3033')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3135', '4168', '5092', '2009', '3133', '1479', '7574', '2010', '760', '3134')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2294', '6039', '1545', '1814', '1808', '7298', '4747', '4745', '1012', '7072', '1813', '796', '7026', '7340', '2961', '7382', '3221', '1827', '2', '4320', '2355', '2960', '57', '7025', '767', '1795', '59', '192', '1828', '2959', '7162', '60', '6317', '1842', '4862', '7379', '1881')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3503', '3493', '3497', '3502')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1225', '332', '1197', '303', '4382', '1198')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('715', '714', '713')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2948', '2825', '332', '303', '4392', '2954', '293', '7449', '895', '2955', '2950', '927', '2934', '2278', '2925', '2984', '2983', '288', '7574', '6071', '322')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1661', '1805', '767', '802', '1660', '1648', '4745', '60', '7333', '1445', '1911', '796', '2959', '328', '1649', '1444', '3333', '329', '7162', '315', '2', '1647', '845', '59')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3057', '3055', '3054', '3050', '3053')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1968', '4379', '1452', '7078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1884', '4903')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('756', '748', '755', '846', '7574', '2955', '336', '4320', '406', '747', '751', '767', '7382', '842', '749', '750', '7564', '334', '2039', '7057', '2795', '335', '2810', '6029', '754', '303')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1754', '1753', '1749', '1752', '1767', '1751', '1747')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6361', '7149', '7276', '895', '6363')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3910', '3905', '3892')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4231', '4230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3116', '7422', '7421')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3269
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('616', '6282', '2355', '4595', '7246', '2278', '2720', '667', '614', '2281', '668', '615', '7181', '1798', '248', '611', '666', '1738', '612', '1730', '1184', '6044', '5044', '313', '1190', '293', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7130', '5033', '1251', '1231', '5061', '253', '6078', '1233', '1012', '1235', '332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3095', '7667', '3093', '3091', '4830', '3049')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4280', '4226', '4277', '4225', '4238', '4656', '4132', '4239', '4290', '4244', '4216', '4273', '4237', '4168', '6317', '7365')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3669', '7347', '319', '277', '2492', '2975', '2039', '7390', '288', '6348', '7615', '406', '1749', '4843', '6280', '3885', '4957', '6317', '6044', '1646', '4', '6089', '3616', '4341', '3729', '4320', '298', '6122', '4715', '2971', '5079', '4387', '1359', '1352', '320', '4595', '5052', '7574', '326', '4168', '262', '449', '1339', '8', '292', '2212', '2278', '342', '1012', '281', '1290', '2959', '315')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2166', '2136', '4674', '4677', '7201', '4668', '2165', '1959', '7230')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('478', '2086', '7226', '477', '473', '4962', '7330', '332', '4594', '3222', '3084', '3081', '469', '7653', '3223')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1640', '230', '2975', '227', '226', '228', '3669', '1639', '4843', '1605', '288', '7347', '3885', '3699', '3802', '7615', '292', '229', '8', '7571')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7161', '328', '6110', '7047', '1814', '7156', '793', '7576', '1899', '1805', '1808', '7389', '782', '7588', '1807', '7025', '7167', '7160', '781', '784', '7038', '1660', '767', '4464', '779', '1649', '6109', '1661', '772')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4369', '4985', '6361', '7149', '7131', '895', '4479', '1359', '166', '6363', '6367', '4890', '332', '6317', '7', '4725', '319')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1580', '1579', '4364', '7072', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7128', '4407', '4601', '7231', '7391', '7390', '6289', '2241')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1670', '1666', '1649', '1479', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3600', '2355', '7571', '7569')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3899
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1468', '1376', '1490', '1467', '1375', '6057', '7665', '2184', '1424', '4400', '1989', '6056', '4421', '1465', '4513', '1496', '1455', '1466')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4395', '4393', '2039', '7324')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1207', '7189', '3616', '671')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1020', '877', '1019', '354', '2492', '6317', '301', '7579', '1614', '809', '1104', '6341', '395', '1285', '895', '332', '4563', '7289', '819', '1072', '7581', '4495', '6280', '1283', '1016')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2747', '2746')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7136', '7133', '288', '17', '5075')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4216', '7660', '4208')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 7180

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5106', '7360', '7324', '2039', '3283', '3309', '7372')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1890', '7025', '1899', '1889')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('759', '7574', '758', '807', '2039', '4320', '7622', '406', '819', '4725', '810', '334', '818', '1476', '1479', '776', '747', '264', '6059', '336', '4982', '2795', '6110', '927', '2', '2199', '4132', '315', '3135', '812', '845', '808', '4619', '4956', '760', '320', '814', '5090', '804', '848', '299', '763', '7453', '303', '786', '278', '806', '81', '4151', '811', '4307', '7353', '435', '846', '7588', '335', '907', '771', '354', '585', '772', '774', '2007', '7513', '5092', '813', '767', '773', '809', '7638', '6137', '2009', '847', '842', '757')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1439', '4494', '1279', '4862')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1122', '1121', '7581', '7579', '5190', '301')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('779', '6089', '7162', '767', '773', '7011', '748', '4953', '5114', '3890', '775', '7160', '4003', '3994')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1524', '1523', '1559', '2957', '6348', '4938', '4715', '319', '7132', '1549', '1558', '4411')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3370', '7563', '4607', '7012')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3356', '4495', '4494')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2145', '2143', '4320', '4379', '4665', '114', '7229', '4677')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1630', '3663', '4381', '816', '1173', '4957', '15', '3701', '7349', '6015', '788', '1172', '288', '6054', '1171', '4330', '1629', '3641', '941', '913', '1175', '220', '3636', '3691', '1626', '6010', '914', '277', '1628', '815', '7685')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1001', '1000', '7025', '999')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('210', '315', '7131', '270', '2975', '208', '7571', '209', '207', '2492', '4168', '288', '5052', '7162', '2810', '927')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('993', '1636', '1012', '303', '972', '7044', '992', '324', '7112', '1638', '332', '7025')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3274', '3255')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2983', '2955', '7447', '7449', '2948', '303', '2925', '2956', '7067', '2965')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3052', '3051', '3049')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3510
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2617', '2556', '2603', '2340', '5133', '2101', '302', '2420', '2611', '4446', '1934', '2095', '2616', '354', '2551', '398', '2315')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1076', '877', '1072', '1016', '3012', '1020', '7581', '264', '895', '7399')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1944', '1941', '1935', '354', '2957', '4715', '4521', '335', '261', '1938', '1943', '327', '1937', '52', '6235', '270', '7')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('763', '748', '313', '335', '4489', '315', '1713', '349', '1847', '751', '756', '7158', '755', '752', '749', '747', '1479', '754', '762', '753', '404', '1697', '4747', '1700', '1715', '767', '7048', '7388', '760', '1478', '1845', '750', '7159', '758')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1445', '1444', '6029', '786', '7391', '792', '326', '4616', '325', '7392', '2908', '7390', '400', '2718', '7588', '312', '4595')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1305', '1302', '2975', '6289', '1285', '1279')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7398', '7397', '3746', '6050', '3750', '748')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('628', '625')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1557', '324', '1552', '315', '332', '1556', '2492', '1551')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1674', '1658', '7340', '2961', '1806', '2959')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1303', '1330', '399', '2038', '4587', '6280', '1285')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('819', '324', '7226', '188', '332', '187', '7457')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2929
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3785
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4984', '7325', '5142', '7564', '5016')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2622', '2355', '2310')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3387', '3384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2661', '2660')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3215', '3241', '3205', '7639', '3213', '7642')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3241', '2040', '3206', '4983', '3204')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1322', '262', '1299', '1303')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4175', '2962', '4136', '4137', '4983', '2964', '6000', '3136', '7574', '4173', '4320')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4663', '4674', '261', '4521', '6234', '2166')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3707', '7348', '6033', '7623', '3078')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4650', '4230', '7461', '7462', '4236')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2861', '2038')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2675', '4795', '4341', '2200')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2465', '2492', '4307', '332', '6071', '6289', '2493', '5026', '7131', '319', '7025', '288', '2464', '767', '7569', '375', '264', '406')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2475', '2492', '4359', '332', '2496', '2474')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1784', '4384')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4093', '4091')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('46', '7347', '6234', '6235', '2166', '7229', '4432', '45', '41', '21', '2975', '288', '213', '6122', '7603', '325', '7230', '271', '1641', '234', '4957', '270', '449')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('541', '7569', '567', '535', '686')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1288', '6094', '1287', '188', '1279', '82', '49', '336', '191', '1284', '263', '1285', '51', '6184', '1286', '277', '1278', '2419')

Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5140', '675', '6251', '2279', '2355', '7514', '302', '4595', '4596', '4619', '666', '404', '618')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3641', '4381', '951', '7382', '2212', '1073', '3616', '3590', '949', '1184', '497')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1008', '1007')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1601
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1997', '1995', '1939', '6056', '6348', '4515', '274', '1490', '19', '6057', '1468', '1996', '6234', '2689', '7229', '1378', '2713', '2205', '332', '4795')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 3208
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4571', '4320', '435', '7353', '6000', '760', '7574', '3321', '2010', '807', '2038', '2039', '845')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('6341', '395', '7070', '2914', '1077')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3607', '3643')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2012', '4637', '2038', '2045', '2955', '7181', '5016', '2063', '7564')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3712', '7623', '3732', '3677', '3676', '4330', '7174', '807', '3692', '3678', '3679')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4486', '4332')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('2191', '315', '1450', '1451', '7078', '7387', '1445', '4003', '3890')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3120', '3119', '4956')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('5160', '730')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1637', '1634', '303', '1635', '1636', '1627', '2975', '3885', '332', '288', '4843', '3699', '324', '292', '7349', '7347', '1631', '4957')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('58', '276', '56', '7149', '796', '6348', '6071', '2212', '6004')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3569', '6077', '6076', '3793', '3799', '3802', '3798', '7174')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('1143', '6317', '7579', '7581', '6282')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('7490', '7189', '303', '299', '297', '298', '1233', '496', '332', '300', '1184', '2355', '1167', '324', '4982', '6317', '4593', '7568', '1072', '2382', '1244', '7577', '7199', '7582', '4595', '2380', '6041', '6282', '7181', '521', '3616', '248', '2311', '804', '3679', '7571', '672', '522', '1626', '319', '6044', '972', '1353', '2353', '675', '2825', '1285', '1490', '3580', '302', '4380', '1165', '626')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('407', '297', '2278', '345', '3802', '7576', '340', '4606', '7174', '7582', '7622', '4495', '1072', '332', '7578', '7577', '4528', '877', '2383', '4555', '2959', '7015')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 4010
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4779', '5016', '2038', '445')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3675', '7623', '7174', '3802', '1630')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3925', '1445', '6089', '7385', '7075', '346', '315', '4401')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2399
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('4986', '7072', '4992', '4979', '1827', '7124', '7126', '7343', '7026', '981', '7560', '7677', '4978')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('3783', '7174', '3676', '3802')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 1517
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID IN ('186', '895', '7149', '2492', '4392', '7131', '7347', '324', '4985', '7350', '7132', '115', '6366', '1280', '7277', '1285', '1555', '2453', '4788', '190', '7226', '191', '127', '201', '7390', '332', '3874', '197', '6228', '6273', '6219', '281', '7500', '2445', '176', '1533', '147', '7615', '263', '1357', '327')
Finished.
SELECT leavetimes.* FROM leavetimes WHERE leavetimes.PREVIOUS_STOPPOINTID = 2074
Finished.

In [ ]:
# Inbound 
for current_stopid in range(len(stopids_inbound)):
    # Making query to df and make df
    query_stopid = "SELECT leavetimes.*, weather.* FROM leavetimes, weather WHERE leavetimes.STOPPOINTID = " + stopids_inbound[current_stopid] + " AND leavetimes.DAYOFSERVICE = weather.dt"
    df = pd.read_sql(query_previoustop, conn)
    
    # Get all previous stopids in list
    query_previoustop = "SELECT leavetimes.PREVIOUS_STOPPOINTID FROM leavetimes WHERE leavetimes.STOPPOINTID = " + stopids_inbound[current_stopid] 
    query_prevstop_df = pd.read_sql(query_previoustop, conn)

    # Converting into a pandas series then to list
    query_prevstop_series = query_prevstop_df.iloc[0]
    query_prevstop_list = query_prevstop_series.tolist()
    
    # Append previous stops rows to main df
    to_add = df_prev_stops(query_prevstop_list)
    df = df.append(to_add)
    
    # Drop low correlated features and setting target feature
    df = df.drop(low_corr, 1)
    tf = df['ACTUALTIME_TRAVEL']
    df = df.drop('ACTUALTIME_TRAVEL', 1)
    df = pd.get_dummies(df)
    
    # Fitting model based on stops
    linear_reg_model = LinearRegression().fit(df, tf)
    
    # Save to pickle file
    with open('/UCD/ResearchPracticum/Data-Analytics-CityRoute/stop_models/stop_'+ stopids_outbound[current_stopid] +'.pkl', 'wb') as handle:
        pickle.dump(linear_reg_model, handle)

***