In [ ]:
# !pip3 install holidays

In [1]:
import pandas as pd
import holidays
import datetime

In [3]:
df = pd.read_csv('/home/faye/data/vehicles_2018_cleaned_dataset')

In [4]:
# Converting date columns to datetime
datetime_columns = ['DAYOFSERVICE', 'LASTUPDATE']
for column in datetime_columns:
    df[column] = pd.to_datetime(df[column])

In [5]:
# Getting the Irish holidays 
# https://towardsdatascience.com/5-minute-guide-to-detecting-holidays-in-python-c270f8479387
irish_holidays_2018 = []
for date in holidays.Ireland(years=2018).items():
    irish_holidays_2018.append(str(date[0]))

In [6]:
irish_holidays_2018

['2018-01-01',
 '2018-12-25',
 '2018-03-17',
 '2018-03-19',
 '2018-04-02',
 '2018-05-07',
 '2018-06-04',
 '2018-08-06',
 '2018-10-29',
 '2018-12-26']

In [35]:
df['Is_Holiday'] = [1 if str(val).split()[0] in irish_holidays_2018 else 0 for val in df['DAYOFSERVICE']]
df['Is_Weekday'] = [1 if int(val.weekday()) < 5 else 0 for val in df['DAYOFSERVICE']]

In [39]:
df.tail(60)

,DAYOFSERVICE,VEHICLEID,DISTANCE,MINUTES,LASTUPDATE,Is_Holiday,Is_Weekday
272562,2018-12-29,3265705,175605,0 days 11:39:10,2019-01-16 18:00:42,0,0
272563,2018-12-29,3265707,151209,0 days 07:20:37,2019-01-16 18:00:42,0,0
272564,2018-12-29,3265708,414128,0 days 19:14:35,2019-01-16 18:00:42,0,0
272565,2018-12-29,3265709,255788,0 days 12:58:36,2019-01-16 18:00:42,0,0
272566,2018-12-29,3265711,188117,0 days 12:02:11,2019-01-16 18:00:42,0,0
272567,2018-12-29,3265712,222613,0 days 14:04:17,2019-01-16 18:00:42,0,0
272568,2018-12-29,3265713,117685,0 days 08:15:11,2019-01-16 18:00:42,0,0
272569,2018-12-29,3265714,247389,0 days 17:28:36,2019-01-16 18:00:42,0,0
272570,2018-12-29,3265715,266555,0 days 14:51:06,2019-01-16 18:00:42,0,0
272571,2018-12-29,3265716,46096,0 days 03:37:57,2019-01-16 18:00:42,0,0
272572,2018-12-29,3265717,249394,0 days 18:31:47,2019-01-16 18:00:42,0,0
272573,2018-12-29,3265718,182338,0 days 17:07:00,2019-01-16 18:00:42,0,0
272574,2018-12-29,3265719,212923,0 days 16:11:30,2019-01-16 18:00:42,0,0
272575,2018-12-29,3265720,245776,0 days 14:21:28,2019-01-16 18:00:42,0,0
272576,2018-12-29,3265721,36763,0 days 02:49:59,2019-01-16 18:00:42,0,0
272577,2018-12-29,3265722,320946,0 days 16:05:06,2019-01-16 18:00:42,0,0
272578,2018-12-29,3265723,200487,0 days 12:51:12,2019-01-16 18:00:42,0,0
272579,2018-12-29,3303825,119676,0 days 07:41:29,2019-01-16 18:00:42,0,0
272580,2018-12-29,3303826,250730,0 days 16:28:29,2019-01-16 18:00:42,0,0
272581,2018-12-29,3303827,190716,0 days 16:09:42,2019-01-16 18:00:42,0,0
272582,2018-12-29,3303828,350077,0 days 18:12:11,2019-01-16 18:00:42,0,0
272583,2018-12-29,3303829,194958,0 days 08:21:07,2019-01-16 18:00:42,0,0
272584,2018-12-29,3303831,167920,0 days 13:05:32,2019-01-16 18:00:42,0,0
272585,2018-12-29,3303833,204894,0 days 11:38:44,2019-01-16 18:00:42,0,0
272586,2018-12-29,3303835,311178,0 days 17:57:54,2019-01-16 18:00:42,0,0
272587,2018-12-29,3303836,149561,0 days 11:14:57,2019-01-16 18:00:42,0,0
272588,2018-12-29,3303839,120139,0 days 12:40:52,2019-01-16 18:00:42,0,0
272589,2018-12-29,3303840,249944,0 days 09:33:45,2019-01-16 18:00:42,0,0
272590,2018-12-29,3303841,329514,0 days 17:24:35,2019-01-16 18:00:42,0,0
272591,2018-12-29,3303842,308974,0 days 17:51:55,2019-01-16 18:00:42,0,0
272592,2018-12-29,3303843,217587,0 days 14:03:02,2019-01-16 18:00:42,0,0
272593,2018-12-29,3303844,253839,0 days 17:38:28,2019-01-16 18:00:42,0,0
272594,2018-12-29,3303845,283623,0 days 13:07:41,2019-01-16 18:00:42,0,0
272595,2018-12-29,3303846,248876,0 days 10:30:46,2019-01-16 18:00:42,0,0
272596,2018-12-29,3303848,171668,0 days 12:50:15,2019-01-16 18:00:42,0,0
272597,2018-12-29,3303849,145278,0 days 09:23:12,2019-01-16 18:00:42,0,0
272598,2018-12-29,3370449,229843,0 days 17:18:23,2019-01-16 18:00:42,0,0
272599,2018-12-29,3370450,234226,0 days 16:50:47,2019-01-16 18:00:42,0,0
272600,2018-12-29,3370451,327181,0 days 17:18:31,2019-01-16 18:00:42,0,0
272601,2018-12-29,3370452,227325,0 days 17:08:13,2019-01-16 18:00:42,0,0
272602,2018-12-29,3370454,142062,0 days 08:25:42,2019-01-16 18:00:42,0,0
272603,2018-12-29,3370455,31465,0 days 01:26:28,2019-01-16 18:00:42,0,0
272604,2018-12-29,3370456,238797,0 days 17:07:42,2019-01-16 18:00:42,0,0
272605,2018-12-29,3370457,254252,0 days 12:39:08,2019-01-16 18:00:42,0,0
272606,2018-12-29,3370458,248036,0 days 18:02:19,2019-01-16 18:00:42,0,0
272607,2018-12-29,3370459,73808,0 days 04:04:52,2019-01-16 18:00:42,0,0
272608,2018-12-29,3393865,221771,0 days 13:45:52,2019-01-16 18:00:42,0,0
272609,2018-12-29,3393866,264889,0 days 11:02:26,2019-01-16 18:00:42,0,0
272610,2018-12-29,3393867,304978,0 days 17:26:07,2019-01-16 18:00:42,0,0
272611,2018-12-29,3393870,19269,0 days 00:10:25,2019-01-16 18:00:42,0,0
272612,2018-12-29,3393871,18770,0 days 00:09:56,2019-01-16 18:00:42,0,0
272613,2018-12-29,3393873,85857,0 days 04:41:24,2019-01-16 18:00:42,0,0
272614,2018-12-29,3393874,154631,0 days 12:13:12,2019-01-16 18:00:42,0,0
272615,2018-12-29,3393875,210361,0 days 13:44:30,2019-01-16 18:00:42,0,0
272616,2018-12-29,3393877,234756,0 days 16:49:18,2019-01-16 18:00:42,0,0
272617,2018-12-29,3393878,264237,0 days 17:18:40,2019-01-16 18:00:42,0,0
272618,2018-12-29,3394105,250335,0 days 14:30:54,2019-01-16 18:00:42,0,0
272619,2018-12-29,3394109,172539,0 days 12:19:09,2019-01-16 18:00:42,0,0
272620,2018-12-29,3394130,188057,0 days 10:49:08,2019-01-16 18:00:42,0,0
272621,2018-12-29,3394131,291697,0 days 17:41:17,2019-01-16 18:00:42,0,0