In [2]:
# !pip3 install holidays

In [3]:
import pandas as pd
import holidays
import datetime
import calendar

In [4]:
df = pd.read_csv('/home/faye/data/vehicles_2018_cleaned_dataset')

In [5]:
# Converting date columns to datetime
datetime_columns = ['DAYOFSERVICE', 'LASTUPDATE']
for column in datetime_columns:
    df[column] = pd.to_datetime(df[column])

In [6]:
# Getting the Irish holidays - including bank holidays
# https://towardsdatascience.com/5-minute-guide-to-detecting-holidays-in-python-c270f8479387
irish_holidays_2018 = []
for date in holidays.Ireland(years=2018).items():
    irish_holidays_2018.append(str(date[0]))

In [7]:
irish_holidays_2018

['2018-01-01',
 '2018-12-25',
 '2018-03-17',
 '2018-03-19',
 '2018-04-02',
 '2018-05-07',
 '2018-06-04',
 '2018-08-06',
 '2018-10-29',
 '2018-12-26']

In [8]:
df['Is_HOLIDAY'] = [1 if str(val).split()[0] in irish_holidays_2018 else 0 for val in df['DAYOFSERVICE']]
df['IS_WEEKDAY'] = [1 if int(val.weekday()) < 5 else 0 for val in df['DAYOFSERVICE']]
df['DAYOFWEEK'] = [calendar.day_name[val.weekday()] for val in df['DAYOFSERVICE']]
df['MONTHOFSERVICE'] = df['DAYOFSERVICE'].dt.strftime('%B')

In [9]:
df.tail(10)

,DAYOFSERVICE,VEHICLEID,DISTANCE,MINUTES,LASTUPDATE,Is_HOLIDAY,IS_WEEKDAY,DAYOFWEEK,MONTHOFSERVICE
272612,2018-12-29,3393871,18770,0 days 00:09:56,2019-01-16 18:00:42,0,0,Saturday,December
272613,2018-12-29,3393873,85857,0 days 04:41:24,2019-01-16 18:00:42,0,0,Saturday,December
272614,2018-12-29,3393874,154631,0 days 12:13:12,2019-01-16 18:00:42,0,0,Saturday,December
272615,2018-12-29,3393875,210361,0 days 13:44:30,2019-01-16 18:00:42,0,0,Saturday,December
272616,2018-12-29,3393877,234756,0 days 16:49:18,2019-01-16 18:00:42,0,0,Saturday,December
272617,2018-12-29,3393878,264237,0 days 17:18:40,2019-01-16 18:00:42,0,0,Saturday,December
272618,2018-12-29,3394105,250335,0 days 14:30:54,2019-01-16 18:00:42,0,0,Saturday,December
272619,2018-12-29,3394109,172539,0 days 12:19:09,2019-01-16 18:00:42,0,0,Saturday,December
272620,2018-12-29,3394130,188057,0 days 10:49:08,2019-01-16 18:00:42,0,0,Saturday,December
272621,2018-12-29,3394131,291697,0 days 17:41:17,2019-01-16 18:00:42,0,0,Saturday,December

### Calculating how long it took to get to the next stop
As we know, each tripid represents one trip at a certain point of the day. So what we need to do is take away the second stop from the first stop. **actualtime_arr from the second stop - actualtime_dep from the first stop**

* Load the leavetimes dataset
* Group the table by TRIPID
* Sort them by PROGRNUMBER
* for id_ in tripid:
    * for stopnum in progrnumber:
        * get actualtime_arr of the next PROGRNUMBER and minus from current actualtime_dep
        * add that answer to a list

In [10]:
leavetimes = pd.read_feather('/home/faye/data/leavetimes_cleaned_1.feather')

In [48]:
datetime_columns = ['DAYOFSERVICE', 'LASTUPDATE']
for column in datetime_columns:
    leavetimes[column] = pd.to_datetime(leavetimes[column])

In [11]:
leavetimes = leavetimes.sort_values(by='PROGRNUMBER')
grouped_leavetimes = leavetimes.groupby(by='TRIPID')

In [36]:
tripid = [[leavetimes['TRIPID'].unique()], [leavetimes['DAYOFSERVICE'].unique()]]

In [28]:
for id_ in leavetimes['TRIPID']:
    for id_2 in tripid:
        if id_ == id_2:
            print(leavetimes.loc[leavetimes['TRIPID']==id_])
            break

         DAYOFSERVICE          LASTUPDATE   TRIPID PROGRNUMBER STOPPOINTID  \
63548038   2018-07-16 2018-07-24 14:51:47  7177678           1        4606
65966591   2018-07-24 2018-08-16 18:56:29  7177678           1        4606
65659776   2018-07-23 2018-08-16 14:11:40  7177678           1        4606
66792235   2018-07-27 2018-08-17 03:39:00  7177678           1        4606
66685868   2018-07-26 2018-08-17 03:29:11  7177678           1        4606
...               ...                 ...      ...         ...         ...
66690561   2018-07-26 2018-08-17 03:29:11  7177678          51        2278
68761599   2018-07-17 2018-07-25 14:14:46  7177678          51        2278
64175180   2018-07-18 2018-07-27 22:42:56  7177678          51        2278
64584647   2018-07-19 2018-07-28 10:09:47  7177678          51        2278
64859246   2018-07-20 2018-08-02 16:04:37  7177678          51        2278

         VEHICLEID JUSTIFICATIONID  SUPPRESSED  PLANNEDTIME_ARR  \
63548038   1932308             NaN        <NA>            28800
65966591   1001223             NaN        <NA>            28800
65659776   1000748             NaN        <NA>            28800
66792235   1000498             NaN        <NA>            28800
66685868   1000748             NaN        <NA>            28800
...            ...             ...         ...              ...
66690561   1000748             NaN        <NA>            32755
68761599   1000744             NaN        <NA>            32755
64175180   1000939             NaN        <NA>            32755
64584647   1001101             NaN        <NA>            32755
64859246   1000498             NaN        <NA>            32755

          ACTUALTIME_ARR  PLANNEDTIME_DEP  ACTUALTIME_DEP
63548038           28808            28800           28808
65966591           28800            28800           28800
65659776           28811            28800           28811
66792235           28808            28800           28808
66685868           28820            28800           28820
...                  ...              ...             ...
66690561           33602            32755           33602
68761599           34501            32755           34501
64175180           33439            32755           33439
64584647           33377            32755           33377
64859246           33649            32755           33649

[508 rows x 12 columns]

In [53]:
v = leavetimes.loc[(leavetimes['TRIPID']==8089172) & (leavetimes['DAYOFSERVICE']=='2018-09-15 00:00:00')]
v['']

,DAYOFSERVICE,LASTUPDATE,TRIPID,PROGRNUMBER,STOPPOINTID,VEHICLEID,JUSTIFICATIONID,SUPPRESSED,PLANNEDTIME_ARR,ACTUALTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_DEP
87534874,2018-09-15,2018-11-02 11:43:16,8089172,1,7391,2406868,NaN,<NA>,38700,38729,38700,38729
87534875,2018-09-15,2018-11-02 11:43:16,8089172,2,493,2406868,NaN,<NA>,38798,38809,38798,38809
87534876,2018-09-15,2018-11-02 11:43:16,8089172,3,494,2406868,NaN,<NA>,38873,38931,38873,38931
87534877,2018-09-15,2018-11-02 11:43:16,8089172,4,495,2406868,NaN,<NA>,38964,39006,38964,39021
88729483,2018-09-15,2018-11-02 11:43:16,8089172,5,400,2406868,NaN,<NA>,39038,39056,39038,39056
87534878,2018-09-15,2018-11-02 11:43:16,8089172,6,346,2406868,NaN,<NA>,39091,39101,39091,39341
87534879,2018-09-15,2018-11-02 11:43:16,8089172,7,317,2406868,NaN,<NA>,39183,39387,39183,39537
87534880,2018-09-15,2018-11-02 11:43:16,8089172,8,312,2406868,NaN,<NA>,39378,39674,39378,39700
87534881,2018-09-15,2018-11-02 11:43:16,8089172,9,1444,2406868,NaN,<NA>,39462,39751,39462,39841
87534882,2018-09-15,2018-11-02 11:43:16,8089172,10,1445,2406868,NaN,<NA>,39514,39938,39514,39938
88695627,2018-09-15,2018-11-02 11:43:16,8089172,11,7078,2406868,NaN,<NA>,39725,40171,39725,40188
87534883,2018-09-15,2018-11-02 11:43:16,8089172,12,1449,2406868,NaN,<NA>,39777,40254,39777,40254
87534884,2018-09-15,2018-11-02 11:43:16,8089172,13,1450,2406868,NaN,<NA>,39806,40277,39806,40288
87534885,2018-09-15,2018-11-02 11:43:16,8089172,14,1451,2406868,NaN,<NA>,39831,40316,39831,40329
87534886,2018-09-15,2018-11-02 11:43:16,8089172,15,2191,2406868,NaN,<NA>,39892,40416,39892,40430
87534887,2018-09-15,2018-11-02 11:43:16,8089172,16,2192,2406868,NaN,<NA>,39921,40458,39921,40458
87534888,2018-09-15,2018-11-02 11:43:16,8089172,17,2193,2406868,NaN,<NA>,39957,40494,39957,40510
87534889,2018-09-15,2018-11-02 11:43:16,8089172,18,2194,2406868,NaN,<NA>,39980,40540,39980,40552
87534890,2018-09-15,2018-11-02 11:43:16,8089172,19,2195,2406868,NaN,<NA>,40022,40603,40022,40612
88695944,2018-09-15,2018-11-02 11:43:16,8089172,20,2196,2406868,NaN,<NA>,40063,40645,40063,40656
87534891,2018-09-15,2018-11-02 11:43:16,8089172,21,2197,2406868,NaN,<NA>,40115,40760,40115,40760
87534892,2018-09-15,2018-11-02 11:43:16,8089172,22,2198,2406868,NaN,<NA>,40171,40791,40171,40803
87534893,2018-09-15,2018-11-02 11:43:16,8089172,23,2200,2406868,NaN,<NA>,40200,40830,40200,40830
87534894,2018-09-15,2018-11-02 11:43:16,8089172,24,2201,2406868,NaN,<NA>,40323,40934,40323,40954
87531963,2018-09-15,2018-11-02 11:43:16,8089172,25,7239,2406868,NaN,<NA>,40354,40986,40354,40995
87534895,2018-09-15,2018-11-02 11:43:16,8089172,26,4401,2406868,NaN,<NA>,40376,41019,40376,41037
87534896,2018-09-15,2018-11-02 11:43:16,8089172,27,2213,2406868,NaN,<NA>,40493,41136,40493,41156
87534897,2018-09-15,2018-11-02 11:43:16,8089172,28,2214,2406868,NaN,<NA>,40544,41194,40544,41194
87534898,2018-09-15,2018-11-02 11:43:16,8089172,29,2215,2406868,NaN,<NA>,40590,41235,40590,41235
87531964,2018-09-15,2018-11-02 11:43:16,8089172,30,2216,2406868,NaN,<NA>,40621,41264,40621,41264
87534899,2018-09-15,2018-11-02 11:43:16,8089172,31,4599,2406868,NaN,<NA>,40691,41304,40691,41313
87534900,2018-09-15,2018-11-02 11:43:16,8089172,32,2217,2406868,NaN,<NA>,40736,41371,40736,41371
87534901,2018-09-15,2018-11-02 11:43:16,8089172,33,2218,2406868,NaN,<NA>,40772,41416,40772,41416
87534902,2018-09-15,2018-11-02 11:43:16,8089172,34,2219,2406868,NaN,<NA>,40803,41442,40803,41452
87531965,2018-09-15,2018-11-02 11:43:16,8089172,35,3365,2406868,NaN,<NA>,40823,41471,40823,41471
87534903,2018-09-15,2018-11-02 11:43:16,8089172,36,3366,2406868,NaN,<NA>,40847,41499,40847,41515
88712034,2018-09-15,2018-11-02 11:43:16,8089172,37,3367,2406868,NaN,<NA>,40915,41566,40915,41582
87534904,2018-09-15,2018-11-02 11:43:16,8089172,38,3886,2406868,NaN,<NA>,40979,41679,40979,41679
87534905,2018-09-15,2018-11-02 11:43:16,8089172,39,3887,2406868,NaN,<NA>,41015,41705,41015,41717
87531966,2018-09-15,2018-11-02 11:43:16,8089172,40,3888,2406868,NaN,<NA>,41044,41741,41044,41741
87534906,2018-09-15,2018-11-02 11:43:16,8089172,41,7186,2406868,NaN,<NA>,41105,41802,41105,41802
88699378,2018-09-15,2018-11-02 11:43:16,8089172,42,7187,2406868,NaN,<NA>,41116,41809,41116,41809
87534907,2018-09-15,2018-11-02 11:43:16,8089172,43,3954,2406868,NaN,<NA>,41211,41888,41211,41912
87534908,2018-09-15,2018-11-02 11:43:16,8089172,44,3955,2406868,NaN,<NA>,41231,41935,41231,41935
87531967,2018-09-15,2018-11-02 11:43:16,8089172,45,3956,2406868,NaN,<NA>,41252,41942,41252,41942
87534909,2018-09-15,2018-11-02 11:43:16,8089172,46,3957,2406868,NaN,<NA>,41304,41979,41304,42058
87534910,2018-09-15,2018-11-02 11:43:16,8089172,47,3958,2406868,NaN,<NA>,41349,42146,41349,42162
87534911,2018-09-15,2018-11-02 11:43:16,8089172,48,3959,2406868,NaN,<NA>,41404,42205,41404,42215
87534912,2018-09-15,2018-11-02 11:43:16,8089172,49,3960,2406868,NaN,<NA>,41440,42255,41440,42255
87531968,2018-09-15,2018-11-02 11:43:16,8089172,50,3961,2406868,NaN,<NA>,41472,42322,41472,42343
87534913,2018-09-15,2018-11-02 11:43:16,8089172,51,3962,2406868,NaN,<NA>,41525,42381,41525,42398
87534914,2018-09-15,2018-11-02 11:43:16,8089172,52,3963,2406868,NaN,<NA>,41559,42436,41559,42436
88712314,2018-09-15,2018-11-02 11:43:16,8089172,53,3964,2406868,NaN,<NA>,41601,42492,41601,42492
87534915,2018-09-15,2018-11-02 11:43:16,8089172,54,3965,2406868,NaN,<NA>,41636,42522,41636,42522
87531969,2018-09-15,2018-11-02 11:43:16,8089172,55,3968,2406868,NaN,<NA>,41758,42620,41758,42620
87534916,2018-09-15,2018-11-02 11:43:16,8089172,56,3966,2406868,NaN,<NA>,41927,42771,41927,42812
87534917,2018-09-15,2018-11-02 11:43:16,8089172,57,5113,2406868,NaN,<NA>,41992,42914,41992,42995
87534918,2018-09-15,2018-11-02 11:43:16,8089172,58,3918,2406868,NaN,<NA>,42154,43065,42154,43080
87534919,2018-09-15,2018-11-02 11:43:16,8089172,59,5114,2406868,NaN,<NA>,42273,43152,42273,43152

In [30]:
leavetimes.head(5)

,DAYOFSERVICE,LASTUPDATE,TRIPID,PROGRNUMBER,STOPPOINTID,VEHICLEID,JUSTIFICATIONID,SUPPRESSED,PLANNEDTIME_ARR,ACTUALTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_DEP
63548038,2018-07-16,2018-07-24 14:51:47,7177678,1,4606,1932308,NaN,<NA>,28800,28808,28800,28808
87534874,2018-09-15,2018-11-02 11:43:16,8089172,1,7391,2406868,NaN,<NA>,38700,38729,38700,38729
58526528,2018-06-12,2018-06-21 08:29:43,6873220,1,4381,1001119,NaN,<NA>,53400,53358,53400,53358
15215882,2018-02-13,2018-02-28 13:29:11,6247318,1,4843,1001238,NaN,<NA>,82800,82753,82800,82753
87534944,2018-09-15,2018-11-02 11:43:16,8091976,1,3980,2868318,NaN,<NA>,77700,77782,77700,77782