# Data Quality Preparation
In this section I will be cleaning and preparing the vehicles and trip tables for the prediction model. It will be divided into two parts as they will be cleaned and prepared seperately.

#### Introduction:

### Trip Dataset
Each row represents one trip(route)
#### Understanding the features:
* DATASOURCE: Unique Bus Operator Code
* DAYOFSERVICE: Day of service. One day of service could last more than 24 hours
* TRIPID: Unique Trip code
* LINEID: Unique Line code
* ROUTEID: Unique route code
* DIRECTION: Route direction: (2)IB = inbound / going / northbound / eastbound, (1)OB = outbound / back / southbound / westbound
* PLANNEDTIME_ARR: Planned arrival time of the trip, in seconds
* PLANNEDTIME_DEP: Planned departure time of the trip, in seconds
* ACTUALTIME_ARR: Actual arrival time of the trip, in seconds
* ACTUALTIME_DEP: Actual departure time of the trip, in seconds
* BASIN: basin code
* TENDERLOT: tender lot
* SUPPRESSED: The whole trip has been supressed (0 = achieved, 1 = suppressed)
* JUSTIFICATIONID: Fault code
* LASTUPDATE: Time of the last record update 
* NOTE: Free note

### Vehicles Dataset
Each record of this table represents the service of one vehicle for one day of service and tells about
the overall distance and time worked by the associated vehicle in that specific day.

#### Understanding the features:
* DATASOURCE: Unique Bus Operator Code
* DAYOFSERVICE: Day of service
* VEHICLEID: Unique vehicle code arriving at this stop point
* DISTANCE: Distance travelled by the vehicle in the corresponding day
* MINUTES: Time worked by the veihcle in the corresponding day
* LASTUPDATE: Time of the last record update
* NOTE: Free note

In [1]:
# Importing the modules that might be used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import dask.dataframe as dd
import sqlite3
from sqlalchemy import create_engine
from pprint import pprint

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
leave_times = pd.read_feather('/home/faye/data/leavetimes.feather')

In [3]:
# Loading in the data
trips = pd.read_csv('/home/faye/data/rt_trips_DB_2018.txt', sep=';',error_bad_lines=False)
vehicles = pd.read_csv('/home/faye/data/rt_vehicles_DB_2018.txt', sep=';',error_bad_lines=False)
# leave_times_db = create_engine('sqlite:///rt_leavetimes_DB_2018.db')
# con = sqlite3.connect('/home/faye/notebooks/rt_leavetimes_DB_2018.db')

leavetimes = pd.read_sql("select * from chunk_sql group by TRIPID order by max(PROGRNUMBER);", con)

## Trips 
*Exploring the data*
<br><br>

In [4]:
trips.head(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"
5,DB,07-FEB-18 00:00:00,6248240,77A,77A_28,2,41648,37200,42019.0,37538.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2966500,"
6,DB,07-FEB-18 00:00:00,6251760,39,39_21,2,34768,28920,35709.0,28929.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2422850,"
7,DB,07-FEB-18 00:00:00,6262909,16,16_20,1,43936,38880,43721.0,38955.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3045261,"
8,DB,07-FEB-18 00:00:00,6251147,40D,40D_102,1,33558,30600,34540.0,31185.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2837123,"
9,DB,07-FEB-18 00:00:00,6249435,27B,27B_34,2,52682,49800,53281.0,49974.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2329338,"
10,DB,07-FEB-18 00:00:00,6251483,142,142_9,2,44024,43200,44145.0,43187.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2343693,"
11,DB,07-FEB-18 00:00:00,6254310,83,83_22,2,63726,58500,64791.0,58562.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2962762,"
12,DB,07-FEB-18 00:00:00,6258441,14,14_15,1,59582,54900,59993.0,55030.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2517810,"
13,DB,07-FEB-18 00:00:00,6247622,130,130_10,1,50480,48900,50726.0,48866.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2742186,"
14,DB,07-FEB-18 00:00:00,6256532,15,15_16,1,39735,35400,40029.0,35427.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2984103,"
15,DB,07-FEB-18 00:00:00,6253924,46A,46A_74,1,65768,60960,66075.0,60926.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059400,"
16,DB,07-FEB-18 00:00:00,6256349,33,33_44,1,75342,70200,75994.0,70247.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2879393,"
17,DB,07-FEB-18 00:00:00,6259785,7,7_70,2,51603,47700,52818.0,47996.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2792936,"
18,DB,07-FEB-18 00:00:00,6246028,39A,39A_40,1,49276,44400,50038.0,44382.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2416632,"
19,DB,07-FEB-18 00:00:00,6261203,39A,39A_43,2,39535,34800,40249.0,34984.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2429602,"
20,DB,07-FEB-18 00:00:00,6262164,46A,46A_74,1,28877,24480,29657.0,24697.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059412,"
21,DB,07-FEB-18 00:00:00,6258154,49,49_28,2,79199,76800,NaN,76850.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3010723,"
22,DB,07-FEB-18 00:00:00,6253554,1,1_40,2,67645,63600,68803.0,63629.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2860774,"
23,DB,07-FEB-18 00:00:00,6246745,15,15_16,1,35708,30120,36589.0,30116.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2974941,"
24,DB,07-FEB-18 00:00:00,6246014,123,123_34,1,42848,39600,43203.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2968050,"
25,DB,07-FEB-18 00:00:00,6254029,83,83_22,2,43830,39600,43540.0,38663.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2962513,"
26,DB,07-FEB-18 00:00:00,6256059,41,41_7,2,24982,21600,24871.0,21573.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",1745602,"
27,DB,07-FEB-18 00:00:00,6257123,67X,67X_38,1,68537,62400,68039.0,62358.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2505176,"
28,DB,07-FEB-18 00:00:00,6259641,59,59_10,1,84864,84000,84890.0,84076.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2792060,"
29,DB,07-FEB-18 00:00:00,6245836,9,9_5,1,64573,59400,64689.0,59400.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3104100,"
30,DB,07-FEB-18 00:00:00,6252377,130,130_10,1,33603,32100,34695.0,32827.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2738809,"
31,DB,07-FEB-18 00:00:00,6254347,40,40_27,1,65745,59400,66373.0,59468.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2827826,"
32,DB,07-FEB-18 00:00:00,6251013,39A,39A_40,1,71287,66600,72534.0,66602.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2426544,"
33,DB,07-FEB-18 00:00:00,6260186,239,239_28,2,51141,48600,51931.0,48867.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2817821,"
34,DB,07-FEB-18 00:00:00,6253738,76,76_37,2,58000,55200,59381.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",1866216,"
35,DB,07-FEB-18 00:00:00,6247623,130,130_11,2,53001,51300,53007.0,51271.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2742188,"
36,DB,07-FEB-18 00:00:00,6260764,84,84_27,1,78393,74400,79456.0,74212.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2817781,2817781,"
37,DB,07-FEB-18 00:00:00,6261193,53,53_20,1,32015,30300,32474.0,30403.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3017015,"
38,DB,18-FEB-18 00:00:00,6268949,185,185_55,1,58751,57000,58834.0,56961.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817535,"
39,DB,18-FEB-18 00:00:00,6268951,185,185_55,1,63551,61800,64229.0,62013.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817537,"
40,DB,18-FEB-18 00:00:00,6268953,185,185_55,1,68351,66600,68536.0,66599.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817539,"
41,DB,18-FEB-18 00:00:00,6268387,16,16_20,1,37539,33600,37884.0,33710.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1893714,"
42,DB,18-FEB-18 00:00:00,6277453,16,16_20,1,35139,31200,35178.0,31224.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1893072,"
43,DB,18-FEB-18 00:00:00,6277810,16,16_20,1,36339,32400,36783.0,32587.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1899248,"
44,DB,18-FEB-18 00:00:00,6272110,41,41_3,1,63111,60000,63646.0,60262.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1725959,"
45,DB,18-FEB-18 00:00:00,6278258,41,41_3,1,58911,55800,59123.0,55821.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1718226,"
46,DB,18-FEB-18 00:00:00,6270605,41,41_3,1,67311,64200,67296.0,NaN,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1742993,"
47,DB,18-FEB-18 00:00:00,6279865,41,41_3,1,61911,58800,61749.0,58786.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1748498,"
48,DB,18-FEB-18 00:00:00,6275294,41,41_3,1,57411,54300,57660.0,54244.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1732239,"
49,DB,18-FEB-18 00:00:00,6274325,41,41_3,1,64611,61500,NaN,61517.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1745874,"

In [5]:
trips.tail(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
2182587,DB,14-MAY-18 00:00:00,6759988,13,13_60,1,36878,30600,37027.0,30675.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2585326,"
2182588,DB,14-MAY-18 00:00:00,6760080,140,140_19,1,65691,61800,65742.0,61903.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3107607,"
2182589,DB,14-MAY-18 00:00:00,6760086,111,111_8,2,47924,45000,47856.0,45022.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2799029,"
2182590,DB,14-MAY-18 00:00:00,6760100,123,123_34,1,37796,34080,38199.0,34015.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3224378,"
2182591,DB,14-MAY-18 00:00:00,6760154,76,76_37,2,32300,29400,32323.0,29403.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1866120,"
2182592,DB,14-MAY-18 00:00:00,6763776,33,33_72,2,44067,38700,44405.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2887911,"
2182593,DB,14-MAY-18 00:00:00,6763777,33,33_45,1,50207,45000,50026.0,44986.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2887912,"
2182594,DB,14-MAY-18 00:00:00,6763797,84,84_31,2,45325,40200,45657.0,40330.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2817661,"
2182595,DB,14-MAY-18 00:00:00,6763806,151,151_15,1,28267,24600,28932.0,24609.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2602899,"
2182596,DB,14-MAY-18 00:00:00,6763831,151,151_16,1,72032,68400,71940.0,68426.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2604009,"
2182597,DB,14-MAY-18 00:00:00,6763881,17A,17A_17,2,77322,73800,77364.0,73904.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3056911,"
2182598,DB,14-MAY-18 00:00:00,6757370,67,67_6,2,55074,51120,55335.0,51199.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2309695,"
2182599,DB,14-MAY-18 00:00:00,6757400,47,47_139,1,34234,30600,34373.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3064142,"
2182600,DB,14-MAY-18 00:00:00,6757403,47,47_135,2,48956,45900,NaN,45868.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3064149,"
2182601,DB,14-MAY-18 00:00:00,6757455,161,161_51,2,60000,58200,60794.0,60043.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2516559,"
2182602,DB,14-MAY-18 00:00:00,6757468,33,33_44,1,85615,81000,85451.0,80978.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2881017,"
2182603,DB,14-MAY-18 00:00:00,6757509,27A,27A_4,1,27630,26100,27565.0,26088.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2332362,"
2182604,DB,14-MAY-18 00:00:00,6757514,27A,27A_5,2,41275,39300,41137.0,39259.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3021208,"
2182605,DB,14-MAY-18 00:00:00,6757515,27A,27A_4,1,43981,42300,44179.0,42300.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2332374,"
2182606,DB,14-MAY-18 00:00:00,6762371,130,130_11,2,48237,46500,48766.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2742184,"
2182607,DB,14-MAY-18 00:00:00,6762374,130,130_10,1,55595,53700,NaN,53695.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2742190,"
2182608,DB,14-MAY-18 00:00:00,6762495,25A,25A_270,2,70937,68100,71080.0,68087.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2292191,"
2182609,DB,14-MAY-18 00:00:00,6762520,45A,45A_60,1,44183,40800,44295.0,40990.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2449013,"
2182610,DB,14-MAY-18 00:00:00,6763184,53,53_20,1,66256,64800,66325.0,64757.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3025380,"
2182611,DB,14-MAY-18 00:00:00,6762805,140,140_21,2,65822,61800,67231.0,61783.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3111750,"
2182612,DB,14-MAY-18 00:00:00,6762895,27,27_19,1,83840,79200,83564.0,79150.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2968125,"
2182613,DB,14-MAY-18 00:00:00,6762930,9,9_7,2,60607,55800,60623.0,55779.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3092129,"
2182614,DB,14-MAY-18 00:00:00,6762969,18,18_3,1,72779,69900,73095.0,69892.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1741522,"
2182615,DB,14-MAY-18 00:00:00,6764976,7A,7A_87,2,60689,55800,60680.0,55810.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2803284,"
2182616,DB,14-MAY-18 00:00:00,6765053,54A,54A_12,2,51043,47700,51366.0,47694.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1731919,"
2182617,DB,14-MAY-18 00:00:00,6765067,26,26_24,1,65698,63420,66598.0,63353.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1752362,"
2182618,DB,14-MAY-18 00:00:00,6765072,56A,56A_31,1,33975,30600,34936.0,31335.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1724120,"
2182619,DB,14-MAY-18 00:00:00,6765081,56A,56A_30,2,74271,71100,73770.0,71114.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1724145,"
2182620,DB,14-MAY-18 00:00:00,6765101,79A,79A_28,2,85324,83700,85545.0,83703.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1731822,"
2182621,DB,14-MAY-18 00:00:00,6756423,40D,40D_102,1,30793,27900,30847.0,27898.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1734083,"
2182622,DB,14-MAY-18 00:00:00,6756429,40D,40D_102,1,66268,63000,66445.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2837991,"
2182623,DB,14-MAY-18 00:00:00,6767663,40D,40D_104,2,44194,41400,44430.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2826305,"
2182624,DB,14-MAY-18 00:00:00,6754588,41,41_7,2,26013,22500,25537.0,22489.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1738124,"
2182625,DB,14-MAY-18 00:00:00,6757965,151,151_15,1,29917,25800,29576.0,25846.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2595624,"
2182626,DB,14-MAY-18 00:00:00,6758027,145,145_105,2,38939,33600,40052.0,33573.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2421976,"
2182627,DB,14-MAY-18 00:00:00,6765635,130,130_11,2,49437,47700,49634.0,47710.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2739056,"
2182628,DB,14-MAY-18 00:00:00,6765649,130,130_11,2,83843,82500,83809.0,82525.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2739084,"
2182629,DB,14-MAY-18 00:00:00,6765652,53,53_21,2,30626,29100,30482.0,29119.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024762,"
2182630,DB,14-MAY-18 00:00:00,6765662,53,53_21,2,65950,64800,66270.0,64815.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024821,"
2182631,DB,14-MAY-18 00:00:00,6765828,45A,45A_68,1,28647,25800,28688.0,25858.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2448734,"
2182632,DB,14-MAY-18 00:00:00,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,"
2182633,DB,14-MAY-18 00:00:00,6765469,75,75_17,1,53416,48600,NaN,48823.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2865284,"
2182634,DB,14-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,"
2182635,DB,14-MAY-18 00:00:00,6764987,70,70_60,1,65277,60600,66341.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3208841,"
2182636,DB,14-MAY-18 00:00:00,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,"

In [6]:
# Columns and rows
trips.shape

(2182637, 16)

In [7]:
trips.dtypes

DATASOURCE          object
DAYOFSERVICE        object
TRIPID               int64
LINEID              object
ROUTEID             object
DIRECTION            int64
PLANNEDTIME_ARR      int64
PLANNEDTIME_DEP      int64
ACTUALTIME_ARR     float64
ACTUALTIME_DEP     float64
BASIN               object
TENDERLOT          float64
SUPPRESSED         float64
JUSTIFICATIONID    float64
LASTUPDATE          object
NOTE                object
dtype: object

In [8]:
trips.isnull().sum()

DATASOURCE               0
DAYOFSERVICE             0
TRIPID                   0
LINEID                   0
ROUTEID                  0
DIRECTION                0
PLANNEDTIME_ARR          0
PLANNEDTIME_DEP          0
ACTUALTIME_ARR      137207
ACTUALTIME_DEP      164551
BASIN                    0
TENDERLOT          2182637
SUPPRESSED         2178304
JUSTIFICATIONID    2178307
LASTUPDATE               0
NOTE                     0
dtype: int64

In [9]:
trips.nunique()

DATASOURCE              1
DAYOFSERVICE          360
TRIPID             658964
LINEID                130
ROUTEID               588
DIRECTION               2
PLANNEDTIME_ARR     64461
PLANNEDTIME_DEP       791
ACTUALTIME_ARR      68122
ACTUALTIME_DEP      66771
BASIN                   1
TENDERLOT               0
SUPPRESSED              1
JUSTIFICATIONID      3526
LASTUPDATE            360
NOTE                46690
dtype: int64

In [10]:
# trips_columns = list(trips.columns.values)

In [11]:
# Seperating features
categorical_columns = ['DATASOURCE','TRIPID','LINEID','ROUTEID','DIRECTION','BASIN','TENDERLOT','JUSTIFICATIONID','NOTE','SUPPRESSED']
time_columns = ['PLANNEDTIME_ARR','PLANNEDTIME_DEP','ACTUALTIME_ARR','ACTUALTIME_DEP']
datetime = ['DAYOFSERVICE','LASTUPDATE']

# Converting seconds into times and into datetime series
import datetime
for row in trips['PLANNEDTIME_ARR']:
    trips['PLANNEDTIME_ARR'] = trips['PLANNEDTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['PLANNEDTIME_DEP']:
    trips['PLANNEDTIME_DEP'] = trips['PLANNEDTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_ARR']:
    trips['ACTUALTIME_ARR'] = trips['ACTUALTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_DEP']:
    trips['ACTUALTIME_DEP'] = trips['ACTUALTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))

In [12]:
# Converting objects into categorical types
for column in categorical_columns:
    trips[column] = trips[column].astype('category')

# Converting objects into datetime series
for column2 in datetime:
    trips[column2] = pd.to_datetime(trips[column2])

In [13]:
trips.dtypes

DATASOURCE               category
DAYOFSERVICE       datetime64[ns]
TRIPID                   category
LINEID                   category
ROUTEID                  category
DIRECTION                category
PLANNEDTIME_ARR             int64
PLANNEDTIME_DEP             int64
ACTUALTIME_ARR            float64
ACTUALTIME_DEP            float64
BASIN                    category
TENDERLOT                category
SUPPRESSED               category
JUSTIFICATIONID          category
LASTUPDATE         datetime64[ns]
NOTE                     category
dtype: object

In [ ]:
# Converting the time columns seconds into times. The days part should be ignored.
for column3 in time_columns:
    trips[column3] = trips[column3].apply(pd.to_timedelta, unit='s')
    trips[column3] = trips[column3]- pd.to_timedelta(trips[column3].dt.days, unit='d')

In [ ]:
trips.head(10)

In [ ]:
trips_sorted = trips.sort_values(by='TRIPID')
trips_sorted.head(50)

In [ ]:
trip77a = trips_sorted.loc[trips_sorted['LINEID']=='77A']
trip77a = trip77a.loc[trips_sorted['DAYOFSERVICE']=='2018-01-03']
trip77a = trip77a.sort_values(by='PLANNEDTIME_ARR')
trip77a.head(50)

## Note about this specific route
In this route, we took the route 77a from a date (January 3, 2018) and sorted it by PLANNEDTIME_ARR. It has a total of 101 rows. The first few values of PLANNEDTIME_ARR, these may be the last few trips that ran that day and it was just sorted as the top? In any case, We see that they provide data for each route for one day with all of the times. It is a matter of matching it with the leavetimes dataset then. This will be explored at the very end.

## Duplicates
Exploring if the trips dataset has any duplicates. There shouldn't be duplicates for any reason. The trips only siginify one route.

We see there aren't any duplicates so this is a good sign for the data.

In [ ]:
duplicates = trips[trips.duplicated(keep=False)]
print("Number of rows that are duplicates: ", duplicates.shape[0])

## Checking descriptive columns

In [ ]:
trips[datetime].describe(datetime_is_numeric=True).T

In [ ]:
trips[time_columns].describe().T

In [ ]:
trips[categorical_columns].describe().T

We see there a couple of features that have <= 1 cardinalities:
* DATASOURCE has 1 unique value.
* TRIPID has more than 600k unique values.
* LINEID has 130 unique values.
* ROUTEID has 588 unique values.
* DIRECTION has 2 unique values.
* BASIN has 1 unique values.
* TENDERLOT has no unique values meaning that it is just null.
* JUSTIFICATIONID has 4330 unique values.
* NOTE has more than 46k unique values.
* SUPPRESSED has 4333 unique values.

**RESULT :** As we can see, DATASOURCE, BASIN, TENDERLOT and SUPPRESSED has 1 or 0 unique values. This means the same value is consistent throughout the dataset. Therefore, these will be dropped.

## Logical Integrity Tests

List of integrity tests to be performed:
* Make sure LASTUPDATE dates doesn't occur before DAYSERVICE

#### TEST 1: Ensure LASTUPDATE doesn't occur before DAYOFSERVICE

In [ ]:
test1 = trips[trips['DAYOFSERVICE'] > trips['LASTUPDATE']]
print("The number of rows that have dates that occur before DAYOFSERVICE from LASTUPDATES is: ", test1.shape[0])

#### TEST 2: Ensure timetables match the specific route with PLANNEDTIME_DEP
This is to check that the timetables match with all of the routes. We take a look at PLANNEDTIME_DEP to check this.

In [ ]:
# Need to get a list of all of the routes and their timetables, then compare it with the routes 
# and their planned departure times

# Make a dataframe with just LINEID and PLANNEDTIME_DEP and make a list of all of the routes, order them
data = {'LINEID': trips['LINEID'], 'PLANNEDTIME_DEP': trips['PLANNEDTIME_DEP']}
line_dep = pd.DataFrame(data)
list_routes = list(line_dep.LINEID.unique())
list_routes = sorted(list_routes)

In [ ]:
trips_gtfs = pd.read_csv('/home/faye/Data-Analytics-CityRoute/Dublin_Bus_GTFS/17-07-2021/stop_times.txt', sep=',',error_bad_lines=False)

In [ ]:
trips_gtfs.head(20)

### Process to get the times:
* Got all of the stop_sequence rows
* Reseted the index (did not need to because my previous plan was scraped)
* Made three lists: service, route, and direction. Service was to indicate if it's weekday,weekend (see calendar.txt for more info), route indicates which route number, direction is for inbound and outbound (I/O)
* looped through the trips_id
    * split the column value by .
    * split the 2nd value by -
    * added first value to service
    * added first value of the 2nd value split to route
    * added fourth value to direction
    
**Extra info:**
* I parsed this from the 2021 dataset. Now, some route_id won't match with the 2018 data because there are routes that are called H3 that used to be old routes. They just changed the name. I was told it was changed because the new company that owns Dublin Bus now wants to change the system again but it was halted for reasons. So for example H3 used to be 29A (I think).

In [ ]:
# Store the stop_sequence = 1 first
trips_1 = trips_gtfs.loc[trips_gtfs['stop_sequence']==1]

In [ ]:
# Resetting the index for this new dataframe
trips_1 = trips_1.reset_index(drop=True)

In [ ]:
trips_1.head(5)

In [ ]:
# Making a list for calendar, route number, inbound/outbound
serviceid = []
routeid = []
direction = []

for value in trips_1.trip_id:
    id_ = value.split(".")
    id_2 = id_[2].split("-")
    serviceid += [id_[1]]
    routeid += [id_2[1]]
    direction += [id_[4]]

In [ ]:
trips_1['service_id'] = np.array(serviceid)
trips_1['route_id'] = np.array(routeid)
trips_1['direction'] = np.array(direction)

In [ ]:
trips_2 = trips_1
# trips_duplicate = trips_2[trips_2.duplicated(keep=False)]

In [ ]:
trips_2 = pd.DataFrame({'departure_time': trips_2['departure_time'], 'service_id': trips_2['service_id'], 
                       'route_id': trips_2['route_id'], 'stop_headsign': trips_2['stop_headsign'], 
                       'direction': trips_2['direction']})

In [ ]:
trips_2[trips_2.duplicated(keep=False)]
trips_2 = trips_2.drop_duplicates()

In [ ]:
trips_2

In [ ]:
trips_2.loc[trips_2['route_id']=='H1'].head(50)

<br><br>
I decided against going through this local integrity test. Because there are new replacements for some of the routes, we won't be able to match them side by side. After looking at this website: https://www.transportforireland.ie/h-spine/ , it's become apparent that the departure times will be different. I will, however replace H1 > 29A, H2> 32. H3 > 31/31A. They changed the timetables so it wouldn't be possible to perform this test. It also looks like H9 is a completely new route. 

I will save the new dataset for anyone who wants to use it. This will be done in the data quality plan. 
<br><br>

## Vehicles
*Exploring the data*
<br><br>

In [ ]:
vehicles.head(10)

In [ ]:
vehicles.tail(10)

In [ ]:
vehicles.shape

In [ ]:
vehicles.dtypes

In [ ]:
vehicles.isnull().sum()

In [ ]:
vehicles.nunique()

In [ ]:
# Creating columns for different datatypes
categorical_column = ['DATASOURCE', 'VEHICLEID']
time_columns = ['MINUTES']
numerical_columns = ['DISTANCE']
datetime_columns = ['DAYOFSERVICE', 'LASTUPDATE']

In [ ]:
# Converting objects into categorical types
for column in categorical_column:
    vehicles[column] = vehicles[column].astype('category')

# Converting objects into datetime series
for column2 in datetime_columns:
    vehicles[column2] = pd.to_datetime(vehicles[column2])

# Converting the time columns seconds into times. The days part should be ignored.
for column3 in time_columns:
    vehicles[column3] = vehicles[column3].apply(pd.to_timedelta, unit='s')
    vehicles[column3] = vehicles[column3]- pd.to_timedelta(vehicles[column3].dt.days, unit='d')

In [ ]:
vehicles.head(10)

In [ ]:
vehicles.dtypes

## Duplicates
Exploring if the trips dataset has any duplicates. There shouldn't be duplicates for any reason. The trips only siginify one route.

Again, there are no duplicates in this vehicles dataset.

In [ ]:
duplicates = vehicles[vehicles.duplicated(keep=False)]
print("Number of rows that are duplicates: ", duplicates.shape[0])

## Checking descriptive columns

In [ ]:
vehicles[datetime].describe(datetime_is_numeric=True).T

In [ ]:
vehicles[categorical_column].describe().T

In [ ]:
vehicles[time_columns].describe().T

In [ ]:
vehicles[numerical_columns].describe().T

We see there a couple of features that have <= 1 cardinalities:
* DATASOURCE has 1 unique value.
* NOTE has 0 unique values and we see that 100% of the feature's values is missing.

**RESULT :** These two features will be investigated further. However, they will be dropped as constant features do no good for the targeted feature. NOTE has no unique values and has 100% missing values so this will most likely be dropped.

## Logical Integrity Tests

List of integrity tests to be performed:
* Make sure LASTUPDATE dates doesn't occur before DAYSERVICE
* Ensure that the dates match with the missing dates from the trips table

**Test 1: Ensuring LASTUPDATE dates doesn't occur before DAYOFSERVICE.**

As we can see, there are no dates that occur before DAYOFSERVICE meaning it is a good indication and there are no alterations to be done.

In [ ]:
test1 = vehicles[vehicles['DAYOFSERVICE'] > vehicles['LASTUPDATE']]
print("The number of rows that have dates that occur before DAYOFSERVICE from LASTUPDATES is: ", test1.shape[0])

**Test 2: Ensure that the dates match with the missing dates from the trips table.** 

As we can see, the dates that are missing from the vehicles table match with the missing dates from the trips table. This is a good sign. Therefore, no further actions are to be done.

In [ ]:
daysofservice_vec = vehicles['DAYOFSERVICE']
daysofservice_vec = daysofservice_vec.sort_values()
pd.date_range(start = '2018-01-01', end = '2018-12-31' ).difference(daysofservice_vec)

In [ ]:
pd.date_range(start = '2018-01-01', end = '2018-12-31' ).difference(daysofservice)

In [ ]:
vehicles['DISTANCE'].sum()

Interesting observation here. I'm not sure if talked about before but it's intersting to see the total distance is so high. The documentation states that it either represents km/miles but the number is too high when added together. But if you treat the total sum as metres then convert it to km then it will be around 48 million km which is close to the 2019 data Brian mentioned in the presentation. Worth discussing over I feel.

# Data Quality Report 

### Trips

**Feature  - &emsp;Issue &emsp; - Solution**
<br>
* DATASOURCE - constant column - remove feature
<br>
* DAYOFSERVICE - 5 days from 365 days - investigate if the missing 5 days are holidays
<br>
* TRIPID -  None detected - no action needed
<br>
* LINEID - None detected - no action needed
<br>
* ROUTEID - None detected - no action needed
<br>
* DIRECTION - None detected - no action needed
<br>
* PLANNEDTIME_DEP - None detected - no action needed
<br>
* PLANNEDTIME_ARR - None detected - no action needed
<br>
* ACTUALTIME_DEP - 6% missing values - investigate and find average and impute
<br>
* ACTUALTIME_ARR - 7% missing values - investigate and find average and impute
<br>
* BASIN - constant column - remove feature
<br>
* TENDERLOT - 100% missing values - investigate and remove feature
<br>
* SUPPRESSED - 99% missing values - investigate and remove feature
<br>
* JUSTIFICATIONID - 99% missing values - investigate and remove feature
<br>
* LASTUPDATE - None detected - no action needed
<br>
* NOTE - None detected - investigate
<br>
* Trips from GTFS feed - nonexisting routes on old timetable - insert new features and finalize dataset
<br>

# Data Quality Plan 

### Trips

**DATASOURCE:** The feature only has one unique value which is DB. Since we know that the source is constant throughout, we will remove this feature from the dataframe.

In [ ]:
trips.pop('DATASOURCE')

In [ ]:
trips.head(5)

**DAYOFSERVICE:** We see that there are 5 days that aren't accounted for. Let us see what dates that weren't included. 

The dates that were not included:
* March 1 2018
* March 2 2018
* December 9 2018
* December 10 2018
* December 25 2018

This just means that there were no trips planned for this day. Will it affect the prediction model? Probably not.

In [ ]:
daysofservice = trips['DAYOFSERVICE']
daysofservice = daysofservice.sort_values()

In [ ]:
#daysofservice.unique()

In [ ]:
pd.date_range(start = '2018-01-01', end = '2018-12-31' ).difference(daysofservice)

**ACTUALTIME_DEP:** We will investigate the 6% values missing. First, we will make a dataframe that only have the rows that have ACTUALTIME_DEP missing.

It is important that these missing values are dealt with. In order to do that, leavetimes table will be loaded. I'm going to try and load an SQL query. The query is: "For every TRIPID, load the maximum PROGRNUMBER and return the rows"

We see here at the first 60 rows it is unusual that we only see PROGRNUMBER. It looks as if might be a mistake. However after investigating there are some trips that only had one stop and there were no further records. 

Then, we will make a seperate dataframe that will only have rows of the tripid's from leavetimes table. Then, replace trips' actualtime_dep with leavetimes' actualtime_dep. The dataframe should match

In [ ]:
actual_dep = trips[trips['ACTUALTIME_DEP'].isna()]
tripday = [[day for day in actual_dep.DAYOFSERVICE], [id_ for id_ in actual_dep.TRIPID]]

In [ ]:
# Converting to timedelta
leavetimes['PLANNEDTIME_ARR'] = leavetimes['PLANNEDTIME_ARR'].apply(pd.to_timedelta, unit='s')
leavetimes['PLANNEDTIME_ARR'] = leavetimes['PLANNEDTIME_ARR']- pd.to_timedelta(leavetimes['PLANNEDTIME_ARR'].dt.days, unit='d')
leavetimes['PLANNEDTIME_DEP'] = leavetimes['PLANNEDTIME_DEP'].apply(pd.to_timedelta, unit='s')
leavetimes['PLANNEDTIME_DEP'] = leavetimes['PLANNEDTIME_DEP']- pd.to_timedelta(leavetimes['PLANNEDTIME_DEP'].dt.days, unit='d')
leavetimes['ACTUALTIME_DEP'] = leavetimes['ACTUALTIME_DEP'].apply(pd.to_timedelta, unit='s')
leavetimes['ACTUALTIME_DEP'] = leavetimes['ACTUALTIME_DEP']- pd.to_timedelta(leavetimes['ACTUALTIME_DEP'].dt.days, unit='d')

In [ ]:
leavetimes.shape

In [ ]:
# Making an empty dataframe
leavetrips = pd.DataFrame()
# df.append(leavetimes[leavetimes['TRIPID'].isin(tripday[1])])

In [ ]:
leave_times = leave_times[(leave_times['TRIPID'].isin(tripday[1]))]
leave_times = leave_times.sort_values(by='PROGRNUMBER')
leave = leave_times.groupby(['TRIPID'])
leave = leave.tail(1)
leavetrips.append(leave)

In [ ]:
actual_dep = actual_dep.sort_values(by='TRIPID')
leavetrips = leavetrips.sort_values(by='TRIPID')

In [ ]:
actual_dep.head(5)

for val in range(len(tripday[0])):
    row = leavetimes.loc[(leavetimes['DAYOFSERVICE']==tripday[0][val]) & (leavetimes['TRIPID']==tripday[1][val])].sort_values(by='PROGRNUMBER').iloc[[-1]]
    df = df.append(row)

leavetimes.loc[(leavetimes['DAYOFSERVICE']==tripday[0][0]) & (leavetimes['TRIPID']==tripday[1][0])].sort_values(by='PROGRNUMBER').iloc[[-1]]

**ACTUALTIME_ARR - TO DO**

**BASIN:** This was considered a constant column and so this feature will be dropped. After investigating it from data understanding, having a constant column would not affect the prediction model as it only has one value throughout. Therefore, it will be dropped.

In [ ]:
trips.pop('BASIN')

In [ ]:
trips.head(1)

**TENDERLOT:** Since 100% of TENDERLOT values are missing it will most likely be dropped. From the documentation, trying to relate tender lot to business terms. This may refer to whether or not the trip is paid for a service. Makes sense that it's hidden for privacy if this is the case. It doesn't relate much to the project.

In [ ]:
trips.pop('TENDERLOT')
trips.head(1)

**SUPPRESSED:** 99% of SUPPRESSED values are missing. It doesn't look like it gives any meaningful data. Not sure why it has to be suppressed. From the documentation, it looks like the NaN values just means it's partially suppressed which may explain TENDERLOT feature being 100% missing because of personal information. Like TENDERLOT, it doesn't relate much to the project and so, it will be dropped

In [ ]:
trips.pop('SUPPRESSED')
trips.head(1)

**JUSTIFICATIONID:** From the documentation, it looks as if the JUSTIFICATIONID is a primary key that is used to link to another table that we are not given, that represents some kind of fault code. Since the majority of the value is missing, the relevancy of the feature is probably not needed for the model.

In [ ]:
trips.pop('JUSTIFICATIONID')
trips.head(1)

**NOTE:** I will investigate the meaning of the numbers

In [ ]:
trips.dtypes

In [ ]:
# Convert NOTE to type int64
trips['NOTE'].nunique()