# Data Quality Preparation
In this section I will be cleaning and preparing the vehicles and trip tables for the prediction model. It will be divided into two parts as they will be cleaned and prepared seperately.

#### Introduction:

### Trip Dataset
Each row represents one trip(route)
#### Understanding the features:
* DATASOURCE: Unique Bus Operator Code
* DAYOFSERVICE: Day of service. One day of service could last more than 24 hours
* TRIPID: Unique Trip code
* LINEID: Unique Line code
* ROUTEID: Unique route code
* DIRECTION: Route direction: (2)IB = inbound / going / northbound / eastbound, (1)OB = outbound / back / southbound / westbound
* PLANNEDTIME_ARR: Planned arrival time of the trip, in seconds
* PLANNEDTIME_DEP: Planned departure time of the trip, in seconds
* ACTUALTIME_ARR: Actual arrival time of the trip, in seconds
* ACTUALTIME_DEP: Actual departure time of the trip, in seconds
* BASIN: basin code
* TENDERLOT: tender lot
* SUPPRESSED: The whole trip has been supressed (0 = achieved, 1 = suppressed)
* JUSTIFICATIONID: Fault code
* LASTUPDATE: Time of the last record update 
* NOTE: Free note

### Vehicles Dataset
Each record of this table represents the service of one vehicle for one day of service and tells about
the overall distance and time worked by the associated vehicle in that specific day.

#### Understanding the features:
* DATASOURCE: Unique Bus Operator Code
* DAYOFSERVICE: Day of service
* VEHICLEID: Unique vehicle code arriving at this stop point
* DISTANCE: Distance travelled by the vehicle in the corresponding day
* MINUTES: Time worked by the veihcle in the corresponding day
* LASTUPDATE: Time of the last record update
* NOTE: Free note

In [1]:
# Importing the modules that might be used
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import dask.dataframe as dd
import sqlite3
from sqlalchemy import create_engine
from pprint import pprint

# ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Loading in the data
trips = pd.read_csv('/home/faye/data/rt_trips_DB_2018.txt', sep=';',error_bad_lines=False)
vehicles = pd.read_csv('/home/faye/data/rt_vehicles_DB_2018.txt', sep=';',error_bad_lines=False)

## Trips 
*Exploring the data*
<br><br>

In [3]:
trips.head(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,07-FEB-18 00:00:00,6253783,68,68_80,1,87245,84600,87524.0,84600.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2967409,"
1,DB,07-FEB-18 00:00:00,6262138,25B,25B_271,2,30517,26460,32752.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2580260,"
2,DB,07-FEB-18 00:00:00,6254942,45A,45A_70,2,35512,32100,36329.0,32082.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2448968,"
3,DB,07-FEB-18 00:00:00,6259460,25A,25A_273,1,57261,54420,58463.0,54443.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3094242,"
4,DB,07-FEB-18 00:00:00,6253175,14,14_15,1,85383,81600,84682.0,81608.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2526331,"
5,DB,07-FEB-18 00:00:00,6248240,77A,77A_28,2,41648,37200,42019.0,37538.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2966500,"
6,DB,07-FEB-18 00:00:00,6251760,39,39_21,2,34768,28920,35709.0,28929.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2422850,"
7,DB,07-FEB-18 00:00:00,6262909,16,16_20,1,43936,38880,43721.0,38955.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3045261,"
8,DB,07-FEB-18 00:00:00,6251147,40D,40D_102,1,33558,30600,34540.0,31185.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2837123,"
9,DB,07-FEB-18 00:00:00,6249435,27B,27B_34,2,52682,49800,53281.0,49974.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2329338,"
10,DB,07-FEB-18 00:00:00,6251483,142,142_9,2,44024,43200,44145.0,43187.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2343693,"
11,DB,07-FEB-18 00:00:00,6254310,83,83_22,2,63726,58500,64791.0,58562.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2962762,"
12,DB,07-FEB-18 00:00:00,6258441,14,14_15,1,59582,54900,59993.0,55030.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2517810,"
13,DB,07-FEB-18 00:00:00,6247622,130,130_10,1,50480,48900,50726.0,48866.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2742186,"
14,DB,07-FEB-18 00:00:00,6256532,15,15_16,1,39735,35400,40029.0,35427.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2984103,"
15,DB,07-FEB-18 00:00:00,6253924,46A,46A_74,1,65768,60960,66075.0,60926.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059400,"
16,DB,07-FEB-18 00:00:00,6256349,33,33_44,1,75342,70200,75994.0,70247.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2879393,"
17,DB,07-FEB-18 00:00:00,6259785,7,7_70,2,51603,47700,52818.0,47996.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2792936,"
18,DB,07-FEB-18 00:00:00,6246028,39A,39A_40,1,49276,44400,50038.0,44382.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2416632,"
19,DB,07-FEB-18 00:00:00,6261203,39A,39A_43,2,39535,34800,40249.0,34984.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2429602,"
20,DB,07-FEB-18 00:00:00,6262164,46A,46A_74,1,28877,24480,29657.0,24697.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3059412,"
21,DB,07-FEB-18 00:00:00,6258154,49,49_28,2,79199,76800,NaN,76850.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3010723,"
22,DB,07-FEB-18 00:00:00,6253554,1,1_40,2,67645,63600,68803.0,63629.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2860774,"
23,DB,07-FEB-18 00:00:00,6246745,15,15_16,1,35708,30120,36589.0,30116.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2974941,"
24,DB,07-FEB-18 00:00:00,6246014,123,123_34,1,42848,39600,43203.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2968050,"
25,DB,07-FEB-18 00:00:00,6254029,83,83_22,2,43830,39600,43540.0,38663.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2962513,"
26,DB,07-FEB-18 00:00:00,6256059,41,41_7,2,24982,21600,24871.0,21573.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",1745602,"
27,DB,07-FEB-18 00:00:00,6257123,67X,67X_38,1,68537,62400,68039.0,62358.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2505176,"
28,DB,07-FEB-18 00:00:00,6259641,59,59_10,1,84864,84000,84890.0,84076.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2792060,"
29,DB,07-FEB-18 00:00:00,6245836,9,9_5,1,64573,59400,64689.0,59400.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3104100,"
30,DB,07-FEB-18 00:00:00,6252377,130,130_10,1,33603,32100,34695.0,32827.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2738809,"
31,DB,07-FEB-18 00:00:00,6254347,40,40_27,1,65745,59400,66373.0,59468.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2827826,"
32,DB,07-FEB-18 00:00:00,6251013,39A,39A_40,1,71287,66600,72534.0,66602.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2426544,"
33,DB,07-FEB-18 00:00:00,6260186,239,239_28,2,51141,48600,51931.0,48867.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2817821,"
34,DB,07-FEB-18 00:00:00,6253738,76,76_37,2,58000,55200,59381.0,NaN,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",1866216,"
35,DB,07-FEB-18 00:00:00,6247623,130,130_11,2,53001,51300,53007.0,51271.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2742188,"
36,DB,07-FEB-18 00:00:00,6260764,84,84_27,1,78393,74400,79456.0,74212.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",2817781,2817781,"
37,DB,07-FEB-18 00:00:00,6261193,53,53_20,1,32015,30300,32474.0,30403.0,BasDef,NaN,NaN,NaN,28-FEB-18 12:05:11,",3017015,"
38,DB,18-FEB-18 00:00:00,6268949,185,185_55,1,58751,57000,58834.0,56961.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817535,"
39,DB,18-FEB-18 00:00:00,6268951,185,185_55,1,63551,61800,64229.0,62013.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817537,"
40,DB,18-FEB-18 00:00:00,6268953,185,185_55,1,68351,66600,68536.0,66599.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",2817539,"
41,DB,18-FEB-18 00:00:00,6268387,16,16_20,1,37539,33600,37884.0,33710.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1893714,"
42,DB,18-FEB-18 00:00:00,6277453,16,16_20,1,35139,31200,35178.0,31224.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1893072,"
43,DB,18-FEB-18 00:00:00,6277810,16,16_20,1,36339,32400,36783.0,32587.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1899248,"
44,DB,18-FEB-18 00:00:00,6272110,41,41_3,1,63111,60000,63646.0,60262.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1725959,"
45,DB,18-FEB-18 00:00:00,6278258,41,41_3,1,58911,55800,59123.0,55821.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1718226,"
46,DB,18-FEB-18 00:00:00,6270605,41,41_3,1,67311,64200,67296.0,NaN,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1742993,"
47,DB,18-FEB-18 00:00:00,6279865,41,41_3,1,61911,58800,61749.0,58786.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1748498,"
48,DB,18-FEB-18 00:00:00,6275294,41,41_3,1,57411,54300,57660.0,54244.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1732239,"
49,DB,18-FEB-18 00:00:00,6274325,41,41_3,1,64611,61500,NaN,61517.0,BasDef,NaN,NaN,NaN,26-FEB-18 11:09:33,",1745874,"

In [4]:
trips.tail(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
2182587,DB,14-MAY-18 00:00:00,6759988,13,13_60,1,36878,30600,37027.0,30675.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2585326,"
2182588,DB,14-MAY-18 00:00:00,6760080,140,140_19,1,65691,61800,65742.0,61903.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3107607,"
2182589,DB,14-MAY-18 00:00:00,6760086,111,111_8,2,47924,45000,47856.0,45022.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2799029,"
2182590,DB,14-MAY-18 00:00:00,6760100,123,123_34,1,37796,34080,38199.0,34015.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3224378,"
2182591,DB,14-MAY-18 00:00:00,6760154,76,76_37,2,32300,29400,32323.0,29403.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1866120,"
2182592,DB,14-MAY-18 00:00:00,6763776,33,33_72,2,44067,38700,44405.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2887911,"
2182593,DB,14-MAY-18 00:00:00,6763777,33,33_45,1,50207,45000,50026.0,44986.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2887912,"
2182594,DB,14-MAY-18 00:00:00,6763797,84,84_31,2,45325,40200,45657.0,40330.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2817661,"
2182595,DB,14-MAY-18 00:00:00,6763806,151,151_15,1,28267,24600,28932.0,24609.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2602899,"
2182596,DB,14-MAY-18 00:00:00,6763831,151,151_16,1,72032,68400,71940.0,68426.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2604009,"
2182597,DB,14-MAY-18 00:00:00,6763881,17A,17A_17,2,77322,73800,77364.0,73904.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3056911,"
2182598,DB,14-MAY-18 00:00:00,6757370,67,67_6,2,55074,51120,55335.0,51199.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2309695,"
2182599,DB,14-MAY-18 00:00:00,6757400,47,47_139,1,34234,30600,34373.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3064142,"
2182600,DB,14-MAY-18 00:00:00,6757403,47,47_135,2,48956,45900,NaN,45868.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3064149,"
2182601,DB,14-MAY-18 00:00:00,6757455,161,161_51,2,60000,58200,60794.0,60043.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2516559,"
2182602,DB,14-MAY-18 00:00:00,6757468,33,33_44,1,85615,81000,85451.0,80978.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2881017,"
2182603,DB,14-MAY-18 00:00:00,6757509,27A,27A_4,1,27630,26100,27565.0,26088.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2332362,"
2182604,DB,14-MAY-18 00:00:00,6757514,27A,27A_5,2,41275,39300,41137.0,39259.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3021208,"
2182605,DB,14-MAY-18 00:00:00,6757515,27A,27A_4,1,43981,42300,44179.0,42300.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2332374,"
2182606,DB,14-MAY-18 00:00:00,6762371,130,130_11,2,48237,46500,48766.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2742184,"
2182607,DB,14-MAY-18 00:00:00,6762374,130,130_10,1,55595,53700,NaN,53695.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2742190,"
2182608,DB,14-MAY-18 00:00:00,6762495,25A,25A_270,2,70937,68100,71080.0,68087.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2292191,"
2182609,DB,14-MAY-18 00:00:00,6762520,45A,45A_60,1,44183,40800,44295.0,40990.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2449013,"
2182610,DB,14-MAY-18 00:00:00,6763184,53,53_20,1,66256,64800,66325.0,64757.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3025380,"
2182611,DB,14-MAY-18 00:00:00,6762805,140,140_21,2,65822,61800,67231.0,61783.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3111750,"
2182612,DB,14-MAY-18 00:00:00,6762895,27,27_19,1,83840,79200,83564.0,79150.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2968125,"
2182613,DB,14-MAY-18 00:00:00,6762930,9,9_7,2,60607,55800,60623.0,55779.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3092129,"
2182614,DB,14-MAY-18 00:00:00,6762969,18,18_3,1,72779,69900,73095.0,69892.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1741522,"
2182615,DB,14-MAY-18 00:00:00,6764976,7A,7A_87,2,60689,55800,60680.0,55810.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2803284,"
2182616,DB,14-MAY-18 00:00:00,6765053,54A,54A_12,2,51043,47700,51366.0,47694.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1731919,"
2182617,DB,14-MAY-18 00:00:00,6765067,26,26_24,1,65698,63420,66598.0,63353.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1752362,"
2182618,DB,14-MAY-18 00:00:00,6765072,56A,56A_31,1,33975,30600,34936.0,31335.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1724120,"
2182619,DB,14-MAY-18 00:00:00,6765081,56A,56A_30,2,74271,71100,73770.0,71114.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1724145,"
2182620,DB,14-MAY-18 00:00:00,6765101,79A,79A_28,2,85324,83700,85545.0,83703.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1731822,"
2182621,DB,14-MAY-18 00:00:00,6756423,40D,40D_102,1,30793,27900,30847.0,27898.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1734083,"
2182622,DB,14-MAY-18 00:00:00,6756429,40D,40D_102,1,66268,63000,66445.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2837991,"
2182623,DB,14-MAY-18 00:00:00,6767663,40D,40D_104,2,44194,41400,44430.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2826305,"
2182624,DB,14-MAY-18 00:00:00,6754588,41,41_7,2,26013,22500,25537.0,22489.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",1738124,"
2182625,DB,14-MAY-18 00:00:00,6757965,151,151_15,1,29917,25800,29576.0,25846.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2595624,"
2182626,DB,14-MAY-18 00:00:00,6758027,145,145_105,2,38939,33600,40052.0,33573.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2421976,"
2182627,DB,14-MAY-18 00:00:00,6765635,130,130_11,2,49437,47700,49634.0,47710.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2739056,"
2182628,DB,14-MAY-18 00:00:00,6765649,130,130_11,2,83843,82500,83809.0,82525.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2739084,"
2182629,DB,14-MAY-18 00:00:00,6765652,53,53_21,2,30626,29100,30482.0,29119.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024762,"
2182630,DB,14-MAY-18 00:00:00,6765662,53,53_21,2,65950,64800,66270.0,64815.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3024821,"
2182631,DB,14-MAY-18 00:00:00,6765828,45A,45A_68,1,28647,25800,28688.0,25858.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2448734,"
2182632,DB,14-MAY-18 00:00:00,6765849,123,123_36,2,61560,57840,61365.0,57859.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3216350,"
2182633,DB,14-MAY-18 00:00:00,6765469,75,75_17,1,53416,48600,NaN,48823.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2865284,"
2182634,DB,14-MAY-18 00:00:00,6765486,33D,33D_62,2,29460,26400,29904.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3077688,"
2182635,DB,14-MAY-18 00:00:00,6764987,70,70_60,1,65277,60600,66341.0,NaN,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",3208841,"
2182636,DB,14-MAY-18 00:00:00,6765012,27,27_19,1,47722,41700,47508.0,41642.0,BasDef,NaN,NaN,NaN,26-JUN-18 09:13:13,",2960092,"

In [5]:
# Columns and rows
trips.shape

(2182637, 16)

In [6]:
trips.dtypes

DATASOURCE          object
DAYOFSERVICE        object
TRIPID               int64
LINEID              object
ROUTEID             object
DIRECTION            int64
PLANNEDTIME_ARR      int64
PLANNEDTIME_DEP      int64
ACTUALTIME_ARR     float64
ACTUALTIME_DEP     float64
BASIN               object
TENDERLOT          float64
SUPPRESSED         float64
JUSTIFICATIONID    float64
LASTUPDATE          object
NOTE                object
dtype: object

In [7]:
trips.isnull().sum()

DATASOURCE               0
DAYOFSERVICE             0
TRIPID                   0
LINEID                   0
ROUTEID                  0
DIRECTION                0
PLANNEDTIME_ARR          0
PLANNEDTIME_DEP          0
ACTUALTIME_ARR      137207
ACTUALTIME_DEP      164551
BASIN                    0
TENDERLOT          2182637
SUPPRESSED         2178304
JUSTIFICATIONID    2178307
LASTUPDATE               0
NOTE                     0
dtype: int64

In [8]:
trips.nunique()

DATASOURCE              1
DAYOFSERVICE          360
TRIPID             658964
LINEID                130
ROUTEID               588
DIRECTION               2
PLANNEDTIME_ARR     64461
PLANNEDTIME_DEP       791
ACTUALTIME_ARR      68122
ACTUALTIME_DEP      66771
BASIN                   1
TENDERLOT               0
SUPPRESSED              1
JUSTIFICATIONID      3526
LASTUPDATE            360
NOTE                46690
dtype: int64

In [9]:
# trips_columns = list(trips.columns.values)

In [10]:
# Seperating features
categorical_columns = ['DATASOURCE','TRIPID','LINEID','ROUTEID','DIRECTION','BASIN','TENDERLOT','JUSTIFICATIONID','NOTE','SUPPRESSED']
time_columns = ['PLANNEDTIME_ARR','PLANNEDTIME_DEP','ACTUALTIME_ARR','ACTUALTIME_DEP']
datetime = ['DAYOFSERVICE','LASTUPDATE']

# Converting seconds into times and into datetime series
import datetime
for row in trips['PLANNEDTIME_ARR']:
    trips['PLANNEDTIME_ARR'] = trips['PLANNEDTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['PLANNEDTIME_DEP']:
    trips['PLANNEDTIME_DEP'] = trips['PLANNEDTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_ARR']:
    trips['ACTUALTIME_ARR'] = trips['ACTUALTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_DEP']:
    trips['ACTUALTIME_DEP'] = trips['ACTUALTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))

In [11]:
# Converting objects into categorical types
for column in categorical_columns:
    trips[column] = trips[column].astype('category')

# Converting objects into datetime series
for column2 in datetime:
    trips[column2] = pd.to_datetime(trips[column2])

In [12]:
trips.dtypes

DATASOURCE               category
DAYOFSERVICE       datetime64[ns]
TRIPID                   category
LINEID                   category
ROUTEID                  category
DIRECTION                category
PLANNEDTIME_ARR             int64
PLANNEDTIME_DEP             int64
ACTUALTIME_ARR            float64
ACTUALTIME_DEP            float64
BASIN                    category
TENDERLOT                category
SUPPRESSED               category
JUSTIFICATIONID          category
LASTUPDATE         datetime64[ns]
NOTE                     category
dtype: object

In [13]:
# Converting the time columns seconds into times. The days part should be ignored.
for column3 in time_columns:
    trips[column3] = trips[column3].apply(pd.to_timedelta, unit='s')
    trips[column3] = trips[column3]- pd.to_timedelta(trips[column3].dt.days, unit='d')

In [14]:
trips.head(10)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
0,DB,2018-02-07,6253783,68,68_80,1,0 days 00:14:05,0 days 23:30:00,0 days 00:18:44,0 days 23:30:00,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2967409,"
1,DB,2018-02-07,6262138,25B,25B_271,2,0 days 08:28:37,0 days 07:21:00,0 days 09:05:52,NaT,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2580260,"
2,DB,2018-02-07,6254942,45A,45A_70,2,0 days 09:51:52,0 days 08:55:00,0 days 10:05:29,0 days 08:54:42,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2448968,"
3,DB,2018-02-07,6259460,25A,25A_273,1,0 days 15:54:21,0 days 15:07:00,0 days 16:14:23,0 days 15:07:23,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",3094242,"
4,DB,2018-02-07,6253175,14,14_15,1,0 days 23:43:03,0 days 22:40:00,0 days 23:31:22,0 days 22:40:08,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2526331,"
5,DB,2018-02-07,6248240,77A,77A_28,2,0 days 11:34:08,0 days 10:20:00,0 days 11:40:19,0 days 10:25:38,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2966500,"
6,DB,2018-02-07,6251760,39,39_21,2,0 days 09:39:28,0 days 08:02:00,0 days 09:55:09,0 days 08:02:09,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2422850,"
7,DB,2018-02-07,6262909,16,16_20,1,0 days 12:12:16,0 days 10:48:00,0 days 12:08:41,0 days 10:49:15,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",3045261,"
8,DB,2018-02-07,6251147,40D,40D_102,1,0 days 09:19:18,0 days 08:30:00,0 days 09:35:40,0 days 08:39:45,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2837123,"
9,DB,2018-02-07,6249435,27B,27B_34,2,0 days 14:38:02,0 days 13:50:00,0 days 14:48:01,0 days 13:52:54,BasDef,NaN,NaN,NaN,2018-02-28 12:05:11,",2329338,"

In [22]:
trips_sorted = trips.sort_values(by='TRIPID')
trips_sorted.head(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
681660,DB,2018-01-06,5955221,14,14_15,1,0 days 11:49:13,0 days 10:30:00,0 days 11:41:18,0 days 10:30:36,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2513511,"
723197,DB,2018-01-06,5955222,14,14_16,2,0 days 13:17:47,0 days 12:00:00,0 days 13:15:07,0 days 11:59:42,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2513514,"
684398,DB,2018-01-06,5955223,14,14_15,1,0 days 15:01:45,0 days 13:40:00,0 days 15:02:08,0 days 13:39:31,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2513515,"
719581,DB,2018-01-06,5955224,14,14_16,2,0 days 16:41:34,0 days 15:20:00,0 days 16:40:25,0 days 15:20:03,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429419,"
674864,DB,2018-01-06,5955225,14,14_15,1,0 days 18:15:51,0 days 17:00:00,0 days 18:08:52,0 days 16:59:21,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2513518,"
2064218,DB,2018-01-03,5955226,77A,77A_29,1,0 days 08:18:00,0 days 07:20:00,0 days 08:33:31,0 days 07:20:07,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2958050,"
2158096,DB,2018-01-02,5955226,77A,77A_29,1,0 days 08:18:00,0 days 07:20:00,0 days 08:18:23,0 days 07:19:45,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2958050,"
231424,DB,2018-01-05,5955226,77A,77A_29,1,0 days 08:18:00,0 days 07:20:00,0 days 08:29:39,0 days 07:20:32,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2958050,"
737493,DB,2018-01-04,5955226,77A,77A_29,1,0 days 08:18:00,0 days 07:20:00,0 days 08:28:26,0 days 07:19:54,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2958050,"
225052,DB,2018-01-05,5955227,77A,77A_28,2,0 days 10:32:05,0 days 09:00:00,0 days 10:11:17,0 days 08:59:53,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2432285,"
2057152,DB,2018-01-03,5955227,77A,77A_28,2,0 days 10:32:05,0 days 09:00:00,0 days 10:11:49,0 days 08:59:52,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432285,"
2155489,DB,2018-01-02,5955227,77A,77A_28,2,0 days 10:32:05,0 days 09:00:00,0 days 10:10:43,0 days 08:59:51,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2432285,"
2119594,DB,2018-01-04,5955227,77A,77A_28,2,0 days 10:32:05,0 days 09:00:00,0 days 10:12:58,0 days 08:59:46,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2432285,"
732682,DB,2018-01-04,5955228,77A,77A_29,1,0 days 12:01:29,0 days 10:40:00,0 days 11:59:31,0 days 10:40:34,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2432287,"
242014,DB,2018-01-05,5955228,77A,77A_29,1,0 days 12:01:29,0 days 10:40:00,0 days 11:58:03,0 days 10:41:27,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2432287,"
2061908,DB,2018-01-03,5955228,77A,77A_29,1,0 days 12:01:29,0 days 10:40:00,0 days 12:07:05,0 days 10:43:35,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432287,"
2161694,DB,2018-01-02,5955228,77A,77A_29,1,0 days 12:01:29,0 days 10:40:00,0 days 11:55:32,0 days 10:40:13,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2432287,"
2101746,DB,2018-01-04,5955229,77A,77A_28,2,0 days 13:43:32,0 days 12:20:00,0 days 13:39:46,0 days 12:19:49,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2432290,"
674979,DB,2018-01-05,5955229,77A,77A_28,2,0 days 13:43:32,0 days 12:20:00,0 days 13:34:59,0 days 12:20:22,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2432290,"
749640,DB,2018-01-02,5955229,77A,77A_28,2,0 days 13:43:32,0 days 12:20:00,0 days 13:32:19,0 days 12:17:38,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2432290,"
694994,DB,2018-01-03,5955229,77A,77A_28,2,0 days 13:43:32,0 days 12:20:00,0 days 13:42:12,0 days 12:19:06,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432290,"
2057153,DB,2018-01-03,5955230,77A,77A_29,1,0 days 15:28:31,0 days 14:00:00,0 days 15:09:43,0 days 14:00:28,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432292,"
2161612,DB,2018-01-02,5955230,77A,77A_29,1,0 days 15:28:31,0 days 14:00:00,0 days 15:14:20,0 days 13:59:26,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2432292,"
2119595,DB,2018-01-04,5955230,77A,77A_29,1,0 days 15:28:31,0 days 14:00:00,0 days 15:23:18,0 days 14:01:52,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2432292,"
240737,DB,2018-01-05,5955230,77A,77A_29,1,0 days 15:28:31,0 days 14:00:00,0 days 15:26:23,0 days 14:00:36,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2432292,"
2068181,DB,2018-01-03,5955231,77A,77A_28,2,0 days 17:12:27,0 days 15:40:00,0 days 16:56:56,0 days 15:39:29,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432295,"
2154036,DB,2018-01-02,5955231,77A,77A_28,2,0 days 17:12:27,0 days 15:40:00,0 days 16:55:46,0 days 15:39:30,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2432295,"
745588,DB,2018-01-04,5955231,77A,77A_28,2,0 days 17:12:27,0 days 15:40:00,0 days 17:00:10,0 days 15:39:22,BasDef,NaN,NaN,NaN,2018-01-11 18:55:15,",2432295,"
222252,DB,2018-01-05,5955231,77A,77A_28,2,0 days 17:12:27,0 days 15:40:00,0 days 16:53:35,0 days 15:39:40,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2432295,"
2152788,DB,2018-01-02,5955232,77A,77A_29,1,0 days 18:48:06,0 days 17:10:00,0 days 18:27:01,0 days 17:08:41,BasDef,NaN,NaN,NaN,2018-01-09 20:18:05,",2958055,"
215586,DB,2018-01-05,5955232,77A,77A_29,1,0 days 18:48:06,0 days 17:10:00,0 days 18:24:25,0 days 17:08:07,BasDef,NaN,NaN,NaN,2018-01-12 20:27:15,",2958055,"
214086,DB,2018-01-06,5955233,25,25_269,2,0 days 07:33:52,0 days 07:00:00,0 days 07:37:36,NaT,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295101,"
214075,DB,2018-01-06,5955234,25,25_272,1,0 days 08:40:15,0 days 08:05:00,0 days 08:38:29,0 days 08:05:29,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429434,"
214076,DB,2018-01-06,5955235,25,25_269,2,0 days 09:37:07,0 days 09:00:00,0 days 09:37:02,0 days 09:00:03,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295103,"
211744,DB,2018-01-06,5955236,25,25_272,1,0 days 10:48:59,0 days 10:05:00,0 days 11:03:09,0 days 10:05:17,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429436,"
715388,DB,2018-01-06,5955237,25,25_269,2,0 days 11:47:59,0 days 11:05:00,0 days 11:48:41,0 days 11:05:08,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295105,"
719593,DB,2018-01-06,5955238,25,25_272,1,0 days 12:51:16,0 days 12:05:00,0 days 12:44:43,0 days 12:04:42,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429438,"
720912,DB,2018-01-06,5955239,25,25_269,2,0 days 13:54:27,0 days 13:05:00,0 days 13:55:22,0 days 13:04:57,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295107,"
661290,DB,2018-01-06,5955240,25,25_272,1,0 days 14:51:16,0 days 14:05:00,0 days 14:48:37,0 days 14:04:15,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429440,"
723198,DB,2018-01-06,5955241,25,25_269,2,0 days 15:50:47,0 days 15:05:00,0 days 15:54:24,0 days 15:05:24,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295109,"
719594,DB,2018-01-06,5955242,25,25_272,1,0 days 16:49:01,0 days 16:05:00,0 days 16:55:51,0 days 16:05:16,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429442,"
681661,DB,2018-01-06,5955243,25,25_269,2,0 days 17:50:47,0 days 17:05:00,0 days 17:52:29,0 days 17:05:16,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295111,"
719477,DB,2018-01-06,5955244,25,25_272,1,0 days 18:49:01,0 days 18:05:00,0 days 18:52:35,0 days 18:04:29,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429444,"
680442,DB,2018-01-06,5955245,25,25_269,2,0 days 19:45:00,0 days 19:05:00,0 days 19:47:17,0 days 19:04:40,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295113,"
719595,DB,2018-01-06,5955246,25,25_272,1,0 days 20:46:14,0 days 20:05:00,0 days 20:47:46,0 days 20:04:36,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429446,"
723199,DB,2018-01-06,5955247,25,25_269,2,0 days 21:34:57,0 days 21:00:00,0 days 21:38:16,0 days 20:59:44,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295227,"
214087,DB,2018-01-06,5955248,25,25_272,1,0 days 22:41:49,0 days 22:05:00,0 days 22:41:24,0 days 22:05:10,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2429448,"
715389,DB,2018-01-06,5955249,25,25_269,2,0 days 23:34:57,0 days 23:00:00,NaT,0 days 23:00:21,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2295229,"
211745,DB,2018-01-06,5955250,46A,46A_67,2,0 days 09:41:01,0 days 08:40:00,0 days 09:27:23,0 days 08:39:17,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2087866,"
652225,DB,2018-01-06,5955251,46A,46A_74,1,0 days 11:05:30,0 days 10:00:00,0 days 11:07:38,0 days 09:59:43,BasDef,NaN,NaN,NaN,2018-01-15 08:25:25,",2454605,2454605,"

In [34]:
trip77a = trips_sorted.loc[trips_sorted['LINEID']=='77A']
trip77a = trip77a.loc[trips_sorted['DAYOFSERVICE']=='2018-01-03']
trip77a = trip77a.sort_values(by='PLANNEDTIME_ARR')
trip77a.head(50)

,DATASOURCE,DAYOFSERVICE,TRIPID,LINEID,ROUTEID,DIRECTION,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,BASIN,TENDERLOT,SUPPRESSED,JUSTIFICATIONID,LASTUPDATE,NOTE
694969,DB,2018-01-03,5965215,77A,77A_29,1,0 days 00:04:24,0 days 23:00:00,NaT,0 days 22:58:27,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2960125,"
2059759,DB,2018-01-03,5969376,77A,77A_28,2,0 days 00:25:09,0 days 23:30:00,0 days 00:14:56,0 days 23:29:40,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2965215,"
692364,DB,2018-01-03,5964114,77A,77A_29,1,0 days 00:29:24,0 days 23:25:00,NaT,0 days 23:25:04,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959823,"
707213,DB,2018-01-03,5957107,77A,77A_29,1,0 days 06:38:00,0 days 05:40:00,0 days 06:33:55,0 days 05:44:10,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966449,"
714026,DB,2018-01-03,5959625,77A,77A_29,1,0 days 06:58:00,0 days 06:00:00,0 days 06:54:40,0 days 05:59:25,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2969650,"
703209,DB,2018-01-03,5956817,77A,77A_29,1,0 days 07:18:00,0 days 06:20:00,0 days 07:08:01,0 days 06:19:26,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2964882,"
2062834,DB,2018-01-03,5964103,77A,77A_28,2,0 days 07:30:26,0 days 06:00:00,0 days 07:05:14,0 days 06:00:09,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959799,"
697807,DB,2018-01-03,5961549,77A,77A_29,1,0 days 07:38:00,0 days 06:40:00,0 days 07:47:24,0 days 06:40:07,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962842,"
2049037,DB,2018-01-03,5971472,77A,77A_28,2,0 days 07:50:26,0 days 06:20:00,0 days 07:27:45,0 days 06:20:03,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959038,"
701813,DB,2018-01-03,5957040,77A,77A_29,1,0 days 07:58:00,0 days 07:00:00,0 days 07:57:58,0 days 06:58:59,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2964410,"
689488,DB,2018-01-03,5969367,77A,77A_28,2,0 days 08:10:26,0 days 06:40:00,0 days 07:52:45,0 days 06:40:11,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2965195,"
2064218,DB,2018-01-03,5955226,77A,77A_29,1,0 days 08:18:00,0 days 07:20:00,0 days 08:33:31,0 days 07:20:07,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2958050,"
709963,DB,2018-01-03,5957108,77A,77A_28,2,0 days 08:30:26,0 days 07:00:00,0 days 08:18:22,0 days 07:00:14,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966451,"
714014,DB,2018-01-03,5964104,77A,77A_29,1,0 days 08:38:00,0 days 07:40:00,0 days 08:51:58,0 days 07:40:07,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959801,"
693708,DB,2018-01-03,5959626,77A,77A_28,2,0 days 08:50:26,0 days 07:20:00,0 days 08:41:24,0 days 07:19:52,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2969652,"
2047686,DB,2018-01-03,5970605,77A,77A_28,2,0 days 09:00:26,0 days 07:30:00,0 days 08:39:29,NaT,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962947,"
711373,DB,2018-01-03,5956818,77A,77A_28,2,0 days 09:10:26,0 days 07:40:00,0 days 08:50:34,0 days 07:12:28,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2964884,"
2064908,DB,2018-01-03,5971473,77A,77A_29,1,0 days 09:19:58,0 days 08:00:00,0 days 09:07:10,0 days 08:00:48,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959469,"
692247,DB,2018-01-03,5970294,77A,77A_28,2,0 days 09:20:26,0 days 07:50:00,0 days 09:00:27,0 days 07:49:09,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962212,"
2057252,DB,2018-01-03,5957220,77A,77A_28,2,0 days 09:32:05,0 days 08:00:00,0 days 09:17:01,0 days 07:59:08,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2968116,"
703215,DB,2018-01-03,5969368,77A,77A_29,1,0 days 09:39:58,0 days 08:20:00,0 days 09:30:55,0 days 08:20:48,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2965197,"
693716,DB,2018-01-03,5961550,77A,77A_28,2,0 days 09:42:05,0 days 08:10:00,0 days 09:29:33,0 days 08:10:12,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962844,"
2054455,DB,2018-01-03,5965206,77A,77A_28,2,0 days 09:52:05,0 days 08:20:00,0 days 09:34:55,0 days 08:19:05,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2960107,"
707214,DB,2018-01-03,5957109,77A,77A_29,1,0 days 09:59:58,0 days 08:40:00,0 days 10:03:11,0 days 08:41:46,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966453,"
2062781,DB,2018-01-03,5957041,77A,77A_28,2,0 days 10:02:05,0 days 08:30:00,0 days 09:38:27,0 days 08:31:32,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2964412,"
2047683,DB,2018-01-03,5971830,77A,77A_28,2,0 days 10:12:05,0 days 08:40:00,0 days 09:49:23,NaT,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966302,"
2047692,DB,2018-01-03,5959627,77A,77A_29,1,0 days 10:19:58,0 days 09:00:00,0 days 10:04:53,0 days 08:59:38,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2969654,"
2057152,DB,2018-01-03,5955227,77A,77A_28,2,0 days 10:32:05,0 days 09:00:00,0 days 10:11:49,0 days 08:59:52,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432285,"
697809,DB,2018-01-03,5970606,77A,77A_29,1,0 days 10:39:58,0 days 09:20:00,0 days 10:27:55,0 days 09:19:00,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962949,"
714015,DB,2018-01-03,5964105,77A,77A_28,2,0 days 10:52:05,0 days 09:20:00,0 days 10:29:28,0 days 09:20:06,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959803,"
687084,DB,2018-01-03,5970295,77A,77A_29,1,0 days 10:59:58,0 days 09:40:00,0 days 10:43:52,0 days 09:41:19,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962214,"
2064909,DB,2018-01-03,5971474,77A,77A_28,2,0 days 11:12:05,0 days 09:40:00,0 days 10:44:48,0 days 09:40:21,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959471,"
714056,DB,2018-01-03,5969369,77A,77A_28,2,0 days 11:20:01,0 days 10:00:00,0 days 11:09:54,0 days 10:00:05,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2965199,"
2068952,DB,2018-01-03,5965207,77A,77A_29,1,0 days 11:21:29,0 days 10:00:00,0 days 11:18:36,0 days 10:01:27,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2960109,"
2054489,DB,2018-01-03,5957110,77A,77A_28,2,0 days 11:40:01,0 days 10:20:00,0 days 11:23:57,0 days 10:19:23,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966500,"
692265,DB,2018-01-03,5971831,77A,77A_29,1,0 days 11:41:29,0 days 10:20:00,NaT,0 days 10:22:01,BasDef,NaN,0.0,179961.0,2018-01-11 18:46:25,",2966304,"
704510,DB,2018-01-03,5959628,77A,77A_28,2,0 days 12:00:01,0 days 10:40:00,0 days 11:43:53,0 days 10:39:00,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2969656,"
2061908,DB,2018-01-03,5955228,77A,77A_29,1,0 days 12:01:29,0 days 10:40:00,0 days 12:07:05,0 days 10:43:35,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432287,"
687041,DB,2018-01-03,5970607,77A,77A_28,2,0 days 12:20:01,0 days 11:00:00,0 days 12:10:25,0 days 10:58:38,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962951,"
2067264,DB,2018-01-03,5964106,77A,77A_29,1,0 days 12:21:29,0 days 11:00:00,0 days 12:32:13,0 days 11:03:13,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959806,"
696429,DB,2018-01-03,5970296,77A,77A_28,2,0 days 12:40:01,0 days 11:20:00,0 days 12:32:10,0 days 11:20:18,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962216,"
2047645,DB,2018-01-03,5971475,77A,77A_29,1,0 days 12:41:29,0 days 11:20:00,0 days 12:38:41,0 days 11:22:00,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959474,"
2062884,DB,2018-01-03,5965208,77A,77A_28,2,0 days 13:00:01,0 days 11:40:00,0 days 13:01:54,0 days 11:39:39,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2960111,"
703216,DB,2018-01-03,5969370,77A,77A_29,1,0 days 13:01:29,0 days 11:40:00,NaT,0 days 11:40:24,BasDef,NaN,0.0,179961.0,2018-01-11 18:46:25,",2965202,"
2065540,DB,2018-01-03,5957111,77A,77A_29,1,0 days 13:28:31,0 days 12:00:00,0 days 13:40:36,0 days 12:02:27,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2966502,"
694994,DB,2018-01-03,5955229,77A,77A_28,2,0 days 13:43:32,0 days 12:20:00,0 days 13:42:12,0 days 12:19:06,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2432290,"
712731,DB,2018-01-03,5959629,77A,77A_29,1,0 days 13:48:31,0 days 12:20:00,0 days 13:31:27,0 days 12:20:17,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2969658,"
712654,DB,2018-01-03,5964107,77A,77A_28,2,0 days 14:03:32,0 days 12:40:00,0 days 13:45:01,0 days 12:39:27,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2959808,"
703265,DB,2018-01-03,5970608,77A,77A_29,1,0 days 14:08:31,0 days 12:40:00,0 days 14:03:19,0 days 12:40:08,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962953,"
2064855,DB,2018-01-03,5970297,77A,77A_29,1,0 days 14:28:31,0 days 13:00:00,0 days 14:15:02,0 days 13:00:31,BasDef,NaN,NaN,NaN,2018-01-11 18:46:25,",2962218,"

## Note about this specific route
In this route, we took the route 77a from a date (January 3, 2018) and sorted it by PLANNEDTIME_ARR. It has a total of 101 rows. The first few values of PLANNEDTIME_ARR, these may be the last few trips that ran that day and it was just sorted as the top? In any case, We see that they provide data for each route for one day with all of the times. It is a matter of matching it with the leavetimes dataset then. This will be explored at the very end.

## Duplicates
Exploring if the trips dataset has any duplicates. There shouldn't be duplicates for any reason. The trips only siginify one route.

We see there aren't any duplicates so this is a good sign for the data.

In [17]:
duplicates = trips[trips.duplicated(keep=False)]
print("Number of rows that are duplicates: ", duplicates.shape[0])

Number of rows that are duplicates:  0

## Checking descriptive columns

In [18]:
trips[datetime].describe(datetime_is_numeric=True).T

,count,mean,min,25%,50%,75%,max
DAYOFSERVICE,2182637,2018-06-28 17:25:38.969786880,2018-01-01 00:00:00,2018-03-31 00:00:00,2018-06-28 00:00:00,2018-09-26 00:00:00,2018-12-31 00:00:00
LASTUPDATE,2182637,2018-07-16 10:25:44.996667392,2018-01-08 17:21:10,2018-04-10 15:08:12,2018-07-13 19:47:00,2018-10-23 06:57:21,2019-01-16 18:27:21

In [19]:
trips[time_columns].describe().T

,count,mean,std,min,25%,50%,75%,max
PLANNEDTIME_ARR,2182637,0 days 14:58:33.083917298,0 days 05:01:58.847667725,0 days 00:00:00,0 days 10:47:14,0 days 15:08:10,0 days 18:58:40,0 days 23:59:59
PLANNEDTIME_DEP,2182637,0 days 14:18:14.341037927,0 days 04:53:08.417924110,0 days 00:05:00,0 days 10:00:00,0 days 14:20:00,0 days 18:05:00,0 days 23:50:00
ACTUALTIME_ARR,2045430,0 days 15:00:19.765848745,0 days 04:59:23.886687638,0 days 00:00:00,0 days 10:48:42,0 days 15:07:59,0 days 19:00:00,0 days 23:59:59
ACTUALTIME_DEP,2018086,0 days 14:21:03.389364972,0 days 04:52:25.239888791,0 days 00:00:07,0 days 10:07:17.250000,0 days 14:20:09,0 days 18:09:41,0 days 23:59:58

In [20]:
trips[categorical_columns].describe().T

                   count  unique        top     freq
DATASOURCE       2182637       1         DB  2182637
TRIPID           2182637  658964    7324685       19
LINEID           2182637     130        46A    76728
ROUTEID          2182637     588     46A_74    37182
DIRECTION        2182637       2          2  1100273
BASIN            2182637       1     BasDef  2182637
TENDERLOT              0       0        NaN      NaN
JUSTIFICATIONID     4330    3526     203708       19
NOTE             2182637   46690  ,2326480,      244
SUPPRESSED          4333       1          0     4333

We see there a couple of features that have <= 1 cardinalities:
* DATASOURCE has 1 unique value.
* TRIPID has more than 600k unique values.
* LINEID has 130 unique values.
* ROUTEID has 588 unique values.
* DIRECTION has 2 unique values.
* BASIN has 1 unique values.
* TENDERLOT has no unique values meaning that it is just null.
* JUSTIFICATIONID has 4330 unique values.
* NOTE has more than 46k unique values.
* SUPPRESSED has 4333 unique values.

**RESULT :** As we can see, DATASOURCE, BASIN, TENDERLOT and SUPPRESSED has 1 or 0 unique values. This means the same value is consistent throughout the dataset. Therefore, these will be dropped.

## Logical Integrity Tests

List of integrity tests to be performed:
* Make sure LASTUPDATE dates doesn't occur before DAYSERVICE
* Ensure that the timetables match the specific route and their PLANNEDTIME_DEP
* Ensure that the routeID has the matching route number in LINEID

#### TEST 1: Ensure LASTUPDATE doesn't occur before DAYOFSERVICE

In [40]:
test1 = trips[trips['DAYOFSERVICE'] > trips['LASTUPDATE']]
print("The number of rows that have dates that occur before DAYOFSERVICE from LASTUPDATES is: ", test1.shape[0])

The number of rows that have dates that occur before DAYOFSERVICE from LASTUPDATES is:  0

#### TEST 2: Ensure timetables match the specific route with PLANNEDTIME_DEP
This is to check that the timetables match with all of the routes. We take a look at PLANNEDTIME_DEP to check this.

In [46]:
# Need to get a list of all of the routes and their timetables, then compare it with the routes 
# and their planned departure times

# Make a dataframe with just LINEID and PLANNEDTIME_DEP and make a list of all of the routes, order them
data = {'LINEID': trips['LINEID'], 'PLANNEDTIME_DEP': trips['PLANNEDTIME_DEP']}
line_dep = pd.DataFrame(data)
list_routes = list(line_dep.LINEID.unique())
list_routes = sorted(list_routes)

In [73]:
!pip3 install beautifulsoup4

Collecting beautifulsoup4
  Using cached https://files.pythonhosted.org/packages/d1/41/e6495bd7d3781cee623ce23ea6ac73282a373088fcd0ddc809a047b18eae/beautifulsoup4-4.9.3-py3-none-any.whl
Collecting soupsieve>1.2; python_version >= "3.0" (from beautifulsoup4)
  Using cached https://files.pythonhosted.org/packages/36/69/d82d04022f02733bf9a72bc3b96332d360c0c5307096d76f6bb7489f7e57/soupsieve-2.2.1-py3-none-any.whl
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.9.3 soupsieve-2.2.1

* Connect to the dublinbus website
* Get the url for the one that shows the timetable for one route
* Loop through list_route and apply it at the end of the url
* Get the following:
    * times
    * day
* day search by 'strong'
* times search by 'div class="time"'
* Store the times values in a dataframe:
    * Weekday (monday - friday)
    * Saturday
    * Sunday

In [127]:
# Make a dataframe that scrapes the route numbers and the times within that route
import requests

# Making a timetables variable to store the link
url = 'https://www.dublinbus.ie/Your-Journey1/Timetables/All-Timetables/25/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')
find = soup.find(id='ctl00_FullRegion_MainRegion_MainContentRegion_MainBodyRegion_Timetable1_ctl02_DataList1_ctl00_dlTimeTop')

# Need to find a way to only get the interger and put it on a list
times_weekday = soup.find_all("div", {"class": "time"})

In [147]:
# Lets convert times_weekday into a list and then convert its values into a string
times_weekday = list(times_weekday)
for value in range(len(times_weekday)):
    times_weekday[value] = str(times_weekday[value])

# Then, using regex, get the interger and convert it to a string version of timedelta then put it in a list
import re
weekdays = []
for value in range(len(times_weekday)):
    parse = re.findall('\d+', times_weekday[value])
    time = str('0 days ' + parse[0] + ':' + parse[1] + ':00')
    weekdays += [time]

In [153]:
# These are not all weekdays
weekdays

['0 days 08:20:00',
 '0 days 09:20:00',
 '0 days 10:20:00',
 '0 days 11:20:00',
 '0 days 12:20:00',
 '0 days 13:20:00',
 '0 days 14:20:00',
 '0 days 15:20:00',
 '0 days 16:20:00',
 '0 days 16:50:00',
 '0 days 17:20:00',
 '0 days 18:30:00',
 '0 days 19:30:00',
 '0 days 20:30:00',
 '0 days 21:30:00',
 '0 days 22:30:00',
 '0 days 23:20:00',
 '0 days 07:05:00',
 '0 days 08:05:00',
 '0 days 09:05:00',
 '0 days 10:05:00',
 '0 days 11:05:00',
 '0 days 12:05:00',
 '0 days 13:05:00',
 '0 days 14:05:00',
 '0 days 15:05:00',
 '0 days 16:05:00',
 '0 days 17:05:00',
 '0 days 18:05:00',
 '0 days 19:05:00',
 '0 days 20:05:00',
 '0 days 21:05:00',
 '0 days 22:05:00',
 '0 days 23:05:00',
 '0 days 11:40:00',
 '0 days 13:40:00',
 '0 days 15:40:00',
 '0 days 17:40:00',
 '0 days 19:40:00',
 '0 days 21:40:00',
 '0 days 23:25:00',
 '0 days 06:40:00',
 '0 days 06:55:00',
 '0 days 07:10:00',
 '0 days 08:05:00',
 '0 days 09:20:00',
 '0 days 10:20:00',
 '0 days 11:20:00',
 '0 days 12:20:00',
 '0 days 13:20:00',
 '0 days 14:20:00',
 '0 days 15:20:00',
 '0 days 16:20:00',
 '0 days 17:30:00',
 '0 days 18:30:00',
 '0 days 19:30:00',
 '0 days 20:30:00',
 '0 days 21:30:00',
 '0 days 22:30:00',
 '0 days 23:30:00',
 '0 days 07:00:00',
 '0 days 08:00:00',
 '0 days 09:00:00',
 '0 days 10:05:00',
 '0 days 11:05:00',
 '0 days 12:05:00',
 '0 days 13:05:00',
 '0 days 14:05:00',
 '0 days 15:05:00',
 '0 days 16:05:00',
 '0 days 17:05:00',
 '0 days 18:05:00',
 '0 days 19:05:00',
 '0 days 20:05:00',
 '0 days 21:00:00',
 '0 days 22:00:00',
 '0 days 23:00:00',
 '0 days 10:40:00',
 '0 days 12:40:00',
 '0 days 14:40:00',
 '0 days 16:40:00',
 '0 days 18:40:00',
 '0 days 20:40:00',
 '0 days 22:40:00']

#### Converting seconds into times and into datetime series
import datetime
for row in trips['PLANNEDTIME_ARR']:
    trips['PLANNEDTIME_ARR'] = trips['PLANNEDTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['PLANNEDTIME_DEP']:
    trips['PLANNEDTIME_DEP'] = trips['PLANNEDTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_ARR']:
    trips['ACTUALTIME_ARR'] = trips['ACTUALTIME_ARR'].replace(row, str(datetime.timedelta(seconds=row)))

for row in trips['ACTUALTIME_DEP']:
    trips['ACTUALTIME_DEP'] = trips['ACTUALTIME_DEP'].replace(row, str(datetime.timedelta(seconds=row)))
    
trips1 = trips
trips2 = trips1['PLANNEDTIME_ARR']
trips2 = trips2.apply(pd.to_timedelta, unit='s')
trips2 = trips2 - pd.to_timedelta(trips2.dt.days, unit='d')
trips2.head()