<a id="top"></a>

The aim of this notebook is to clean and prepare the Met Eireann historical weather data for 2018

***

# Import Packages

In [2]:
import pandas as pd

***

# Load Data

In [5]:
df_weather = pd.read_csv('/home/faye/data/historical_weather.csv',error_bad_lines=False)

/home/faye/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (2,4,6,7,8,9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

***

# Contents

***

# 1. Overview of the Original Dataset

In [7]:
# print the number of rows and features
num_rows = df_weather.shape[0]
features = df_weather.shape[1]
print(f"The dataset has {num_rows} rows with {features} features.")

The dataset has 155976 rows with 11 features.

In [9]:
# print the first 5 rows of the dataset
print("The first 5 Rows are:")
df_weather.head(5)

The first 5 Rows are:

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
0,16-aug-2003 01:00,0,0.0,0,9.2,0,8.9,8.5,11.1,95,1021.9
1,16-aug-2003 02:00,0,0.0,0,9.0,0,8.7,8.5,11.1,96,1021.7
2,16-aug-2003 03:00,0,0.0,0,8.2,0,8.0,7.7,10.5,96,1021.2
3,16-aug-2003 04:00,0,0.0,0,8.4,0,8.1,7.9,10.7,97,1021.2
4,16-aug-2003 05:00,0,0.0,0,7.7,0,7.5,7.3,10.2,97,1021.1

In [11]:
# print the last 5 rows of the dataset
print("The last 5 Rows are:")
df_weather.tail(5)

The last 5 Rows are:

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
155971,31-may-2021 20:00,0,0,0,15,0,12.5,10.3,12.5,73,1015.4
155972,31-may-2021 21:00,0,0,0,14.5,0,12.1,10,12.3,74,1015.3
155973,31-may-2021 22:00,0,0,0,13.4,0,11.6,10.1,12.3,80,1015.3
155974,31-may-2021 23:00,0,0,0,14.3,0,11.6,9,11.5,70,1015.2
155975,01-jun-2021 00:00,0,0,0,15.1,0,12.1,9.2,11.6,67,1014.9

***

# 2. Filter out 2018 data

In [14]:
# print the data type for each feature
df_weather.dtypes

date     object
ind       int64
rain     object
ind.1     int64
temp     object
ind.2     int64
wetb     object
dewpt    object
vappr    object
rhum     object
msl      object
dtype: object

> The date feature if currently an object, I need to convert this to a datetime.

In [15]:
# convert the 'date' feature to datetime
df_weather['date'] = pd.to_datetime(df_weather['date'])

In [16]:
# print the data type for each feature
df_weather.dtypes

date     datetime64[ns]
ind               int64
rain             object
ind.1             int64
temp             object
ind.2             int64
wetb             object
dewpt            object
vappr            object
rhum             object
msl              object
dtype: object

In [22]:
# filter the data, keep only 2018 data
df_weather = df_weather[(df_weather['date'] >= '2018-01-01') & (df_weather['date'] < '2019-01-01')]

# Overview of 2018 data

In [24]:
# print the number of rows and features
num_rows = df_weather.shape[0]
features = df_weather.shape[1]
print(f"The dataset has {num_rows} rows with {features} features.")

The dataset has 8760 rows with 11 features.

In [25]:
# print the first 5 rows of the dataset
print("The first 5 Rows are:")
df_weather.head(5)

The first 5 Rows are:

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
126047,2018-01-01 00:00:00,0,0,0,4.6,0,3.5,1.8,6.9,82,991
126048,2018-01-01 01:00:00,0,0.1,0,4.7,0,3.6,1.8,7,81,991.1
126049,2018-01-01 02:00:00,0,0,0,4.8,0,3.7,1.9,7,81,991.1
126050,2018-01-01 03:00:00,0,0,0,4.9,0,3.8,2.2,7.2,82,990.7
126051,2018-01-01 04:00:00,0,0,0,5.3,0,4.1,2.3,7.2,81,990.3

In [26]:
# print the last 5 rows of the dataset
print("The last 5 Rows are:")
df_weather.tail(5)

The last 5 Rows are:

,date,ind,rain,ind.1,temp,ind.2,wetb,dewpt,vappr,rhum,msl
134802,2018-12-31 19:00:00,0,0,0,9.9,0,7.9,5.5,9,74,1034.9
134803,2018-12-31 20:00:00,0,0,0,9.9,0,8,5.8,9.2,75,1035
134804,2018-12-31 21:00:00,0,0,0,9.9,0,7.9,5.7,9.1,75,1035
134805,2018-12-31 22:00:00,0,0,0,9.9,0,8,5.9,9.3,76,1035.1
134806,2018-12-31 23:00:00,0,0,0,9.8,0,7.9,5.7,9.1,75,1035.2

***

[Back to top](#top)